@page "/equipment-records"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Department.Services
@using TsiErp.Business.Entities.EquipmentRecord.Services
@using TsiErp.Entities.Entities.Department.Dtos
@using TsiErp.Entities.Entities.EquipmentRecord
@using TsiErp.Entities.Entities.EquipmentRecord.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectEquipmentRecordsDto, ListEquipmentRecordsDto, CreateEquipmentRecordsDto, UpdateEquipmentRecordsDto, ListEquipmentRecordsParameterDto>


@inject IEquipmentRecordsAppService EquipmentRecordsService
@inject IDepartmentsAppService DepartmentsAppService


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Kalite Kontrol > Ekipmanlar" CurrentMenu="Ekipman Kayıtları" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardHeader >
                                <table width="100%">
                                    <tr>
                                        <td width="20%">
                                          
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%"> 
                                        <SfButton CssClass="TSIShowColumnsButton" OnClick="ShowColumns"><SfIcon Size="IconSize.Medium" Name="IconName.TwoColumn"></SfIcon>&nbsp;Sütunları Göster</SfButton>

                                        </td>
                                    </tr>
                                </table>

                            </CardHeader>
                        <CardContent>
                            <SfGrid ID="Grid" @ref="@_grid" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridColumnChooserSettings>
                                        <FooterTemplate>
                                            @{
                                                var ContextData = context as ColumnChooserFooterTemplateContext;
                                                var visibles = ContextData.Columns.Where(x => x.Visible).Select(x => x.HeaderText).ToArray();
                                                var hiddens = ContextData.Columns.Where(x => !x.Visible).Select(x => x.HeaderText).ToArray();
                                        }
                                        <SfButton CssClass="TSISubmitButton" IsPrimary="true" OnClick="@(async () => {
                                         await _grid.ShowColumnsAsync(visibles);
                                         await _grid.HideColumnsAsync(hiddens); })"><SfIcon Size="IconSize.Medium" Name="IconName.Eye"></SfIcon>&nbsp;Göster</SfButton>

                                        <SfButton CssClass="TSICancelButton" @onclick="@(async () => await ContextData.CancelAsync())">
                                            <SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;İptal
                                        </SfButton>

                                    </FooterTemplate>
                                </GridColumnChooserSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListEquipmentRecordsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.Code) HeaderText="EKİPMAN KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.Name) HeaderText="EKİPMAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.MeasuringRange) HeaderText="ÖLÇME ARALIĞI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.MeasuringAccuracy) HeaderText="ÖLÇME HASSASİYETİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.DepartmentName) HeaderText="DEPARTMAN" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.Responsible) HeaderText="SORUMLU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.Frequency) HeaderText="SIKLIK" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.EquipmentSerialNo) HeaderText="EKİPMAN SERİ NO" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.RecordDate) Type="ColumnType.Date" HeaderText="KAYIT TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.Cancel) DisplayAsCheckBox="true" HeaderText="İPTAL" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.CancellationDate) Type="ColumnType.Date" HeaderText="İPTAL TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEquipmentRecordsDto.CancellationReason)  HeaderText="İPTAL NEDENİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Ekipman Kayıtları"
         Width="1100px"
         Height="400px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout>
                <Rows>
                    <DxGridLayoutRow Height="100px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="50px" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ekipman Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Ekipman Kodunu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ekipman Adı: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Ekipman Adını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ölçme Aralığı: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.MeasuringRange" Placeholder="Ölçme Aralığını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ölçme Hassasiyeti: </strong></label>
                            <SfTextBox Placeholder="Ölçme Hassasiyetini Yazınız." @bind-Value="DataSource.MeasuringAccuracy" CssClass="TSITxtBox"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Departman: </strong></label>
                            <SfComboBox @ref="DepartmentsComboBox"
                                    TValue="string"
                                    TItem="ListDepartmentsDto"
                                    Placeholder="Departman Seçin"
                                    CssClass="e-multi-column"
                                    Value="@DataSource.DepartmentName"
                                    DataSource="@DepartmentsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListDepartmentsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Departman Kodu</th>
                                                <th class="e-text-center">Departman Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListDepartmentsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListDepartmentsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListDepartmentsDto"
                                            Filtering="DepartmentFiltering"
                                            ValueChange="DepartmentValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sorumlu: </strong></label>
                            <SfTextBox Placeholder="Sorumluyu Yazınız." @bind-Value="DataSource.Responsible" CssClass="TSITxtBox"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sıklık: </strong></label><br />
                            <SfTextBox Placeholder="Sıklık Yazınız." @bind-Value="DataSource.Frequency" CssClass="TSITxtBox"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ekipman Seri No: </strong></label><br />
                            <SfTextBox Placeholder="Ekipman Seri Numarasını Yazınız." @bind-Value="DataSource.EquipmentSerialNo" CssClass="TSITxtBox"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Kayıt Tarihi: </strong></label>
                            <SfDatePicker @bind-Value="DataSource.RecordDate"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                            <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>İptal: </strong></label><br />
                            <SfSwitch @bind-Checked="DataSource.Cancel" @onchange="CheckValueChanged"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>
                    @{
                        if (cancelReasonVisible)
                        {
                            <DxGridLayoutItem Row="3" Column="5">
                                <Template>
                                    <label class="TSIModalLabel"><strong>İptal Nedeni: </strong></label><br />
                                    <SfTextBox Placeholder="İptal Nedeni Yazınız." @bind-Value="DataSource.CancellationReason" CssClass="TSITxtBox" Multiline=true></SfTextBox>
                                </Template>
                            </DxGridLayoutItem>
                        }
                    }


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}




