@layout OperationDetailLayout

@page "/operation-adjustment"
@using TsiErp.Business.Entities.QualityControl.OperationalQualityPlan.Services;


@inject IEmployeesAppService EmployeesAppService
@inject IFirstProductApprovalsAppService FirstProductApprovalsAppService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IOperationalQualityPlansAppService OperationalQualityPlansAppService

<div style="height:800px">

    <DxGridLayout CssClass="TSIGridLayout">

        <Rows>
            <DxGridLayoutRow Height="7%" />
            <DxGridLayoutRow Height="5%" />
            <DxGridLayoutRow Height="65%" />
        </Rows>

        <Columns>
            <DxGridLayoutColumn Width="0%" />
            <DxGridLayoutColumn Width="100%" />
            <DxGridLayoutColumn Width="0%" />
        </Columns>

        <Items>

            <DxGridLayoutItem Row="0" Column="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <WorkOrderDetailBreadCrumbFirst WorkOrderNo=@AppService.CurrentOperation.WorkOrder.WorkOrderNo ProductName=@AppService.CurrentOperation.WorkOrder.ProductName PlannedAmount=@AppService.CurrentOperation.WorkOrder.PlannedQuantity />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>

                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <WorkOrderDetailBreadCrumbSecond StationCode=@AppService.CurrentOperation.WorkOrder.StationCode OperationName=@AppService.CurrentOperation.WorkOrder.ProductsOperationName EmployeeName=@AppService.CurrentOperation.EmployeeName />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="2" Column="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>

                            <DxGridLayout CssClass="TSIGridOperationPageLayout">

                                <Rows>
                                    <DxGridLayoutRow Height="8%" />
                                    <DxGridLayoutRow Height="15%" />
                                    <DxGridLayoutRow Height="15%" />
                                    <DxGridLayoutRow Height="15%" />
                                    <DxGridLayoutRow Height="15%" />
                                </Rows>

                                <Columns>
                                    <DxGridLayoutColumn Width="2%" />
                                    <DxGridLayoutColumn Width="30%" />
                                    <DxGridLayoutColumn Width="2%" />
                                    <DxGridLayoutColumn Width="5%" />
                                    <DxGridLayoutColumn Width="30%" />
                                    <DxGridLayoutColumn Width="2%" />
                                    <DxGridLayoutColumn Width="30%" />
                                    <DxGridLayoutColumn Width="2%" />
                                </Columns>

                                <Items>

                                    <DxGridLayoutItem Row="0" Column="1" RowSpan="1" ColumnSpan="2">
                                        <Template>
                                            <br />
                                            <br />
                                            <label class="TSIOperationPageModalLabel"><strong>Ayar Yapan Kullanıcı </strong></label>

                                            <SfTextBox CssClass="TSILargeButtonEdit" @ref="@EmployeesButtonEdit" Created="@EmployeesOnCreateIcon" ShowClearButton=true ValueChange="EmployeesOnValueChange" @bind-Value="AppService.CurrentOperation.OperationAdjustment.AdjustmentUserName" Enabled=@SettingUserComponenetEnabled></SfTextBox>
                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="0" Column="4" RowSpan="1" ColumnSpan="2">
                                        <Template>

                                            <br />
                                            <br />
                                            <label class="TSIOperationPageModalLabel"><strong>Ayar Yapan Kullanıcı Şifresi </strong></label>

                                            <SfTextBox CssClass="TSILargeButtonEdit" @bind-Value="SettingUserWrittenPassword" Type="Syncfusion.Blazor.Inputs.InputType.Password" Enabled=@SettingUserComponenetEnabled></SfTextBox>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="2" Column="1">
                                        <Template>
                                            <br />
                                            <SfButton CssClass="TSIOperationPageButton" OnClick="StartAdjustmentButtonClick" Disabled=@StartAdjustmenButtonDisabled><SfIcon Size="IconSize.Medium" Name="IconName.Settings"></SfIcon>&nbsp;Ayara Başla</SfButton>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="2" Column="4" ColumnSpan="2">
                                        <Template>
                                            <br />
                                            <label class="TSIOperationPageModalLabel"><strong>Ayar Süresi </strong></label>

                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="@AdjustmentStartTime" Readonly=true></SfTextBox>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="3" Column="1">
                                        <Template>
                                            <br />
                                            <SfButton CssClass="TSIOperationPageAdjustmentButton" OnClick="SendQualityControlButtonClick" Disabled=@SendQualityControlApprovalButtonDisabled><SfIcon Size="IconSize.Medium" Name="IconName.CircleCheck"></SfIcon>&nbsp;Kalite Kontrol Onaya Gönder</SfButton>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="3" Column="4" ColumnSpan="2">
                                        <Template>
                                            <br />
                                            <label class="TSIOperationPageModalLabel"><strong>Kalite Kontrol Onay Süresi </strong></label>

                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="@QualityControlApprovalStartTime" Readonly=true></SfTextBox>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="3" Column="6" Visible=@FirstApprovalCodeVisible>
                                        <Template>
                                            <br />
                                            <label class="TSIOperationPageModalLabel"><strong>İlk Ürün Onay Kayıt Kodu: @FirstApprovalCode </strong></label>

                                        </Template>
                                    </DxGridLayoutItem>

                                    <DxGridLayoutItem Row="4" Column="1">
                                        <Template>
                                            <br />
                                            <SfButton CssClass="TSIOperationPageButton" OnClick="FinishAdjustmentButtonClick" Disabled=@FinishAdjustmentButtonDisabled><SfIcon Size="IconSize.Medium" Name="IconName.Export"></SfIcon>&nbsp;Ayarı Bitir</SfButton>

                                        </Template>
                                    </DxGridLayoutItem>

                                    @*<DxGridLayoutItem Row="1" Column="3">
                                    <Template>

                                    </Template>
                                    </DxGridLayoutItem> *@

                                </Items>
                            </DxGridLayout>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>

        </Items>
    </DxGridLayout>


    @if (SelectEmployeesPopupVisible)
    {
        <DxPopup @bind-Visible="SelectEmployeesPopupVisible"
                 ShowFooter="true"
                 CloseOnEscape="false"
                 CloseOnOutsideClick="false"
                 HeaderText="Personeller"
                 Width="64%"
                 Height="60%"
                 MinWidth="600px"
                 MinHeight="600px"
                 HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">

                    <Rows>
                        <DxGridLayoutRow Height="95%" />
                    </Rows>

                    <Columns>
                        <DxGridLayoutColumn Width="0%" />
                        <DxGridLayoutColumn Width="100%" />
                        <DxGridLayoutColumn Width="0%" />
                    </Columns>

                    <Items>

                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <SfGrid ID="EmployeesGrid" ShowColumnMenu="true" DataSource="@EmployeesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                        AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEvents OnRecordDoubleClick="@EmployeesDoubleClickHandler" TValue="ListEmployeesDto"></GridEvents>
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Code) HeaderText="PERSONEL KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Name) HeaderText="PERSONEL ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Surname) HeaderText="PERSONEL SOYADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>

                                </SfGrid>
                            </Template>
                        </DxGridLayoutItem>


                    </Items>
                </DxGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }

</div>