@page "/purchase-unsuitability-reports"
@layout MainLayout

@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.PurchaseUnsuitabilityReport.Services
@using TsiErp.Entities.Entities.PurchaseUnsuitabilityReport
@using TsiErp.Entities.Entities.PurchaseUnsuitabilityReport.Dtos
@using TsiErp.Entities.Entities.PurchaseOrder.Dtos
@using TsiErp.Business.Entities.PurchaseOrder.Services
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectPurchaseUnsuitabilityReportsDto, ListPurchaseUnsuitabilityReportsDto, CreatePurchaseUnsuitabilityReportsDto, UpdatePurchaseUnsuitabilityReportsDto, ListPurchaseUnsuitabilityReportsParameterDto>


@inject IPurchaseUnsuitabilityReportsAppService PurchaseUnsuitabilityReportsService
@inject IPurchaseOrdersAppService PurchaseOrdersAppService
@inject IProductsAppService ProductsAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Kalite Kontrol > İşlemler > Uygunsuzluk Kayıtları" CurrentMenu="Satın Alma Uygunsuzluk Raporları" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid" Toolbar="@ToolBarItems" AllowPdfExport=true DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@GridContextMenu">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridEvents OnToolbarClick="ToolbarClickHandler" ContextMenuItemClicked="@OnContextMenuClick" TValue="ListPurchaseUnsuitabilityReportsDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.FicheNo) HeaderText="UYGUNSUZLUK FİŞ NO" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.PartyNo) HeaderText="PARTİ NO" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.Date_) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="TARİH" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.UnsuitableAmount) Type="ColumnType.Number" HeaderText="UYGUN OLMAYAN MİKTAR" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.Description_) HeaderText="AÇIKLAMA" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.IsContactSupplier) DisplayAsCheckBox=true HeaderText="TEDARİKÇİ İLE İRTİBAT" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.IsCorrection) DisplayAsCheckBox=true HeaderText="DÜZELTME" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.IsReject) DisplayAsCheckBox=true HeaderText="RED" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.IsToBeUsedAs) DisplayAsCheckBox=true HeaderText="OLDUĞU GİBİ KULLANILACAK" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.IsUnsuitabilityWorkOrder) DisplayAsCheckBox=true HeaderText="UYGUNSUZLUK İŞ EMRİ OLUŞACAK" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.OrderFicheNo) HeaderText="SİPARİŞ FİŞ NO" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.ProductCode) HeaderText="ÜRÜN KODU" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.ProductName) HeaderText="ÜRÜN AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"> </GridColumn>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.CurrentAccountCardName) HeaderText="CARİ ÜNVAN" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Satın Alma Uygunsuzluk Raporları"
         Width="57%"
         Height="35%"
         MinWidth="1200px"
         MinHeight="380px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="29%" />
                        <DxGridLayoutRow Height="21%" />
                        <DxGridLayoutRow Height="21%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="3%" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Uygunsuzluk Fiş Numarası: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.FicheNo" Placeholder="Uygunsuzluk Fiş Numarası Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Parti Numarası: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PartyNo" Placeholder="Parti Numarası Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="5">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Tarih: </strong></label>
                                <SfDatePicker @bind-Value="DataSource.Date_"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="7">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Uygun Olmayan Miktar: </strong></label>
                                <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.UnsuitableAmount" Min=0></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Uygunsuzluk İş Emri Oluşacak: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsUnsuitabilityWorkOrder"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>Uygunsuzluk Aksiyonu: </strong></label><br />
                                <SfComboBox TValue="string" TItem="UnsComboBox" Placeholder="Aksiyon seçin." DataSource="@_unsComboBox">
                                    <ComboBoxEvents TItem="UnsComboBox" TValue="string" ValueChange="@UnsComboBoxValueChangeHandler"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="7">
                            <Template>
                                <label class="TSIModalLabel"><strong>Ürün Kodu: </strong></label>
                                <SfComboBox @ref="ProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Placeholder="Ürün Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.ProductCode"
                                    DataSource="@ProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListProductsDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Ürün Kodu</th>
                                                    <th class="e-text-center">Ürün Açıklaması</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="ProductFiltering"
                                            ValueChange="ProductValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Ürün Açıklaması: </strong></label>
                                <SfComboBox @ref="ProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Placeholder="Ürün Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.ProductName"
                                    DataSource="@ProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListProductsDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Ürün Kodu</th>
                                                    <th class="e-text-center">Ürün Açıklaması</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="ProductFiltering"
                                            ValueChange="ProductValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Cari Hesap Kodu: </strong></label><br />
                                <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="string"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Cari Hesap Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.CurrentAccountCardCode"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Cari Hesap Kodu</th>
                                                    <th class="e-text-center">Cari Hesap Ünvanı</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardFiltering"
                                            ValueChange="CurrentAccountCardValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>Cari Hesap Ünvanı: </strong></label><br />
                                <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="string"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Cari Hesap Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.CurrentAccountCardName"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Cari Hesap Kodu</th>
                                                    <th class="e-text-center">Cari Hesap Ünvanı</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardFiltering"
                                            ValueChange="CurrentAccountCardValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="7">
                            <Template>
                                <label class="TSIModalLabel"><strong>Açıklama: </strong></label>
                                <SfTextBox Placeholder="Açıklama Yazınız." @bind-Value="DataSource.Description_" CssClass="TSIMemoBox100"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Sipariş Fiş Numarası: </strong></label><br />
                                <SfComboBox @ref="PurchaseOrdersComboBox"
                                    TValue="string"
                                    TItem="ListPurchaseOrdersDto"
                                    Placeholder="Sipariş Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.OrderFicheNo"
                                    DataSource="@PurchaseOrdersList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="FicheNo" Value="FicheNo"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListPurchaseOrdersDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Sipariş Fiş No</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListPurchaseOrdersDto).FicheNo)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListPurchaseOrdersDto"
                                            Filtering="PurchaseOrderFiltering"
                                            ValueChange="PurchaseOrderValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>



                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}