@page "/admin/employee-analysis/details/{employeeID:int}/{startDate:datetime}/{endDate:datetime}"
@layout AdminLayout

@inject IPersonelDetayService PersonelDetayService
@inject NavigationManager NavigationManager

<SfCard class="TSIPageTitleCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="1000px">
                    <span style="float:left">
                        <label>Fason Tedarikçi Uygunsuzluk Analizi > @tabHeader1 </label>
                    </span>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="200px">
                    <SfCheckBox @bind-Checked="isGridChecked" @onchange="OnCheckedChanged" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Detay Tablosunu Gizle</strong></label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Personel Adı:</strong></label><label class="FilterLabelTitleValue">&nbsp;@employeeName</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Başlangıç Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@startDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Bitiş Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@endDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" OnClick="@OnBackButtonClicked">Geri</SfButton> <SfSpinner @bind-Visible="VisibleSpinner"> </SfSpinner>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<br />

<SfCard class="Cards">
    <CardHeader>
    </CardHeader>
    <CardContent>
        <SfTab CssClass="default-tab" OverflowMode="@OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" Width="100%">
            <TabAnimationSettings>
                <TabAnimationPrevious Effect="Syncfusion.Blazor.AnimationEffect.FadeIn"></TabAnimationPrevious>
                <TabAnimationNext Effect="Syncfusion.Blazor.AnimationEffect.FadeOut"></TabAnimationNext>
            </TabAnimationSettings>
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="@tabHeader1"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Duruş Analiz Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataemployeechart" ColumnWidth="@columnwidth" Name="Duruş Süresi" XName="HaltName" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataemployeehalt" @ref="EmployeeGrid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="EmployeeDetailedHaltAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(EmployeeDetailedHaltAnalysis.HaltName) HeaderText="DURUŞ SEBEBİ" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(EmployeeDetailedHaltAnalysis.HaltTimeSecond) HeaderText="DURUŞ SÜRESİ (SN)" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(EmployeeDetailedHaltAnalysis.HaltTimeMinute) HeaderText="DURUŞ SÜRESİ (DK)" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

            </TabItems>
        </SfTab>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

@code {
    string tabHeader1 = "Personel Duruş Analizi";

  
}
