@page "/admin/employee-analysis"
@layout AdminLayout

@inject IPersonelService PersonelService
@inject NavigationManager NavigationManager

<SfCard class="TSIPageTitleCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="1000px">
                    <span style="float:left">
                        <label class="TSIListPageTitleCardLabel">Personel Analizi</label>
                    </span>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />

<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                
                <td width="200px">
                     <br />
                    <SfCheckBox @bind-Checked="isGridChecked" @onchange="OnCheckedChanged" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Detay Tablosunu Gizle</strong></label>
                </td>
                <td width="200px">
                    <br />
                    <SfCheckBox @bind-Checked="isLabelsChecked" @onchange="OnChangeLabelCheck" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Etiketleri Göster</strong></label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Zaman Periyodu:</strong></label>
                    <SfComboBox TValue="int?" TItem="ComboboxTimePeriods" @bind-Index="@selectedTimeIndex" PopupHeight="230px" Placeholder="Yıllık" DataSource="@timeperiods">
                        <ComboBoxFieldSettings Text="TimeText" Value="TimeID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Verim Değeri:</strong></label>
                    <SfNumericTextBox TValue="int" @bind-Value="threshold" Placeholder="Verim Değeri Yazınız."></SfNumericTextBox>
                </td>
                <td width="50px" align="right">
                    <br />
                      <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" OnClick="@OnDateButtonClicked">Filtrele</SfButton>
                   
                    <SfSpinner @bind-Visible="VisibleSpinner">
                    </SfSpinner>
                </td>
                <td width="50px">
                    <br />
                     <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" OnClick="@OnCompareButtonClicked">Karşılaştır</SfButton>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="Cards" style="text-align:center">
    <CardContent>
        <SfChart @ref="ChartInstance" Theme="Theme.Bootstrap5" Title="Personel Verimlilik Grafiği">
            <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis LabelFormat="p2">
                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
            </ChartPrimaryYAxis>
            <ChartTooltipSettings Enable="true">
                 <Template>
                    @{
                        var data = context as ChartTooltipInfo;

                        decimal comparisonOEE = datachart.Where(t => t.OEE == (decimal)data.Y).Select(t => t.DIFFOEE).FirstOrDefault();

                        decimal comparisonQUA = datachart.Where(t => t.OEE == (decimal)data.Y).Select(t => t.DIFFQUA).FirstOrDefault();

                        decimal comparisonAVA = datachart.Where(t => t.OEE == (decimal)data.Y).Select(t => t.DIFFAVA).FirstOrDefault();

                        decimal comparisonPER = datachart.Where(t => t.OEE == (decimal)data.Y).Select(t => t.DIFFPER).FirstOrDefault();

                        string valueColorOEE = comparisonOEE < 0 ? "#BF0000" : "#068800";

                        string valueColorAVA = comparisonAVA < 0 ? "#BF0000" : "#068800";

                        string valueColorQUA = comparisonQUA < 0 ? "#BF0000" : "#068800";

                        string valueColorPER = comparisonPER < 0 ? "#BF0000" : "#068800";

                        string comparisonOEEstr = comparisonOEE.ToString("p2");

                        string comparisonAVAstr = comparisonAVA.ToString("p2");

                        string comparisonQUAstr = comparisonQUA.ToString("p2");

                        string comparisonPERstr = comparisonPER.ToString("p2");

                        <div>
                            <table class="TSIChartTooltip">
                                <tr><th style="font-size:16px !important;" colspan="2">Değişim</th></tr>
                                <tr><td>Kullanılabilirlik:</td><td style="color: @valueColorAVA">@comparisonAVAstr</td></tr>
                                <tr><td>Performans:</td><td style="color: @valueColorPER">@comparisonPERstr</td></tr>
                                <tr><td>Kalite:</td><td style="color: @valueColorQUA">@comparisonQUAstr</td></tr>
                                <tr><td>OEE:</td><td style="color: @valueColorOEE">@comparisonOEEstr</td></tr>
                            </table>
                        </div>

                    }
                </Template>
            </ChartTooltipSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@datachart" Name="Verimlilik" XName="AY" YName="OEE" Width="3" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Line">
                    <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Circle">
                        <ChartDataLabel Visible="@dataLabels">
                            <ChartDataLabelFont FontWeight="bold" Size="14px" Color="darkred"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                    <ChartTrendlines>
                        <ChartTrendline Type="TrendlineTypes.Linear" Width="3" Name="Trend" Fill="#3345A7">
                            <ChartTrendlineMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Diamond">
                            </ChartTrendlineMarker>
                        </ChartTrendline>
                    </ChartTrendlines>
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>

    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="Cards" hidden="@isGridChecked">
    <CardContent>
        <SfGrid ID="Grid" DataSource="@dataemployee" @ref="Grid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
             <GridEvents QueryCellInfo="CellInfoHandler" TValue="EmployeeGeneralAnalysis"></GridEvents>
            <GridPageSettings PageSizes="true"></GridPageSettings>
            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridColumns>
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.EmployeeName) HeaderText="PERSONEL ADI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>                
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.Availability) Format="p2" HeaderText="KULLANILABİLİRLİK" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="130"></GridColumn>
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.Performance) Format="p2" HeaderText="PERFORMANS" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.Quality) Format="p2" HeaderText="KALİTE" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.OEE) HeaderText="VERİMLİLİK" Format="p2" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="130"></GridColumn>
                <GridColumn Field=@nameof(EmployeeGeneralAnalysis.Availability) HeaderText="DETAYLAR" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="80">
                    <Template>
                        @{
                            var row = (context as EmployeeGeneralAnalysis);
                            <SfButton IconCss="oi oi-spreadsheet" IsPrimary="true" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; " CssClass="e-btn e-secondary" OnClick="@(()=>OnDetailButtonClicked(row.EmployeeID))"></SfButton>
                        }

                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>

    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

<DxPopup Visible="compareModalVisible"
         ShowFooter="false"
         CloseButtonClick="HideCompareModal"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Zamana Göre Karşılaştırma"
         Width="1200px"
         CssClass="TSIModalCompareBox"
         HeaderCssClass="ModalHeaderTitleCss">

    <BodyTemplate>
        <table style="width:100%">
            <tr>
                <td style="width:100%">
                    <SfMultiSelect TValue="string[]?" @bind-Value="@MultiSelectVal" TItem="AdminEmployeeChart" Placeholder="Zaman Dilimlerini Seçiniz" DataSource="@datachart">
                        <MultiSelectFieldSettings Text="AY" Value="OEE"></MultiSelectFieldSettings>
                    </SfMultiSelect>
                </td>

            </tr>
        </table>

        <div class="row">
            <center>
                <div class="control-section col-lg-9 card-control-section tile_layout">
                    <div class="row e-card-layout">
                        @{

                            if (MultiSelectVal != null)
                            {

                                #region Değişkenler

                                string header = string.Empty;
                                decimal availability = 0;
                                decimal performance = 0;
                                decimal quality = 0;
                                decimal oee = 0;
                                int planlananbirimsure = 0;
                                decimal gerceklesenbirimsure = 0;
                                decimal uretilenadet = 0;
                                int hurda = 0;
                                int? toplamcalisilabilirsure = 0;
                                decimal operasyonsuresi = 0;

                                #endregion

                                foreach (var item in MultiSelectVal)
                                {

                                    #region Değişkenler

                                    header = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.AY).FirstOrDefault();
                                    availability = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.KULLANILABILIRLIK).FirstOrDefault();
                                    performance = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.PERFORMANS).FirstOrDefault();
                                    quality = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.KALITE).FirstOrDefault();
                                    oee = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.OEE).FirstOrDefault();
                                    toplamcalisilabilirsure = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.TOTALSHIFTTIME).FirstOrDefault();
                                    operasyonsuresi = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.OPRTIME).FirstOrDefault();
                                    planlananbirimsure = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.PLANNEDUNITTIME).FirstOrDefault();
                                    gerceklesenbirimsure = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.OCCUREDUNITTIME).FirstOrDefault();
                                    uretilenadet = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.PRODUCTION).FirstOrDefault();
                                    hurda = datachart.Where(t => t.OEE.ToString() == item).Select(t => t.SCRAP).FirstOrDefault();

                                    #endregion

                                    <div class="col-lg-2 col-md-2 col-sm-4" style="padding: 10px;text-align:left;  width: 33%;">
                                        <div id="card_sample_1" class="card_sample" style="border: 5px solid #9F0303 ;border-radius:5%;box-shadow: rgb(8 8 8 / 85%) 0px 5px 15px !important;">


                                            <table class="table table-hover">
                                                <tr><th style="font-size:16px !important;" colspan="2">@header</th></tr>
                                                <tr>
                                                    <td style="text-align: left; width:70%;font-weight:bold">Kullanılabilirlik:</td>
                                                    <td style="width:30%;font-weight:bold">@availability.ToString("p2")</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left; padding-left:8%">
                                                        • Toplam Çalışılabilir Süre:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @toplamcalisilabilirsure
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left;padding-left:8%">
                                                        • Operasyon Süresi:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @operasyonsuresi.ToString("0.00")
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="text-align: left;width:70%;font-weight:bold">Performans:</td>
                                                    <td style="width:30%;font-weight:bold">@performance.ToString("p2")</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left;padding-left:8%">
                                                        • Planlanan Birim Süre:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @planlananbirimsure
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left;padding-left:8%">
                                                        • Gerçekleşen Birim Süre:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @gerceklesenbirimsure.ToString("0.00")
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td style="text-align: left;width:70%;font-weight:bold">Kalite:</td>
                                                    <td style="width:30%;font-weight:bold">@quality.ToString("p2")</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left;padding-left:8%">
                                                        • Üretilen Adet:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @uretilenadet
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="font-size:12px !important;text-align:left;padding-left:8%">
                                                        • Hurda:
                                                    </td>
                                                    <td style="font-size:12px !important;text-align:left;">
                                                        @hurda
                                                    </td>
                                                </tr>

                                                <tr><td style="text-align: left;width:70%;font-weight:bold">OEE:</td><td style="width:30%;font-weight:bold">@oee.ToString("p2")</td></tr>
                                            </table>


                                        </div>
                                    </div>




                                }

                            }

                        }
                    </div>
                </div>
            </center>
        </div>



    </BodyTemplate>
    @*   <FooterContentTemplate>
    <SfButton CssClass="TSICancelButton" OnClick="HideCompareModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
    </FooterContentTemplate>*@
</DxPopup>
