@page "/product-group-scrap-analysis"
@layout MainLayout

@inject IDashboardAppServices DashboardAppServices
@inject NavigationManager NavigationManager
@inject IStringLocalizer<DashboardsResource> L

<DevGridLayoutFilterRow ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
    <GridLayoutItems>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="@L["UIDashboardPreviousMenu"]" CurrentMenu="@L["UIScrapAnalysisCurrentMenu"]" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="1" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="FilterCard">
                    <CardContent>
                        <table width="1000px">
                            <tr>
                                <td width="200px">
                                    <br />
                                    <SfCheckBox @bind-Checked="DetailGridVisibility" @onchange="DetailGridVisibilityChanged" CssClass="e-customcheck"></SfCheckBox>
                                    <label class=FilterLabelTitle><strong>@L["HideDetailTableLabel"]</strong></label>
                                </td>
                                <td width="200px">
                                    <br />
                                    <SfCheckBox @bind-Checked="ChartLabelVisibility" @onchange="ChartLabelVisibilityChanged" CssClass="e-customcheck"></SfCheckBox>
                                    <label class=FilterLabelTitle><strong>@L["ShowLabelsLabel"]</strong></label>
                                </td>
                                <td width="200px">
                                    <label class="FilterLabelTitle"><strong>@L["TimePeriodLabel"]</strong></label>
                                    <SfComboBox AllowCustom="false" TValue="int?" TItem="ComboboxTimePeriods" @bind-Index="@SelectedTimeIndex" PopupHeight="230px" Placeholder="@L["TimePeriodPlaceHolder"]" DataSource="@ComboboxTimePeriods">
                                        <ComboBoxFieldSettings Text="TimeText" Value="TimeID"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </td>

                                <td width="200px">
                                    <label class="FilterLabelTitle"><strong>@L["ProductGroupLabel"]</strong></label>
                                    <SfComboBox AllowCustom="false" TValue="Guid?" TItem="ProductGroupsAnalysis" @bind-Index="@SelectedProductIndex" PopupHeight="230px" Placeholder="@L["ProductGroupPlaceHolder"]" DataSource="@DataProductGroupCombobox">
                                        <ComboBoxEvents TItem="ProductGroupsAnalysis" TValue="Guid?" ValueChange="ProductGroupOnChange"></ComboBoxEvents>
                                        <ComboBoxFieldSettings Text="ProductGroupName" Value="ProductGroupID"></ComboBoxFieldSettings>
                                    </SfComboBox>
                                </td>

                                <td width="100px" align="right">
                                    <br />
                                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" OnClick="@FilterClicked">@L["FilterButton"]</SfButton>

                                    <SfSpinner @bind-Visible="VisibleSpinner">
                                    </SfSpinner>
                                </td>
                            </tr>
                        </table>
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>


        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
            <Template>
                <br />
                <SfCard class="Cards" style="text-align:center">
                    <CardContent>
                        <SfChart @ref="ChartInstance" Theme="Theme.Bootstrap5" Title="@ChartTitle">
                            <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
                            </ChartPrimaryXAxis>
                            <ChartPrimaryYAxis Minimum="0" LabelFormat="p3">
                                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
                            </ChartPrimaryYAxis>
                            <ChartTooltipSettings Enable="true">
                                <Template>

                                    @{
                                        var data = context as ChartTooltipInfo;

                                        #region Değişkenler

                                        decimal scrappercent = (decimal)DataChart.Where(t => t.ScrapPercent == (double)data.Y).Select(t => t.ScrapPercent).FirstOrDefault();

                                        decimal comparisonScrapPercent = DataChart.Where(t => t.ScrapPercent == (double)data.Y).Select(t => t.DIFFSCRAPPERCENT).FirstOrDefault();

                                        string valueColorScrapPercent = comparisonScrapPercent < 0 ? "#068800" : "#BF0000";

                                        string comparisonScrapPercentstr = comparisonScrapPercent.ToString("p2");

                                        #endregion

                                        //if (scrappercent != comparisonScrapPercent)
                                        //{
                                        <div>
                                            <table class="TSIChartTooltip">
                                                <tr><th style="font-size:16px !important;" colspan="2">@L["ChartTooltipChange"]</th></tr>
                                                <tr><td>@L["ChartTooltipScrapAverage"]</td><td style="color: @valueColorScrapPercent">@comparisonScrapPercentstr</td></tr>
                                            </table>
                                        </div>
                                        //}



                                    }
                                </Template>
                            </ChartTooltipSettings>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@DataChart" Name="@L["ChartNameScrapAverage"]" XName="Ay" YName="ScrapPercent" Width="3" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Line">
                                    <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Circle">
                                        <ChartDataLabel Visible="@ChartLabelVisibility">
                                            <ChartDataLabelFont FontWeight="bold" Size="14px" Color="darkred"></ChartDataLabelFont>
                                        </ChartDataLabel>
                                    </ChartMarker>
                                    <ChartTrendlines>
                                        <ChartTrendline EnableTooltip=false Type="TrendlineTypes.Linear" Width="3" Name="Trend" Fill="#3345A7">
                                            <ChartTrendlineMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Diamond">
                                            </ChartTrendlineMarker>
                                        </ChartTrendline>
                                    </ChartTrendlines>
                                </ChartSeries>
                            </ChartSeriesCollection>
                            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                        </SfChart>

                    </CardContent>
                    <CardFooter>
                        @{
                            string defaultValue = "0";

                            string chartAverageValue = DataChart.Count > 0 ? DataChart.Average(t => t.ScrapPercent).ToString("p3") : defaultValue;
                        }
                        <center><label class="TSIListPageTitleCardLabel" style="font-size:25px"><span style="color :#AC0000">@ChartAverageLabel </span>&nbsp;@chartAverageValue</label></center>
                    </CardFooter>
                </SfCard>
                <br />
                <SfCard class="Cards" hidden="@DetailGridVisibility">
                    <CardContent>
                        <SfGrid ID="Grid" DataSource="@DataProductGroup" @ref="Grid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ColumnMenuItems=@MenuItems ShowColumnMenu="true"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            @*<GridEvents QueryCellInfo="CellInfoHandler" TValue="ProductGroupsAnalysis"></GridEvents>*@
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(ProductGroupsAnalysis.ProductGroupName) HeaderText="@L["ProductGroupsAnalysisProductGroupName"]" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(ProductGroupsAnalysis.PlannedQuantity) HeaderText="@L["ProductGroupsAnalysisPlannedQuantity"]" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalProduction) HeaderText="@L["ProductGroupsAnalysisTotalProduction"]" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalScrap) HeaderText="@L["ProductGroupsAnalysisTotalScrap"]" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="130"></GridColumn>
                                @* <GridColumn Field=@nameof(ProductGroupsAnalysis.OEE) HeaderText="OEE" Format="#%" TextAlign="TextAlign.Center" Width="130"></GridColumn>*@
                                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalScrap) HeaderText="@L["ProductGroupsAnalysisDetails"]" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="80">
                                    <Template>
                                        @{
                                            var row = (context as ProductGroupsAnalysis);
                                            <SfButton IconCss="oi oi-spreadsheet" IsPrimary="true" style="background-color:#AD0000;text-shadow: 6px 3px 4px black;" CssClass="e-btn e-secondary" OnClick="@(()=>OnDetailButtonClicked(row.ProductGroupID))"></SfButton>
                                        }

                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>

                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>
    </GridLayoutItems>
</DevGridLayoutFilterRow>

<style>
    .head, .item {
        display: table !important;
        width: 100% !important;
        margin: auto !important;
        margin-top: -7% !important;
    }

    .head {
        height: 40px !important;
        font-size: 15px !important;
        font-weight: 600 !important;
    }

    .name, .city {
        display: table-cell !important;
        vertical-align: middle !important;
        width: 50% !important;
        padding-left: 11% !important;
    }

    .head .name {
        text-indent: 16px !important;
    }

    .head .city {
        text-indent: 10px !important;
    }


    .e-checkbox-wrapper, .e-css.e-checkbox-wrapper {
        -webkit-tap-highlight-color: transparent;
        float: none !important;
        padding-right: 5% !important;
    }
</style>