@page "/station-work-state"
@layout MainLayout

@inject IStationsAppService StationsService


<DevGridLayoutFilterRow ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
    <GridLayoutItems>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="Dashboard " CurrentMenu="Makina Çalışma Durumu" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="1" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="FilterCard" style="height: 80px;">

                    <CardContent>

                        <DxGridLayout CssClass="TSIGridLayout">
                            <Rows>
                                <DxGridLayoutRow Height="48%" />
                            </Rows>
                            <Columns>
                                <DxGridLayoutColumn Width="2%" />
                                <DxGridLayoutColumn Width="38%" />
                                <DxGridLayoutColumn Width="3%" />
                                <DxGridLayoutColumn Width="53%" />
                                <DxGridLayoutColumn Width="5%" />
                            </Columns>
                            <Items>

                                <DxGridLayoutItem Row="0" Column="1">
                                    <Template>
                                        <label class=FilterLabelTitle><strong>Kat : </strong></label><br />
                                        <SfMultiSelect Mode="VisualMode.Default" AllowFiltering="true" DataSource="@Floors" Placeholder="Kat" ShowClearButton="true" Width="400px" @bind-Value="SelectedFloor">
                                        </SfMultiSelect>
                                    </Template>
                                </DxGridLayoutItem>

                                <DxGridLayoutItem Row="0" Column="3">
                                    <Template>
                                        <br />
                                        <SfButton CssClass="TSISaveButton" OnClick="FilterButtonClicked"><SfIcon Size="IconSize.Medium" Name="IconName.Filtered"></SfIcon>&nbsp; Filtrele</SfButton>
                                    </Template>
                                </DxGridLayoutItem>

                                <DxGridLayoutItem Row="0" Column="4">
                                    <Template>
                                        <br />
                                        <SfButton CssClass="TSISaveButton" OnClick="RefreshButtonClicked"><SfIcon Size="IconSize.Medium" Name="IconName.Refresh"></SfIcon></SfButton>
                                    </Template>
                                </DxGridLayoutItem>

                            </Items>
                        </DxGridLayout>
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>


        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
            <Template>
                <br />
                <div class="row" style="margin-top: -8% !important;">
                    <center>
                        <div class="control-section col-lg-9 card-control-section tile_layout" style="width: 93% !important;">
                            <div class="row e-card-layout">

                                @if (this.Stations.Count == 0)
                                {
                                    <div class="e-error">
                                        <div class="e-error-content" style=" font-size: 25px; font-weight: 500;">
                                            Sonuç Bulunamadı
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @foreach (StationCardDto station in Stations)
                                    {

                                        <div class="col-lg-2 col-md-2 col-sm-4" style="padding: 10px;text-align:left;">
                                            <div id="card_sample_1" class="card_sample">

                                                @if (station.StationWorkStateEnum == StationWorkStateEnum.BakımArıza || station.StationWorkStateEnum == StationWorkStateEnum.Duruş)
                                                {
                                                    <SfCard style="height :200px;border: 5px solid #9F0303 ;border-radius:17px;box-shadow: rgb(204 3 33 / 100%)  0px 7px 20px !important;width: 100%  !important;">
                                                        <br/>
                                                        <center><i class="fa fa-times-circle" style="font-size:30px; color:#bf0000; filter: blur(0.5px);"></i></center>
                                                        @* <center><CardImage Image="@station.ImageUrl" /></center> *@
                                                        <center> <CardHeader Title="@station.Code" /></center>
                                                        <CardContent>
                                                            <ChildContent>
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                         <tr> 
                                                                            @*<th scope="col" style="text-align:center">Bakım </th>
                                                                <th scope="col" style="text-align:left"> &nbsp;Detayları</th>*@
                                                                             <th scope="col" style="text-align:left"> </th>
                                                                           @*  <th scope="col" style="text-align:left"></th>  *@
                                                                        </tr> 
                                                                    </thead>
                                                                    <tbody style="border-bottom: transparent;">
                                                                        <tr>
                                                                            <td><strong>@station.StationGroupName</strong></td>
                                                                            
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </ChildContent>
                                                        </CardContent>
                                                        <CardFooter>

                                                        </CardFooter>
                                                    </SfCard>
                                                }
                                                else
                                                {
                                                    <SfCard style="height :200px;border: 5px solid #1B6453 ;border-radius:17px;box-shadow: rgb(36 208 17 / 100%) 0px 7px 20px !important;width: 100%  !important;">
                                                        <br/>
                                                        <center><i class="fa fa-check-square" style="font-size:30px; color:#00ad03; filter: blur(0.5px);"></i></center>
                                                        @* <center><CardImage Image="@station.ImageUrl" /></center> *@
                                                        <center> <CardHeader Title="@station.Code" /></center>
                                                        <CardContent>
                                                            <ChildContent>
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            @*<th scope="col" style="text-align:center">Bakım </th>
                                                                <th scope="col" style="text-align:left"> &nbsp;Detayları</th>*@
                                                                             <th scope="col" style="text-align:left"> </th> 
                                                                            @* <th scope="col" style="text-align:left"></th> *@
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody style="border-bottom: transparent;">
                                                                        <tr>
                                                                            <td><strong>@station.StationGroupName</strong></td>
                                                                        </tr>
                                                                    </tbody>

                                                                </table>
                                                            </ChildContent>
                                                        </CardContent>
                                                        <CardFooter>

                                                        </CardFooter>
                                                    </SfCard>
                                                }

                                            </div>
                                        </div>


                                    }
                                }
                            </div>
                        </div>
                    </center>
                </div>
            </Template>
        </DxGridLayoutItem>
    </GridLayoutItems>
</DevGridLayoutFilterRow>

<style>
    .head, .item {
        display: table !important;
        width: 100% !important;
        margin: auto !important;
        margin-top: -7% !important;
    }

    .head {
        height: 40px !important;
        font-size: 15px !important;
        font-weight: 600 !important;
    }

    .name, .city {
        display: table-cell !important;
        vertical-align: middle !important;
        width: 50% !important;
        padding-left: 11% !important;
    }

    .head .name {
        text-indent: 16px !important;
    }

    .head .city {
        text-indent: 10px !important;
    }


    .e-checkbox-wrapper, .e-css.e-checkbox-wrapper {
        -webkit-tap-highlight-color: transparent;
        float: none !important;
        padding-right: 5% !important;
    }
</style>

