@page "/product-referance-numbers"
@layout MainLayout




@inject IStringLocalizer<ProductReferanceNumbersResource> L 

@inherits BaseListPage<SelectProductReferanceNumbersDto, ListProductReferanceNumbersDto, CreateProductReferanceNumbersDto, UpdateProductReferanceNumbersDto, ListProductReferanceNumbersParameterDto>


@inject IProductReferanceNumbersAppService ProductReferanceNumbersService
@inject IProductsAppService ProductsAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid"   AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                    
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridEvents   ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListProductReferanceNumbersDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListProductReferanceNumbersDto.CurrentAccountCardName) HeaderText="@L["CurrentAccountCardName"]" TextAlign="TextAlign.Center" Width="170">
                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListProductReferanceNumbersDto.ProductCode) HeaderText="@L["ProductCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListProductReferanceNumbersDto.ProductName) HeaderText="@L["ProductName"]" TextAlign="TextAlign.Center" Width="170"></GridColumn>
                                        <GridColumn Field=@nameof(ListProductReferanceNumbersDto.ReferanceNo) HeaderText="@L["ReferanceNo"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                        <GridColumn Field=@nameof(ListProductReferanceNumbersDto.Description_) HeaderText="@L["Description_"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>

        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EditModaltTitle"]"
         Width="42%"
         Height="46%"
         MinWidth="720px"
         MinHeight="700px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="17%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="25%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="6%" />
                        <DxGridLayoutColumn Width="42%" />
                        <DxGridLayoutColumn Width="6%" />
                        <DxGridLayoutColumn Width="42%" />
                        <DxGridLayoutColumn Width="6%" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["ProductCodeLabel"]</strong></label>
                                <SfTextBox @ref="@ProductsCodeButtonEdit" Created="@ProductsCodeOnCreateIcon" @bind-Value="DataSource.ProductCode" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["ProductNameLabel"]</strong></label><br />
                                <SfTextBox @ref="@ProductsNameButtonEdit" Created="@ProductsNameOnCreateIcon" @bind-Value="DataSource.ProductName" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CurrentAccountCardNameLabel"] </strong></label>
                                <SfTextBox @ref="@CurrentAccountCardsNameButtonEdit" Created="@CurrentAccountCardsNameOnCreateIcon" @bind-Value="DataSource.CurrentAccountCardName" ShowClearButton=true ValueChange="CurrentAccountCardsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CurrentAccountCardCodeLabel"] </strong></label><br />
                                <SfTextBox @ref="@CurrentAccountCardsCodeButtonEdit" Created="@CurrentAccountCardsCodeOnCreateIcon" @bind-Value="DataSource.CustomerCode" ShowClearButton=true ValueChange="CurrentAccountCardsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ReferanceNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.ReferanceNo"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                         <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["OrderReferanceNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.OrderReferanceNo" Enabled=@OrderReferanceNoEnable></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="3" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CustomerReferanceNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.CustomerReferanceNo" Enabled=@CustomerReferanceNoEnable></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                         <DxGridLayoutItem Row="3" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CustomerBarcodeNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.CustomerBarcodeNo"  Enabled=@CustomerBarcodeNoEnable></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["MinOrderAmountLabel"] </strong></label>
                                <SfNumericTextBox CssClass="TSITxtBox" TValue="decimal" Min="0" @bind-Value="DataSource.MinOrderAmount"></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="5" Column="1" ColumnSpan="3">
                            <Template>
                                 <label class="TSIModalLabel"><strong>@L["Description_Label"] </strong></label><br />
                            <SfTextBox CssClass="TSIMemoBox57" @bind-Value="DataSource.Description_" Multiline=true ></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }

    @if (SelectCurrentAccountCardsPopupVisible)
    {
        <DxPopup @bind-Visible="SelectCurrentAccountCardsPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["CurrentAccountModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIGridCards">

                                    <CardContent>
                                        <SfGrid ID="CurrentAccountCardsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@CurrentAccountCardsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                        AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@CurrentAccountCardsDoubleClickHandler" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="@L["CurrentAccountModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="@L["CurrentAccountModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                
                                                <GridColumn Field=@nameof(ListCurrentAccountCardsDto.CustomerCode) HeaderText="@L["CurrentAccountModalGridCustomerCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            </GridColumns>

                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }

    @if (SelectProductsPopupVisible)
    {
        <DxPopup @bind-Visible="SelectProductsPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["ProductModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIGridCards">

                                    <CardContent>
                                        <SfGrid ID="ProductsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ProductsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                        AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" >
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@ProductsDoubleClickHandler" TValue="ListProductsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="@L["ProductModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="@L["ProductModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            </GridColumns>

                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }
}