@page "/pallet-records"

@layout MainLayout

@inherits BaseListPage<SelectPalletRecordsDto, ListPalletRecordsDto, CreatePalletRecordsDto, UpdatePalletRecordsDto, ListPalletRecordsParameterDto>

@inject IStringLocalizer<PalletRecordsResource> L
@inject IStringLocalizer<ReportsResource> ReportLocalizer
@inject IPalletRecordsAppService PalletRecordsAppService
@inject IPackageFichesAppService PackageFichesAppService
@inject IProductsAppService ProductsAppService
@inject IProductGroupsAppService ProductGroupsAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService
@inject IPackingListsAppService PackingListsAppService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService
@inject IProductsAppService ProductsAppService
@inject IProductReferanceNumbersAppService ProductReferanceNumbersAppService
@inject IPackingListsAppService PackingListsAppService
@inject IPackageFichesAppService PackageFichesAppService
@inject ISalesOrdersAppService SalesOrdersAppService
@inject ISalesPricesAppService SalesPricesAppService
@inject IGetSQLDateAppService GetSQLDateAppService
@inject IOrderAcceptanceRecordsAppService OrderAcceptanceRecordsAppService
@inject IProductionOrdersAppService ProductionOrdersAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>

            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@MainGridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>


                                <GridEvents ContextMenuItemClicked="@MainContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListPalletRecordsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="170"></GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.Name) HeaderText="@L["Name"]" TextAlign="TextAlign.Center" Width="170"></GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.CurrentAccountCardName) HeaderText="@L["CurrentAccountCardName"]" TextAlign="TextAlign.Center" Width="170"></GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.PalletPackageNumber) Type="ColumnType.Number" HeaderText="@L["PalletPackageNumber"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.PackageType) HeaderText="@L["PackageType"]" TextAlign="TextAlign.Center" Width="170"></GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.PalletRecordsStateEnum) HeaderText="@L["PalletRecordsStateEnum"]" TextAlign="TextAlign.Center" Width="170">
                                        <Template>
                                            @{
                                                var palletRecordsStateEnum = (context as ListPalletRecordsDto).PalletRecordsStateEnum;
                                                string palletRecordsStateEnumStr = string.Empty;

                                                switch (palletRecordsStateEnum)
                                                {
                                                    case PalletRecordsStateEnum.Hazirlaniyor: palletRecordsStateEnumStr = L["EnumPreparing"]; break;
                                                    case PalletRecordsStateEnum.Tamamlandi: palletRecordsStateEnumStr = L["EnumCompleted"]; break;
                                                    case PalletRecordsStateEnum.Onaylandi: palletRecordsStateEnumStr = L["EnumApproved"]; break;

                                                    default: break;
                                                }
                                            }
                                            @palletRecordsStateEnumStr
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListPalletRecordsDto.PalletRecordsTicketStateEnum) HeaderText="@L["PalletRecordsTicketStateEnum"]" TextAlign="TextAlign.Center" Width="220">
                                        <Template>
                                            @{
                                                var palletRecordsTicketStateEnum = (context as ListPalletRecordsDto).PalletRecordsTicketStateEnum;
                                                string palletRecordsTicketStateEnumStr = string.Empty;

                                                switch (palletRecordsTicketStateEnum)
                                                {
                                                    case PalletRecordsTicketStateEnum.Bekliyor: palletRecordsTicketStateEnumStr = L["EnumTicketPending"]; break;
                                                    case PalletRecordsTicketStateEnum.Tamamlandi: palletRecordsTicketStateEnumStr = L["EnumTicketCompleted"]; break;

                                                    default: break;
                                                }
                                            }
                                            @palletRecordsTicketStateEnumStr
                                        </Template>
                                    </GridColumn>



                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="62%"
             Height="79%"
             MinWidth="1060px"
             MinHeight="850px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="13%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="47%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="NameComboBox" DataSource="@_nameComboBox">
                                <ComboBoxEvents TItem="NameComboBox" TValue="string" ValueChange="@NameComboBoxValueChangeHandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["PackageTypeLabel"] </strong></label><br />
                            <SfComboBox TValue="string" TItem="PackageTypeComboBox" DataSource="@_packageTypeComboBox">
                                <ComboBoxEvents TItem="PackageTypeComboBox" TValue="string" ValueChange="@PackageTypeComboBoxValueChangeHandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PlannedLoadingTimeLabel"] </strong></label><br />
                            <SfDatePicker @bind-Value="DataSource.PlannedLoadingTime"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Width_Label"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="DataSource.Width_" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Height_Label"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="DataSource.Height_" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["MaxPackageNumberLabel"] </strong></label><br />
                            <SfNumericTextBox Enabled=false TValue="int" @bind-Value="DataSource.MaxPackageNumber" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Lenght_Label"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="DataSource.Lenght_" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PalletPackageNumberLabel"] </strong></label><br />
                            <SfNumericTextBox Enabled=false TValue="int" @bind-Value="DataSource.PalletPackageNumber" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CurrentAccountCardNameLabel"] </strong></label><br />
                            <SfTextBox @ref="@CurrentAccountCardsButtonEdit" Created="@CurrentAccountCardsCodeOnCreateIcon" @bind-Value="DataSource.CurrentAccountCardName" ShowClearButton=true ValueChange="CurrentAccountCardsOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PackageListLabel"] </strong></label><br />
                            <SfTextBox @ref="@PackingListsButtonEdit" Created="@PackingListsOnCreateIcon" @bind-Value="DataSource.PackingListCode" ShowClearButton=true ValueChange="PackingListsOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="1" ColumnSpan="5">
                        <Template>
                            <SfGrid @ref=_LineGrid ID="LineGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="SelectPalletRecordLinesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.ProductCode) HeaderText="@L["LineGridProductCode"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.ProductName) HeaderText="@L["LineGridProductName"]" TextAlign="TextAlign.Center" Width="190"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.CustomerCode) HeaderText="@L["LineGridCustomerCode"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.PackageType) HeaderText="@L["LineGridPackageType"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.PackageContent) Type="ColumnType.Number" HeaderText="@L["LineGridPackageContent"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.NumberofPackage) Type="ColumnType.Number" HeaderText="@L["LineGridNumberofPackage"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.TotalAmount) Type="ColumnType.Number" HeaderText="@L["LineGridTotalAmount"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.TotalNetKG) Type="ColumnType.Number" HeaderText="@L["LineGridTotalNetKG"]" TextAlign="TextAlign.Center" Width="200"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.TotalGrossKG) Type="ColumnType.Number" HeaderText="@L["LineGridTotalGrossKG"]" TextAlign="TextAlign.Center" Width="200"></GridColumn>
                                    <GridColumn Field=@nameof(SelectPalletRecordLinesDto.LineApproval) DisplayAsCheckBox="true" HeaderText="@L["LineGridLineApproval"]" TextAlign="TextAlign.Center" Width="200"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="LineCrudPopup"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["LineModalTitle"]"
             Width="42%"
             Height="42%"
             MinWidth="720px"
             MinHeight="450px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="24%" />
                    <DxGridLayoutRow Height="20%" />
                    <DxGridLayoutRow Height="20%" />
                    <DxGridLayoutRow Height="20%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="5%" />
                    <DxGridLayoutColumn Width="42%" />
                    <DxGridLayoutColumn Width="5%" />
                    <DxGridLayoutColumn Width="42%" />
                    <DxGridLayoutColumn Width="5%" />

                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["ProductCodeLineLabel"] </strong></label>
                            <SfTextBox @ref="@ProductsCodeButtonEdit" Created="@ProductsCodeOnCreateIcon" @bind-Value="LineDataSource.ProductCode" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CustomerCodeLabel"] </strong></label><br />
                            <SfTextBox Enabled=false @bind-Value="LineDataSource.CustomerCode"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PackageContentLabel"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="LineDataSource.PackageContent" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["NumberofPackageLabel"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="LineDataSource.NumberofPackage" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["TotalAmountLabel"] </strong></label><br />
                            <SfNumericTextBox TValue="int" @bind-Value="LineDataSource.TotalAmount" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["TotalNetKGLabel"] </strong></label><br />
                            <SfNumericTextBox TValue="decimal" @bind-Value="LineDataSource.TotalNetKG" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["TotalGrossKGLabel"] </strong></label><br />
                            <SfNumericTextBox TValue="decimal" @bind-Value="LineDataSource.TotalGrossKG" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="PalletDetailPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PalletDetailModalTitle"]"
             Width="87%"
             Height="50%"
             MinWidth="1500px"
             MinHeight="540px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="90%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="96%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <SfGrid @ref=_PalletDetailGrid ID="PalletDetailGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@PalletDetailGridList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@PalletDetailGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnPalletDetailContextMenuClick" TValue="PalletDetailGrid"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(PalletDetailGrid.ProductName) HeaderText="@L["DetailGridProductName"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.EnglishDefinition) HeaderText="@L["DetailGridEnglishDefinition"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.OrderReferenceNo) HeaderText="@L["DetailGridOrderReferenceNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.CustomerReferenceNo) HeaderText="@L["DetailGridCustomerReferenceNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.PackingListNo) HeaderText="@L["DetailGridPackingListNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.TicketNo) HeaderText="@L["DetailGridTicketNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.OrderNo) HeaderText="@L["DetailGridOrderNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.CustomerCode) HeaderText="@L["DetailGridCustomerCode"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.PackageFicheProductWeight) Type="ColumnType.Number" HeaderText="@L["DetailGridPackageFicheProductWeight"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.OrderQuantity) Type="ColumnType.Number" HeaderText="@L["DetailGridOrderQuantity"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.MaxProductionQuantity) Type="ColumnType.Number" HeaderText="@L["DetailGridMaxProductionQuantity"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.PackageTotalQuantity) Type="ColumnType.Number" HeaderText="@L["DetailGridPackageTotalQuantity"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.OrderunitPrice) Type="ColumnType.Number" HeaderText="@L["DetailGridOrderunitPrice"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.ApprovedUnitPrice) Type="ColumnType.Number" HeaderText="@L["DetailGridApprovedUnitPrice"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.SalesPriceListPrice) Type="ColumnType.Number" HeaderText="@L["DetailGridSalesPriceListPrice"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.LastOrderPrice) Type="ColumnType.Number" HeaderText="@L["DetailGridLastOrderPrice"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.TotalNetKG) Type="ColumnType.Number" HeaderText="@L["DetailGridTotalNetKG"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.TotalGrossKG) Type="ColumnType.Number" HeaderText="@L["DetailGridTotalGrossKG"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(PalletDetailGrid.LineAmount) Type="ColumnType.Number" HeaderText="@L["DetailGridLineAmount"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>

                                </GridColumns>

                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSICancelButton" OnClick="HidePalletDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="PalletDetailCrudPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PalletDetailModalTitle"]"
             Width="22%"
             Height="21%"
             MinWidth="380px"
             MinHeight="230px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="90%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="5%" />
                    <DxGridLayoutColumn Width="90%" />
                    <DxGridLayoutColumn Width="5%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["ApprovedUnitPriceDetailLabel"] </strong></label>
                            <SfNumericTextBox TValue="decimal" Min="0" @bind-Value="PalletDetailDataSource.ApprovedUnitPrice"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnPalletDetailSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HidePalletDetailCrudPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="LoadingDetailPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["LoadingDetailModalTitle"]"
             Width="81%"
             Height="83%"
             MinWidth="1400px"
             MinHeight="900px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="65%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="NameFilterComboBox" DataSource="@_nameFilterComboBox">
                                <ComboBoxEvents TItem="NameFilterComboBox" TValue="string" ValueChange="@NameFilterComboBoxValueChangeHandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PackageTypeLabel"] </strong></label><br />
                            <SfComboBox TValue="string" TItem="PackageTypeFilterComboBox" DataSource="@_packageTypeFilterComboBox">
                                <ComboBoxEvents TItem="PackageTypeFilterComboBox" TValue="string" ValueChange="@PackageTypeFilterComboBoxValueChangeHandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br /><center>
                                <SfButton CssClass="TSICancelButton" OnClick="LoadingDetailFilterClicked"><SfIcon Size="IconSize.Medium" Name="IconName.Filter"></SfIcon>&nbsp;@L["FilterButton"]</SfButton>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="7">
                        <Template>
                            <br />
                            <SfButton CssClass="TSICancelButton" OnClick="ClearButtonClicked"><SfIcon Size="IconSize.Medium" Name="IconName.FilterClear"></SfIcon>&nbsp;@L["ClearButton"]</SfButton>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["PlannedLoadingTimeLabel"] </strong></label><br />
                            <SfDatePicker @bind-Value="LoadingDateFilter"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CurrentAccountCardNameLabel"] </strong></label><br />
                            <SfTextBox @ref="@CurrentAccountCardsFilterButtonEdit" Created="@CurrentAccountCardsFilterCodeOnCreateIcon" @bind-Value="CurrentAccountNameFilter" ShowClearButton=true ValueChange="CurrentAccountCardsFilterOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>@L["IsAllColumnsLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="isAllColumns"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="7">
                        <Template>
                            <SfGrid @ref=_LoadingDetailGrid ID="LoadingDetailGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@LoadingDetailGridList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="true" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" Toolbar=@LoadingDetailGridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                @*         <GridAggregates>
                            <GridAggregate>
                            <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(LoadingDetailGrid.QuantityInPackage) Type="AggregateType.Sum" Context="loadingContext">
                            <GroupFooterTemplate>
                            @{
                            var aggregate = (loadingContext as AggregateTemplateContext);
                            <div>
                            <p>@L["SUMLABEL"]</p>
                            </div>
                            }
                            </GroupFooterTemplate>
                            </GridAggregateColumn>
                            </GridAggregateColumns>
                            </GridAggregate>
                            <GridAggregate>
                            <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(LoadingDetailGrid.PackageQuantity) Type="AggregateType.Sum" Context="loadingContext">
                            <GroupFooterTemplate>
                            @{
                            var aggregate = (loadingContext as AggregateTemplateContext);
                            <div>
                            <p>@aggregate.Sum</p>
                            </div>
                            }
                            </GroupFooterTemplate>
                            </GridAggregateColumn>
                            </GridAggregateColumns>
                            </GridAggregate>

                            <GridAggregate>
                            <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(LoadingDetailGrid.TotalPackageQuantity) Type="AggregateType.Sum" Context="loadingContext">
                            <GroupFooterTemplate>
                            @{
                            var aggregate = (loadingContext as AggregateTemplateContext);
                            <div>
                            <p>@aggregate.Sum</p>
                            </div>
                            }
                            </GroupFooterTemplate>
                            </GridAggregateColumn>
                            </GridAggregateColumns>
                            </GridAggregate>

                            <GridAggregate>
                            <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(LoadingDetailGrid.LineAmount) Type="AggregateType.Sum" Context="loadingContext">
                            <GroupFooterTemplate>
                            @{
                            var aggregate = (loadingContext as AggregateTemplateContext);
                            <div>
                            <p>@aggregate.Sum</p>
                            </div>
                            }
                            </GroupFooterTemplate>
                            </GridAggregateColumn>
                            </GridAggregateColumns>
                            </GridAggregate>

                            <GridAggregate>
                            <GridAggregateColumns>
                            <GridAggregateColumn Field=@nameof(LoadingDetailGrid.ProductGroupName) Type="AggregateType.Sum" Context="loadingContext">
                            <GroupFooterTemplate>
                            @{
                            var aggregate = (loadingContext as AggregateTemplateContext);
                            <div>
                            <p>@L["MIDSUMLABEL"]</p>
                            </div>
                            }
                            </GroupFooterTemplate>
                            </GridAggregateColumn>
                            </GridAggregateColumns>
                            </GridAggregate>
                            </GridAggregates> *@

                                <GridEvents OnToolbarClick="@LoadingDetailToolbarClickHandler" TValue="LoadingDetailGrid"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.SupplierRefNo) HeaderText="@L["LoadingDetailGridSupplierRefNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.CustomerRefNo) HeaderText="@L["LoadingDetailGridCustomerRefNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ProductCode) HeaderText="@L["LoadingDetailGridProductCode"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.PalletName) HeaderText="@L["LoadingDetailGridPalletName"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.PackageOrderNo) HeaderText="@L["LoadingDetailGridPackageOrderNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.QuantityInPackage) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridQuantityInPackage"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.PackageQuantity) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridPackageQuantity"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.TotalPackageQuantity) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridTotalPackageQuantity"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.OrderUnitPrice) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridOrderUnitPrice"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.LineAmount) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridLineAmount"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ProductGroupName) HeaderText="@L["LoadingDetailGridProductGroupName"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.CustomerCode) HeaderText="@L["LoadingDetailGridCustomerCode"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.OrderNo) HeaderText="@L["LoadingDetailGridOrderNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ConfirmedShippingDate) Type="ColumnType.DateTime" HeaderText="@L["LoadingDetailGridConfirmedShippingDate"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ProductWeight) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridProductWeight"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.OrderQuantity) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridOrderQuantity"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.MaxProductionQuantity) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridMaxProductionQuantity"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ApprovedUnitPrice) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridApprovedUnitPrice"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.SalesPriceListPrice) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridSalesPriceListPrice"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.LastOrderPrice) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridLastOrderPrice"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.TotalNetKG) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridTotalNetKG"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.TotalGrossKG) Type="ColumnType.Number" HeaderText="@L["LoadingDetailGridTotalGrossKG"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.ProductName) HeaderText="@L["LoadingDetailGridProductName"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.EnglishDefinition) HeaderText="@L["LoadingDetailGridEnglishDefinition"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.CustomerReferenceNo) HeaderText="@L["LoadingDetailGridCustomerReferenceNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.TicketNo) HeaderText="@L["LoadingDetailGridTicketNo"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                    <GridColumn Field=@nameof(LoadingDetailGrid.CurrentAccountName) HeaderText="@L["LoadingDetailGridCurrentAccountName"]" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSICancelButton" OnClick="HideLoadingDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>



    <DxPopup @bind-Visible="BigLabelReportVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["BigPalletLabelModalTitle"]"
             Width="81%"
             Height="83%"
             MinWidth="1400px"
             MinHeight="900px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DevGridLayoutFilterRow ColumnCount="1" RowCount="2" RowHeights="@RowHeights("*")">
                <GridLayoutItems>

                    <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                        <Template>

                            <SfCard class="TSIReportFilterCard" style="height:100px !important;">

                                <CardContent>

                                    <DxGridLayout CssClass="TSIGridLayout">
                                        <Rows>
                                            <DxGridLayoutRow Height="48%" />
                                            <DxGridLayoutRow Height="48%" />
                                        </Rows>
                                        <Columns>
                                            <DxGridLayoutColumn Width="2%" />
                                            <DxGridLayoutColumn Width="30%" />
                                            <DxGridLayoutColumn Width="4%" />
                                            <DxGridLayoutColumn Width="30%" />
                                            <DxGridLayoutColumn Width="4%" />
                                            <DxGridLayoutColumn Width="28%" />
                                            <DxGridLayoutColumn Width="2%" />
                                        </Columns>
                                        <Items>

                                            <DxGridLayoutItem Row="0" Column="1">
                                                <Template>

                                                    <br />
                                                    <label class="TSIModalLabel"><strong>@ReportLocalizer["BigPalletLabelPalletFilterLabel"] </strong></label><br />

                                                    <SfMultiSelect @bind-Value="@BindingPalletRecords"
                                                                   DataSource="@PalletRecords"
                                                                   AllowFiltering=true
                                                                   Mode="VisualMode.CheckBox"
                                                                   ShowSelectAll=true
                                                                   SelectAllText=@ReportLocalizer["SelectAllText"]
                                                                   UnSelectAllText=@ReportLocalizer["UnSelectAllText"]
                                                                   ShowDropDownIcon="true">

                                                        <MultiSelectFieldSettings Text="Name" Value="Id"></MultiSelectFieldSettings>
                                                    </SfMultiSelect>

                                                </Template>
                                            </DxGridLayoutItem>

                                            <DxGridLayoutItem Row="0" Column="3">
                                                <Template>
                                                    <br />
                                                    <br />
                                                    <SfButton CssClass="TSISaveButton" OnClick="CreateBigPalletLabelReport"><SfIcon Size="IconSize.Medium" Name="IconName.Filtered"></SfIcon>&nbsp;@ReportLocalizer["CreateReport"]</SfButton>
                                                </Template>
                                            </DxGridLayoutItem>

                                        </Items>
                                    </DxGridLayout>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="1" Column="0" ColumnSpan="1">
                        <Template>
                            <SfCard class="TSIGridCards">
                                <CardContent>
                                    <DxReportViewer @ref="BigLabelReportViewer" Report="@BigLabelReport">
                                    </DxReportViewer>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayoutFilterRow>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSICancelButton" OnClick="HideLoadingDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="PalletLabelReportVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PalletLabelModalTitle"]"
             Width="81%"
             Height="83%"
             MinWidth="1400px"
             MinHeight="900px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="2%" />
                    <DxGridLayoutRow Height="98%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="94%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <DxReportViewer @ref="PalletLabelReportViewer" Report="@PalletLabelReport">
                            </DxReportViewer>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSICancelButton" OnClick="HideLoadingDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="TicketListPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["TicketListModalTitle"]"
             Width="81%"
             Height="65%"
             MinWidth="1400px"
             MinHeight="700px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="90%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="96%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <SfGrid @ref=_TicketListGrid ID="TicketListGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@TicketListGridList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="true" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" Toolbar=@TicketListGridToolbarItems ContextMenuItems="@TicketListGridContextMenu">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>


                                <GridEvents ContextMenuItemClicked="@OnTicketListContextMenuClick" OnToolbarClick="@TicketListToolbarClickHandler" TValue="TicketListGrid"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(TicketListGrid.IsApproved) DisplayAsCheckBox=true HeaderText="@L["TicketListGridIsApproved"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.PalletNo) HeaderText="@L["TicketListGridPalletNo"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.ProductCode) HeaderText="@L["TicketListGridProductCode"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                        
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.PackageOrderNo) HeaderText="@L["TicketListGridPackageOrderNo"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                        
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.QuantityInPackage) HeaderText="@L["TicketListGridQuantityInPackage"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                      
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.PackageQuantity) HeaderText="@L["TicketListGridPackageQuantity"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.TotalPackageQuantity) HeaderText="@L["TicketListGridTotalPackageQuantity"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.PackageType) HeaderText="@L["TicketListGridPackageType"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                        
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.OrderRefNo) HeaderText="@L["TicketListGridOrderRefNo"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.CustomerRefNo) HeaderText="@L["TicketListGridCustomerRefNo"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.CustomerCode) HeaderText="@L["TicketListGridCustomerCode"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.ProductionOrderNo) HeaderText="@L["TicketListGridProductionOrderNo"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                       
                                    </GridColumn>
                                    <GridColumn Field=@nameof(TicketListGrid.Status) HeaderText="@L["TicketListGridStatus"]" TextAlign="TextAlign.Center" Width="155" Context="ticketContext">
                                        
                                    </GridColumn>

                                </GridColumns>

                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSICancelButton" OnClick="HideTicketList"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}


@if (SelectProductsPopupVisible)
{
    <DxPopup @bind-Visible="SelectProductsPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["ProductsModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="ProductsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ProductsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@ProductsDoubleClickHandler" TValue="ListProductsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="@L["ProductModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="@L["ProductModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectPackingListsPopupVisible)
{
    <DxPopup @bind-Visible="SelectPackingListsPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PackingListsModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="PackingListsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@PackingListsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@PackingListsDoubleClickHandler" TValue="ListPackingListsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListPackingListsDto.Code) HeaderText="@L["PackingListModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPackingListsDto.TransmitterName) HeaderText="@L["PackingListModalGridTransmitterName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPackingListsDto.TransmitterName) HeaderText="@L["PackingListModalGridRecieverName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectCurrentAccountCardsPopupVisible)
{
    <DxPopup @bind-Visible="SelectCurrentAccountCardsPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["CurrentAccountModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="CurrentAccountCardsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@CurrentAccountCardsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                            AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@CurrentAccountCardsDoubleClickHandler" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="@L["CurrentAccountCardCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="@L["CurrentAccountCardName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.CustomerCode) HeaderText="@L["CurrentAccountCardCustomerCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>

                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectPackageFichesModal)
{
    <DxPopup @bind-Visible="SelectPackageFichesModal"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PackageFicheModalTitle"]"
             Width="64%"
             Height="50%"
             MinWidth="1220px"
             MinHeight="540px"
             ShowCloseButton=false
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="90%" />
                    <DxGridLayoutRow Height="10%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="96%" />
                    <DxGridLayoutColumn Width="2%" />

                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <SfGrid @ref=_PackageFichesGrid ID="PackageFichesGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@PackageFichesSelectionList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                    AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents OnRecordDoubleClick="@PackageFichesDoubleClickHandler" TValue="PackageFicheSelectionGrid"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.SelectedLine) DisplayAsCheckBox="true" HeaderText="@L["PackageFichesGridSelectedLine"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.PackageType) HeaderText="@L["PackageFichesGridPackageType"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.PalletNo) HeaderText="@L["PackageFichesGridPalletNo"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.LoadingDate) HeaderText="@L["PackageFichesGridLoadingDate"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.ProductCode) HeaderText="@L["PackageFichesGridProductCode"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.ProductName) HeaderText="@L["PackageFichesGridProductName"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.CustomerCode) HeaderText="@L["PackageFichesGridCustomerCode"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.SalesOrderFicheNo) HeaderText="@L["PackageFichesGridSalesOrderFicheNo"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.PackageContent) Type="ColumnType.Number" HeaderText="@L["PackageFichesGridPackageContent"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>
                                    <GridColumn Field=@nameof(PackageFicheSelectionGrid.NumberofPackage) Type="ColumnType.Number" HeaderText="@L["PackageFichesGridNumberofPackage"]" TextAlign="TextAlign.Center" Width="220"></GridColumn>


                                </GridColumns>

                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem> <DxGridLayoutItem Row="1" Column="1">
                        <Template>

                            <label class="TSIModalLabel"><strong>@L["SelectedNumberofPackageLabel"] @selectedNumberofPackages.ToString() </strong></label>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="TransferSelectedPackageFichesClicked"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["TransferPackageFicheButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HidePackageFichesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectCurrentAccountCardsFilterPopupVisible)
{
    <DxPopup @bind-Visible="SelectCurrentAccountCardsFilterPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["CurrentAccountModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="CurrentAccountCardsFilterGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@CurrentAccountCardsFilterList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                            AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@CurrentAccountCardsFilterDoubleClickHandler" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="@L["CurrentAccountCardCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="@L["CurrentAccountCardName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrentAccountCardsDto.CustomerCode) HeaderText="@L["CurrentAccountCardCustomerCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>

                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}