@page "/stations"
@layout MainLayout

@using Syncfusion.Blazor.Buttons


@using TsiErp.Business.Entities.Station.Services
@using TsiErp.Business.Entities.StationGroup.Services
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Business.Entities.StationInventory.Services
@using TsiErp.Entities.Entities.Station
@using TsiErp.Entities.Entities.Station.Dtos
@using TsiErp.ErpUI.Pages.Base

@using TsiErp.ErpUI.Pages.StationGroup
@using TsiErp.Entities.Entities.StationGroup.Dtos
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.Entities.Entities.StationInventory.Dtos
@using TsiErp.Localizations.Resources.Stations.Page
@inject IStringLocalizer<StationsResource> L 

@inherits BaseListPage<SelectStationsDto, ListStationsDto, CreateStationsDto, UpdateStationsDto, ListStationsParameterDto>


@inject IStationsAppService StationsService
@inject IStationGroupsAppService StationGroupsService
@inject IProductsAppService ProductsAppService
@inject IStationInventoriesAppService StationInventoriesAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Makine & İş Gücü Yönetimi Yönetimi > Ana Kayıtlar" CurrentMenu="İş İstasyonları" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid"  @ref="_grid"   AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@MainGridContextMenu">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                <SfToolbar>
                                    <ToolbarItems>
                                        <ToolbarItem Type="ItemType.Button">
                                            <Template>

                                                <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("ExcelExport", "İş İstasyonları", "IsIstasyonlari"))"><img class="TSIExcelIcon" src="/images/excelicon.png" /></SfButton>
                                            </Template>
                                        </ToolbarItem>

                                        <ToolbarItem Type="ItemType.Button">
                                            <Template>

                                                <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("PDFExport", "İş İstasyonları", "IsIstasyonlari"))"><img class="TSIPdfIcon" src="/images/pdficon.png" /></SfButton>
                                            </Template>
                                        </ToolbarItem>

                                    </ToolbarItems>
                                </SfToolbar>
                                <GridEvents   ContextMenuItemClicked="@MainContextMenuClick" TValue="ListStationsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListStationsDto.Code) HeaderText="MAKİNA KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListStationsDto.Name) HeaderText="MAKİNA AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListStationsDto.Brand) HeaderText="MARKA" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListStationsDto.StationGroup) HeaderText="İŞ İSTASYONU GRUBU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="İş İstasyonları"
         Width="54%"
         Height="78%"
         MinWidth="940px"
         MinHeight="840px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="65%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="32%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="38%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Makina Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Makina Kodunu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Makina Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="İsim Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="2">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                        <Template>
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Genel Bilgiler"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">
                                                <Rows>
                                                    <DxGridLayoutRow Height="45%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>
                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Marka: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Brand" Placeholder="Markayı Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Model: </strong></label>
                                                            <SfNumericTextBox Min="0" TValue="int" @bind-Value="DataSource.Model" CssClass="TSITxtBox"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Kapasite: </strong></label>
                                                            <SfTextBox Placeholder="Kapasiteyi Yazınız." @bind-Value="DataSource.Capacity" CssClass="TSITxtBox"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>KWA: </strong></label><br />
                                                            <SfNumericTextBox Min="0" Placeholder="KWA" @bind-Value="DataSource.KWA" CssClass="TSITxtBox"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>İş İstasyonu Grubu: </strong></label><br />

                                                            <SfTextBox @ref="@StationGroupButtonEdit" Created="@StationGroupOnCreateIcon" @bind-Value="DataSource.StationGroup" ShowClearButton=true ValueChange="StationGroupOnValueChange"></SfTextBox>

                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Amortisman: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.Amortization" TValue="int"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>X: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.X" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Y: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.Y" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Kapladığı Alan: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.AreaCovered" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Kullanım Alanı: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.UsageArea" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Makina Maliyeti: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.MachineCost" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Vardiya: </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.Shift" TValue="int"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>

                                                            <label class="TSIModalLabel"><strong>Vardiya Çalışma Süresi: </strong></label><br />
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.ShiftWorkingTime" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="2">
                                                        <Template>

                                                            <label class="TSIModalLabel"><strong>Güç Faktörü: </strong></label><br />
                                                            <SfNumericTextBox @bind-Value="DataSource.PowerFactor" TValue="decimal"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>
                                            </DxGridLayout>


                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="İş İstasyonu Envanteri"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">
                                                <Rows>
                                                    <DxGridLayoutRow Height="20%" />
                                                    <DxGridLayoutRow Height="28%" />
                                                    <DxGridLayoutRow Height="50%" />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="30%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="30%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="24%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                </Columns>
                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="1">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Stok Kodu: </strong></label>
                                                              <SfTextBox @ref="@ProductButtonEdit" Created="@ProductOnCreateIcon" @bind-Value="InventoryDataSource.ProductCode" ShowClearButton=true ValueChange="ProductOnValueChange"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="3">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Miktar: </strong></label>
                                                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value="InventoryDataSource.Amount" CssClass="TSITxtBox"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="5">
                                                        <Template>
                                                            <br />
                                                            <br />
                                                            <center>
                                                                <SfButton CssClass="TSISaveButton" OnClick="OnInventorySubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                                                            </center>

                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="1" ColumnSpan="3">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Açıklama: </strong></label><br />
                                                            <SfTextBox Multiline=true Placeholder="Açıklama Yazınız." @bind-Value="InventoryDataSource.Description_" CssClass="TSIMemoBox60"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="5">
                                                        <Template>
                                                            <SfGrid @ref="_InventoryGrid" ID="InventoryGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="InventoryList" AllowPaging="false" AllowFiltering="true" AllowReordering="true"  AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"  ShowColumnChooser="true" GridLines="GridLine.Both"
                                                                AllowSorting="true" Height="200px !important" Width="100%" class="GridZebra" ContextMenuItems="@InventoryGridContextMenu">
                                                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                                                <GridEvents ContextMenuItemClicked="@OnInventoryContextMenuClick" TValue="SelectStationInventoriesDto"></GridEvents>
                                                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                                                <GridColumns>
                                                                    <GridColumn Field=@nameof(SelectStationInventoriesDto.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                                    <GridColumn Field=@nameof(SelectStationInventoriesDto.Amount) Type="ColumnType.Number" HeaderText="MİKTAR" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                                    
                                                                </GridColumns>
                                                            </SfGrid>
                                                        </Template>
                                                    </DxGridLayoutItem>


                                                </Items>
                                            </DxGridLayout>


                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    @if (SelectStationGroupPopupVisible)
    {
        <DxPopup @bind-Visible="SelectStationGroupPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="İş İstasyon Grupları"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                       
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIWorkStationGroupPopUpCard">

                                    <CardContent>
                                        <SfGrid ID="GroupGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@StationGroupList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@StationGroupDoubleClickHandler" TValue="ListStationGroupsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListStationGroupsDto.Code) HeaderText="İŞ İSTASYON GRUBU KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListStationGroupsDto.Name) HeaderText="İŞ İSTASYON GRUBU AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListStationGroupsDto.TotalEmployees) Type="ColumnType.Number" HeaderText="TOPLAM ÇALIŞAN" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
                @*<SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>*@
            </FooterContentTemplate>
        </DxPopup>
    }

    @if (SelectProductPopupVisible)
    {
        <DxPopup @bind-Visible="SelectProductPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Stok Kartları"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                       
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIWorkStationGroupPopUpCard">

                                    <CardContent>
                                        <SfGrid ID="ProductGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ProductList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@ProductDoubleClickHandler" TValue="ListProductsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="STOK AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
                @*<SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>*@
            </FooterContentTemplate>
        </DxPopup>
    }
}
