@page "/global"
@layout MainLayout



@inject IProductsAppService ProductsAppService
@inject IContractTrackingFichesAppService ContractTrackingFichesAppService
@inject IProductionTrackingsAppService ProductionTrackingsAppService
@inject IOperationUnsuitabilityReportsAppService OperationUnsuitabilityReportsAppService
@inject IShipmentPlanningsAppService ShipmentPlanningsAppService
@inject IContractQualityPlansAppService ContractQualityPlansAppService
@inject ISalesOrdersAppService SalesOrdersAppService
@inject IGetSQLDateAppService GetSQLDateAppService
@inject IProductionOrdersAppService ProductionOrdersAppService
@inject IStringLocalizer<DashboardsResource> L


<DxGridLayout CssClass="ODGridLayout">
    <Rows>
        <DxGridLayoutRow Height="3%" />
        <DxGridLayoutRow Height="10%" />
        <DxGridLayoutRow Height="11%" />
        <DxGridLayoutRow Height="18%" />
        <DxGridLayoutRow Height="2%" />
        <DxGridLayoutRow Height="18%" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="0%" />
        <DxGridLayoutColumn Width="32%" />
        <DxGridLayoutColumn Width="2%" />
        <DxGridLayoutColumn Width="32%" />
        <DxGridLayoutColumn Width="2%" />
        <DxGridLayoutColumn Width="32%" />
        <DxGridLayoutColumn Width="0%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="7">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="@L["UIOperationalPreviousMenu"]" CurrentMenu="@L["UIGlobalCurrentMenu"]" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="1" Column="1">
            <Template>
                <SfCard CssClass="HMYMCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader>
                        <table width="550px">
                            <tr>
                                <td width="500">
                                    <div style="display: flex;">
                                        <span style="text-align: center; font-family: 'Arial', 'Verdana', sans-serif !important; font-size: 17px;"><b>@L["HMYMProductsCardTitle"]</b></span>
                                    </div>
                                </td>
                                <td width="50px" align="right">
                                    <div><i class="fas fa-cubes" style="font-size:70px; margin-left: 10px; opacity: 85%;"></i></div>
                                </td>
                            </tr>
                        </table>
                    </CardHeader>
                    <CardContent>
                        <table style="margin-bottom: 10px;">
                            <tr>
                                <td>
                                    <div class="Class" style="text-align: center; font-family:-webkit-body; font-size: 13px;"><b>@* @L["HMYMProductsTableTitle"] *@</b></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Class2" style="text-align: center"
                                    <b style= "color: #f60526">@HMYMCriticalQuantity</b></div>
                                </td>
                            </tr>
                        </table>
                    </CardContent>
                    <CardContent EnableSeparator="true"></CardContent>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton IsPrimary="true" CssClass="e-btn e-secondary custom-button" style="float: right;" OnClick="ShowHMYMDetailButtonClickedAsync">
                                <i class="fas fa-hand-point-down"></i> @L["DetailButton"]
                            </SfButton>

                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="1" Column="3">
            <Template>
                <SfCard CssClass="HMYMCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader>
                        <table width="550px">
                            <tr>
                                <td width="500">
                                    <div style="display: flex;">
                                        <span style="text-align: center; font-family: 'Arial', 'Verdana', sans-serif !important; font-size: 17px;"><b>@L["PendingProductCardTitle"]</b></span>
                                    </div>
                                </td>
                                <td width="50px" align="right">
                                    <div><i class="fas fa-box-open" style="font-size:65px; margin-left: 10px; opacity: 85%;"></i></div>
                                </td>
                            </tr>
                        </table>
                    </CardHeader>
                    <CardContent>
                        <table style="margin-bottom: 10px;">
                            <tr>
                                <td>
                                    <div class="Class" style="text-align: center; font-family: serif; font-size: 13px;"><b>@* @L["PendingProductTableTitle"] *@ </b></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Class2" style="text-align: center">
                                        <b style="color: #f60526">@TotalPendingQuantity</b>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </CardContent>
                    <CardContent EnableSeparator="true"></CardContent>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton IsPrimary="true" CssClass="e-btn e-secondary custom-button" style="float: right;" OnClick="ShowTotalPendingDetailButtonClickedAsync">
                                <i class="fas fa-hand-point-down"></i> @L["DetailButton"]
                            </SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="1" Column="5" RowSpan="2">
            <Template>
                <SfCard CssClass="PlanningListCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader Title="@L["PlanningListCardTitle"]" />
                    <CardContent>
                        <br />
                        <center>
                            <SfCalendar TValue="DateTime" @ref="calendar" @bind-Value="selectedDate">
                                <CalendarEvents ValueChange="ValuechangeHandler" TValue="DateTime" OnRenderDayCell="CustomDates"></CalendarEvents>
                            </SfCalendar>
                        </center>

                    </CardContent>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="2" Column="1" RowSpan="3">
            <Template>
                <br />
                <SfCard CssClass="ProductGroupCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader Title="@L["ProductGroupCardTitle"]" />
                    <CardContent>
                        <SfAccumulationChart>
                            <AccumulationChartCenter Y="50%" />
                            <AccumulationChartTitleStyle FontFamily="Georgia" FontWeight="bold" Color="#900303" Size="12px"></AccumulationChartTitleStyle>
                            <AccumulationChartSeriesCollection>
                                <AccumulationChartSeries DataSource="@ProductGroupOrderList" XName="ProductGroupName" YName="TotalQuantity"
                                                         Name="ProductGroupName" Radius="70%">

                                    <AccumulationDataLabelSettings Visible="true" Name="ValuePercent"></AccumulationDataLabelSettings>
                                </AccumulationChartSeries>
                            </AccumulationChartSeriesCollection>
                        </SfAccumulationChart>
                    </CardContent>
                    <CardContent EnableSeparator="false"></CardContent>
                    <CardFooter>
                        <CardFooterContent>

                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="2" Column="3">
            <Template>
                <br />
                <SfCard CssClass="HMYMCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader>
                        <table width="550px">
                            <tr>
                                <td width="500">
                                    <div style="display: flex;">
                                        <center><span style="text-align: center; font-family: 'Arial', 'Verdana', sans-serif !important; font-size: 18px;"><b style="padding-left: 35px;">@L["ProducedAndFaultyCardTitle"]</b></span></center>
                                    </div>
                                </td>
                                <td width="50px" align="right">
                                    <div><i class="fa fa-cogs" style="font-size:65px; margin-left: 10px; opacity: 85%;"></i></div>
                                </td>
                            </tr>
                        </table>
                    </CardHeader>
                    <CardContent>
                        <table style="margin-bottom: 10px;">
                            <tr>
                                <td>
                                    <div class="Class" style="text-align: center; font-family: serif; font-size: 13px;"><b>@* @L["ProducedAndFaultyTableTitle"] *@ </b></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Class3" style="text-align:left">
                                        <b style="color: #0b0b0b; text-align: left;">@L["TotalProducedQuantityTableTitle"] @($"{TotalProducedQuantity}")</b>
                                        <br/>
                                        <b style="color: #0b0b0b; text-align: left;">@L["TotalFaultyQuantityTableTitle"] @($"{TotalFaultyQuantity}")</b>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="Class" style=" color:#f60526; text-align: center; font-family: serif; font-size: 20px;"><b> @L["ProductivityTableTitle"] @($"%{Productivity:F1}") </b></div>
                                </td>
                            </tr>
                        </table>
                    </CardContent>
                    <CardContent EnableSeparator="true"></CardContent>
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton IsPrimary="true" CssClass="e-btn e-secondary custom-button" style="float: right;" OnClick="ShowProducedAndFaultyDetailButtonClickedAsync">
                                <i class="fas fa-hand-point-down"></i> @L["DetailButton"]
                            </SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="3" Column="3" ColumnSpan="5">
            <Template>
                <br />
                <br />
                <SfCard CssClass="HMYMCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 0px 14px !important;width: 100%  !important;">
                    <CardHeader Title="@L["Most5SalesCardTitle"]" />
                    <CardContent>
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                            <ChartSeriesCollection>
                                <ChartSeries DataSource="@TopSales" Fill="#ba1d1d" XName="CurrentAccountCard" YName="Quantity" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                    <ChartMarker Visible="true">
                                        <ChartDataLabel Visible="true" />
                                    </ChartMarker>
                                </ChartSeries>
                            </ChartSeriesCollection>
                        </SfChart>
                    </CardContent>
                    <CardContent EnableSeparator="false"></CardContent>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="5" Column="1" ColumnSpan="5">
            <Template>
                <br />
                @* <SfCard CssClass="HMYMCard" style="box-shadow: rgb(12 12 12 / 100%)  0px 3px 14px !important;width: 100%  !important;">
                    <CardHeader Title="TEST" />
                    <CardContent>
                        <SfChart>
                            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                            <ChartSeriesCollection>
                                @* <ChartSeries DataSource="@TopSales" Fill="#1d99ba" XName="CurrentAccountCard" YName="Quantity" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column"> *@
                                @*  </ChartSeries> *@
                          @*   </ChartSeriesCollection>
                        </SfChart>
                    </CardContent> *@
@*                     <CardContent EnableSeparator="false"></CardContent>
                    <CardFooter>
                        <CardFooterContent>

                        </CardFooterContent> *@
                 @*    </CardFooter> *@
                @* </SfCard> *@ 
            </Template>
        </DxGridLayoutItem>

    </Items>
</DxGridLayout>


<DxPopup @bind-Visible="HMYMDetailModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["DetailModalTitle"]"
         Width="72%"
         Height="75%"
         MinWidth="800px"
         ShowCloseButton="false"
         MinHeight="700px"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>

        <DxGridLayout CssClass="TSIGridLayout">
            <Rows>
                <DxGridLayoutRow Height="94%" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="1%" />
                <DxGridLayoutColumn Width="98%" />
                <DxGridLayoutColumn Width="1%" />
            </Columns>
            <Items>
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <br />
                        <SfGrid ID="HMYMDetailGrid" @ref="_HMYMDetailGrid" AllowPdfExport=true DataSource="@HMYMProductsList" ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="@L["ProductModalCode"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="@L["ProductModalName"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(ListProductsDto.UnitSetCode) HeaderText="@L["ProductModalUnitSetCode"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(ListProductsDto.Amount) HeaderText="@L["ProductModalAmount"]" Format="N2" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ListProductsDto.CriticalStockQuantity) HeaderText="@L["ProductModalCriticalStockQuantity"]" Format="N2" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ListProductsDto.CriticalStockQuantity) HeaderText="@L["ProductModalCriticalDifferenceQuantity"]" TextAlign="TextAlign.Center" Width="250" Context="hmymContext">
                                    <Template>
                                        @{
                                            var product = hmymContext as ListProductsDto;
                                            decimal criticalDifferenceQuantity = product.Amount - product.CriticalStockQuantity;
                                        }
                                        @criticalDifferenceQuantity.ToString("N2")
                                    </Template>
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </Template>
                </DxGridLayoutItem>

            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSICancelButton" OnClick="HideHMYMDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
    </FooterContentTemplate>
</DxPopup>


<DxPopup @bind-Visible="TotalPendingDetailModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["TotalPendingDetailModalTitle"]"
         Width="65%"
         Height="65%"
         MinWidth="700px"
         MinHeight="540px"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>

        <DxGridLayout CssClass="TSIGridLayout">
            <Rows>
                <DxGridLayoutRow Height="94%" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="1%" />
                <DxGridLayoutColumn Width="98%" />
                <DxGridLayoutColumn Width="1%" />
            </Columns>
            <Items>
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <br />
                        <SfGrid ID="TotalPendingDetailGrid" @ref="_TotalPendingDetailGrid" AllowPdfExport=true DataSource="@ContractWaitingProductsList" ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(ContractWaitingProducts.ProductCode) HeaderText="@L["ProductModalCode"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.ProductName) HeaderText="@L["ProductModalName"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.ProductionOrderNo) HeaderText="@L["ProductModalProductionOrderNo"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.CurrentAccountName) HeaderText="@L["ProductModalCurrentAccountName"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.Amount_) HeaderText="@L["ProductModalAmount_"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.OccuredAmount) HeaderText="@L["ProductModalOccuredAmount"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.WaitingAmount) HeaderText="@L["ProductModalWaitingAmount"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                <GridColumn Field=@nameof(ContractWaitingProducts.NumberofOperation) HeaderText="@L["ProductModalNumberofOperation"]" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </Template>
                </DxGridLayoutItem>

            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSICancelButton" OnClick="HideTotalPendingDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
    </FooterContentTemplate>
</DxPopup>


<DxPopup @bind-Visible="SelectedDayDetailModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["SelectedDayDetailModalTitle"]"
         Width="72%"
         Height="75%"
         MinWidth="800px"
         MinHeight="700px"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>

        <DxGridLayout CssClass="TSIGridLayout">
            <Rows>
                <DxGridLayoutRow Height="94%" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="1%" />
                <DxGridLayoutColumn Width="98%" />
                <DxGridLayoutColumn Width="1%" />
            </Columns>
            <Items>
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <br />
                        <SfGrid ID="SelectedDayDetailGrid" @ref="_SelectedDayDetailGrid" AllowPdfExport=true DataSource="@SelectedDaysList" ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(SelectedDays.ProductGroupName) HeaderText="@L["ShipmentModalProductGroupName"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                <GridColumn Field=@nameof(SelectedDays.PlannedAmount) HeaderText="@L["ShipmentModalPlannedAmount"]" Format="N2" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </Template>
                </DxGridLayoutItem>

            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSICancelButton" OnClick="HideSelectedDayDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
    </FooterContentTemplate>
</DxPopup>


<DxPopup @bind-Visible="ProducedAndFaultyModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["ProducedAndFaultyDetailModalTitle"]"
         Width="65%"
         Height="65%"
         MinWidth="700px"
         MinHeight="540px"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>

        <DxGridLayout CssClass="TSIGridLayout">
            <Rows>
                <DxGridLayoutRow Height="100%" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="1%" />
                <DxGridLayoutColumn Width="98%" />
                <DxGridLayoutColumn Width="1%" />
            </Columns>
            <Items>
                <DxGridLayoutItem Row="0" Column="1" ColumnSpan="5">
                    <Template>
                        <br />
                        <SfTab>
                            <TabItems>

                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="@L["Tab1Name"]"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                        <DxGridLayout CssClass="TSIQualityPlansGridLayout">

                                            <Rows>
                                                <DxGridLayoutRow Height="100%" />
                                            </Rows>

                                            <Columns>
                                                <DxGridLayoutColumn Width="100%" />
                                            </Columns>

                                            <Items>

                                                <DxGridLayoutItem Row="0" Column="0">
                                                    <Template>
                                                        <br />
                                                        <SfGrid @ref=_ProductionDetailGrid ID="ProductionDetailGrid" ShowColumnMenu="true" DataSource="@ProductionList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">

                                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                                            <GridColumns>
                                                                <GridColumn Field=@nameof(ListProductionTrackingsDto.ProductionOrderCode) HeaderText="@L["ProductionOrderCodeLabel"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                                                <GridColumn Field=@nameof(ListProductionTrackingsDto.PlannedQuantity) Format="N2" HeaderText="@L["PlannedQuantityLabel"]" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                                                <GridColumn Field=@nameof(ListProductionTrackingsDto.ProducedQuantity) HeaderText="@L["ProducedQuantityLabel"]" Format="N2" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                                            </GridColumns>
                                                        </SfGrid>
                                                    </Template>
                                                </DxGridLayoutItem>

                                            </Items>

                                        </DxGridLayout>
                                    </ContentTemplate>
                                </TabItem>

                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="@L["Tab2Name"]"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                        <DxGridLayout CssClass="TSIQualityPlansGridLayout">

                                            <Rows>
                                                <DxGridLayoutRow Height="100%" />
                                            </Rows>

                                            <Columns>
                                                <DxGridLayoutColumn Width="100%" />
                                            </Columns>

                                            <Items>
                                                <DxGridLayoutItem Row="0" Column="0">
                                                    <Template>
                                                        <br />
                                                        <SfGrid @ref=_FaultyDetailGrid ID="FaultyDetailGrid" ShowColumnMenu="true" DataSource="@FaultyList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">

                                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                                            <GridColumns>

                                                                <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.ProductionOrderFicheNo) HeaderText="@L["ProductionOrderFicheNoLabel"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                                                <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.UnsuitabilityItemsName) HeaderText="@L["UnsuitabilityItemsNameLabel"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                                                <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.UnsuitableAmount) HeaderText="@L["UnsuitableAmountLabel"]" Format="N2" TextAlign="TextAlign.Center" Width="250"></GridColumn>
                                                            </GridColumns>
                                                        </SfGrid>
                                                    </Template>
                                                </DxGridLayoutItem>
                                            </Items>
                                        </DxGridLayout>
                                    </ContentTemplate>
                                </TabItem>

                            </TabItems>
                        </SfTab>
                    </Template>
                </DxGridLayoutItem>
            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSICancelButton" OnClick="HideProducedAndFaultyDetailPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
    </FooterContentTemplate>
</DxPopup>



<style>

    .HMYMCard {
        height: 100% !important;
    }

    .ProductGroupCard {
        height: 97% !important;
    }

    .PlanningListCard {
        height: 105% !important;
    }

    .Class {
        font-size: 14px;
    }

    .Class2 {
        font-size: 35px;
    }
    .Class3 {
        font-size: 15px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 17px !important;
        line-height: 37px !important;
        font-weight: 700 !important;
        display: inline-block;
        word-wrap: break-word;
        white-space: normal;
        font-family: 'Arial', 'Verdana', sans-serif !important;
        text-align: center;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        font-size: 16px;
        line-height: 20px;
        display: inline-block;
    }

    .e-card .e-card-content {
        padding-top: 0px;
        display: inline-block;
        word-wrap: break-word;
        white-space: normal;
    }

    .e-card-layout {
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        display: inline-block;
    }

    table {
        width: 100%;
    }

    .TextCenter {
        text-align: center;
    }


    .e-calendar .e-content .e-cell.personal-appointment span.e-day,
    .e-calendar .e-content td:hover.e-cell.personal-appointment span.e-day,
    .e-calendar .e-content td.e-selected.e-focused-date.e-cell.personal-appointment span.e-day {
        background-color: #00ff14;
    }

    .col-lg-4 {
        -webkit-box-flex: -3;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 39.333333% !important;
    }

    .e-card-layout {
        display: inline-block !important;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .e-card .e-card-actions {
        display: inline-block;
        word-break: break-word;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding: 20px !important;
    }

    .dxbl-gridlayout {
        width: 100%;
        height: 87% !important;
        display: block;
    }

    .ODGridLayout {
        width: 100%;
        height: 2000px !important;
        display: block;
    }

    .e-card {
        background-color: #fff !important;
        border: none !important;
    }

        .e-card .e-card-actions {
            display: inline-block;
            -ms-flex-pack: start;
            justify-content: flex-start;
            padding: 8px !important;
        }

    .e-calendar, .e-bigger.e-small .e-calendar {
        border-spacing: 16px !important;
        max-width: 305px !important;
        min-width: 255px;
        padding: 0;
    }

    .selected-day {
        background-color: #ffcc00;
        color: white;
        padding: 5px;
        text-align: center;
    }

    .custom-button {
        border-color: #00000075 !important;
        background-color: #d6d6d6 !important;
        color: #9a1724 !important;
        font-size: 14px !important;
        font-weight: bold !important;
        width: auto;
        border-radius: 5px;
        height: 35px;
        border: 2px solid;
    }

        .custom-button i {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 5px;
        }

    .e-calendar .e-btn.e-today.e-flat.e-primary, .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
        background-color: #5afd0d3b !important;
        border: 0;
        border-color: #0d6efd;
        color: #198251ed;
    }

    .e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary {
        background-color: transparent;
        border-color: transparent;
        color: #373c40eb !important;
    }

    }
</style>
