@{
    
    switch (ButtonType)
    {
        case Type.Save:
            {
                <button @onclick="@ClickAsync" type="button" class="TSISaveButton"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</button>
                break;
            }
        case Type.Cancel:
            {
                <button @onclick="@ClickAsync" type="button" class="TSICancelButton"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</button>
                break;
            }
        case Type.Delete:
            {
                <button @onclick="@ClickAsync" type="button" class="TSIDeleteButton"><SfIcon Size="IconSize.Medium" Name="IconName.TableDelete"></SfIcon>&nbsp;Sil</button>
                break;
            }
        case Type.LogOut:
            {
                <button @onclick="@ClickAsync" type="button" class="e-btn e-secondary" style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold">Çıkış</button>
                break;
            }
        case Type.ShowColumns:
            {
                <button @onclick="@ClickAsync" type="button" class="TSIShowColumnsButton"><SfIcon Size="IconSize.Medium" Name="IconName.TwoColumn"></SfIcon>&nbsp;Sütunları Göster</button>
                break;

            }
            case Type.Submit:
            {
                <button @onclick="@ClickAsync" type="button" class="TSISubmitButton"><SfIcon Size="IconSize.Medium" Name="IconName.TwoColumn"></SfIcon>&nbsp;Göster</button>
                break;

            }
            default:break;
    }
}
}