@* @page "/admin/maintenance-general" *@
@page "/"
@layout AdminLayout

@inject NavigationManager NavigationManager

<SfCard class="TSIPageTitleCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="1000px">
                    <span style="float:left">
                        <label class="TSIListPageTitleCardLabel">Bakım Yönetimi</label>
                    </span>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="e-card">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="50px" align="center">
                    <br />
                    <center>
                        <SfButton CssClass="e-btn e-secondary" style="border-color: #474747 !important;background-color:#474747 !important;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold ;" IsPrimary="true" Content="Toplu Malzeme İhtiyaç Listesi Oluştur" OnClick="@(() => OnClickAllMaintenance())">

                        </SfButton>
                    </center>
                </td>
                <td width="20px">
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

<SfSpinner @bind-Visible="VisibleSpinner">
</SfSpinner>

<DxPopup Visible="@PopupVisibleAll"
         ShowFooter="true"
         HeaderText="Toplu Malzeme İhtiyaç Listesi"
         Width="1500px"
         Height="800px"
         Closing="MaintenancePopupClosing"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>
        <SfCard class="Cards">
            <CardHeader>
            </CardHeader>
            <CardContent>
                <SfGrid DataSource="@topluIhtiyacList" AllowPaging="false" Toolbar="@(new List<string>() { "Print" })" Height="573px" style="padding-left:20px; padding-right:20px;">
                    <GridColumns>
                        <GridColumn Visible="false" Field=@nameof(BakimIhtiyacListesi.STOKID) HeaderText="STOK ID" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"
                                    Width="120"></GridColumn>
                        <GridColumn Field=@nameof(BakimIhtiyacListesi.ESKISTOKKODU) HeaderText="STOK KODU" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="150">
                        </GridColumn>
                        <GridColumn Visible="false" Field=@nameof(BakimIhtiyacListesi.STOKACIKLAMASI) HeaderText="STOK AÇIKLAMASI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="130">
                        </GridColumn>
                        <GridColumn Field=@nameof(BakimIhtiyacListesi.BIRIMSETKOD) HeaderText="BİRİM SET" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"
                                    Width="120"></GridColumn>
                        <GridColumn Field=@nameof(BakimIhtiyacListesi.BAKIMMIKTARI) Format="n2" HeaderText="BAKIM MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                        </GridColumn>
                        <GridColumn Field=@nameof(BakimIhtiyacListesi.STOKMIKTARI) Format="n2" HeaderText="STOK MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                        </GridColumn>
                        <GridColumn Field=@nameof(BakimIhtiyacListesi.IHTIYACMIKTARI) Format="n2" HeaderText="İHTİYAÇ MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                        </GridColumn>
                    </GridColumns>
                    <GridEvents QueryCellInfo="CellInfoHandler" TValue="BakimIhtiyacListesi"></GridEvents>
                </SfGrid>
            </CardContent>
            <CardFooter>
            </CardFooter>
        </SfCard>
    </BodyTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" Text="Satın alma talep fişi oluştur" Click="@OnPurchaseReceiptClicked" />
        @*<DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisible = false)" />*@
    </FooterContentTemplate>
</DxPopup>
<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="70px">
                </td>
                <td width="220px">
                    <label class=FilterLabelTitle><strong>Aranacak Kelime : </strong></label>
                    <SfTextBox Placeholder="Aranacak kelimeyi yazınız..." ShowClearButton="true" Width="200px" ValueChange="OnSearch" @bind-Value="SearchValue"></SfTextBox>
                </td>
                <td width="220px">
                    <label class=FilterLabelTitle><strong>Kalan Süre : </strong></label><br />
                    <SfDropDownList TValue="string" TItem="string" DataSource="@SortingType" Placeholder="Kalan Süre" Width="200px" @bind-Value="SortingValue">
                        <DropDownListEvents TValue="string" TItem="string" ValueChange="OnSorting"></DropDownListEvents>
                    </SfDropDownList>
                </td>
                <td width="220px">
                    <label class=FilterLabelTitle><strong>Kat : </strong></label><br />
                    <SfMultiSelect Mode="VisualMode.Default" AllowFiltering="true" DataSource="@FilteringType" Placeholder="Kat" ShowClearButton="true" Width="200px" @bind-Value="FilteringValue">
                        <MultiSelectEvents TValue="string[]" TItem="string" ValueChange="OnFiltering"></MultiSelectEvents>
                    </SfMultiSelect>
                </td>
                <td width="220px">
                    <label class=FilterLabelTitle><strong>Bakıma Kalan Süre : </strong></label><br />
                    <SfComboBox TValue="int?" TItem="ComboboxTimePeriods" PopupHeight="230px" @bind-Value="selectedTimeIndex" Placeholder="Son 2 Ay" DataSource="@timeperiods">
                        <ComboBoxEvents TItem="ComboboxTimePeriods" TValue="int?" ValueChange="@ValueChangeHandler"></ComboBoxEvents>
                        <ComboBoxFieldSettings Text="TimeText" Value="TimeID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </td>
                <td width="20px">
                </td>
                <td width="50px" align="right">
                    <br />
                    <SfButton CssClass="e-btn e-secondary" style="border-color: #474747 !important;background-color:#474747 !important;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" IsPrimary="true" Content="Filtreyi Temizle" OnClick="OnReset"></SfButton>
                </td>
                <td width="20px">
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

<div class="row">
    <center>
        <div class="control-section col-lg-9 card-control-section tile_layout">
            <div class="row e-card-layout">
                @if (this.CardDatas.Count == 0)
                {
                    <div class="e-error">
                        <div class="e-error-content">Sonuç bulunamadı</div>
                    </div>
                }
                else
                {
                    @foreach (StationCards card in CardDatas)
                    {
                        if (card.TimeLeft < selectedTimeIndex)
                        {
                            <div class="col-lg-2 col-md-2 col-sm-4" style="padding: 10px;text-align:left;">
                                <div id="card_sample_1" class="card_sample">
                                    <SfCard style="height :500px;border: 5px solid #9F0303 ;border-radius:30px;box-shadow: rgb(8 8 8 / 85%) 0px 5px 15px !important;">
                                        <center><CardImage Image="@card.ImageUrl" /></center>
                                        <center> <CardHeader Title="@card.StationCode" /></center>
                                        <CardContent>
                                            <ChildContent>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            @*<th scope="col" style="text-align:center">Bakım </th>
                                                <th scope="col" style="text-align:left"> &nbsp;Detayları</th>*@
                                                            <th scope="col" style="text-align:left"> </th>
                                                            <th scope="col" style="text-align:left"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Departman : @card.StationDepartment</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Planlanan Bakım Tarihi : @card.PlannedMaintenanceDate.ToString("dd-MM-yyyy")</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Bakım Türü : @card.MaintenanceType</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Bakıma Kalan Süre : @card.TimeLeft İş Günü</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ChildContent>
                                        </CardContent>
                                        <CardFooter>
                                            <CardFooterContent>
                                                <div style="margin-top:16px">
                                                    <center> <SfButton style="background-color:#AD0000;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" CssClass="e-btn e-secondary" OnClick="@(() => OnClickMaintenance(card.StationCode, card.PlannedMaintenanceDate,card.MaintenanceID))">Bakım Detaylarını Göster</SfButton></center>
                                                </div>
                                            </CardFooterContent>
                                        </CardFooter>
                                    </SfCard>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-md-2 col-sm-4" style="padding: 10px;text-align:left;">
                                <div id="card_sample_1" class="card_sample">
                                    <SfCard style="height :500px;border: 5px solid #646363 !important;border-radius:30px !important;box-shadow: rgb(8 8 8 / 85%) 0px 5px 15px !important;">
                                        <center><CardImage Image="@card.ImageUrl" /></center>
                                        <center> <CardHeader Title="@card.StationCode" /></center>
                                        <CardContent>
                                            <ChildContent>
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            @*<th scope="col" style="text-align:center">Bakım </th>
                                                <th scope="col" style="text-align:left"> &nbsp;Detayları</th>*@
                                                            <th scope="col" style="text-align:left"> </th>
                                                            <th scope="col" style="text-align:left"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Departman : @card.StationDepartment</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Planlanan Bakım Tarihi : @card.PlannedMaintenanceDate.ToString("dd-MM-yyyy")</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Bakım Türü : @card.MaintenanceType</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Bakıma Kalan Süre : @card.TimeLeft İş Günü</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </ChildContent>
                                        </CardContent>
                                        <CardFooter>
                                            <CardFooterContent>
                                                <div style="margin-top:16px">
                                                    <center><SfButton style="background-color:#565555;text-shadow: 6px 3px 4px black; font-size:18px; font-weight:bold" CssClass="e-btn e-secondary" OnClick="@(() => OnClickMaintenance(card.StationCode, card.PlannedMaintenanceDate,card.MaintenanceID))">Bakım Detaylarını Göster</SfButton></center>
                                                </div>
                                            </CardFooterContent>
                                        </CardFooter>
                                    </SfCard>
                                </div>
                            </div>
                        }

                    }
                }
            </div>
        </div>
    </center>
</div>

<DxPopup Visible="@PopupVisible"
         ShowFooter="true"
         HeaderText="@TitleStation"
         Width="1500px"
         Height="800px"
         Closing="MaintenancePopupClosing"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>
        <SfCard class="Cards">
            <CardHeader>
            </CardHeader>
            <CardContent>
                <SfTab CssClass="default-tab" OverflowMode="@OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" Width="100%">
                    <TabAnimationSettings>
                        <TabAnimationPrevious Effect="Syncfusion.Blazor.AnimationEffect.FadeIn"></TabAnimationPrevious>
                        <TabAnimationNext Effect="Syncfusion.Blazor.AnimationEffect.FadeOut"></TabAnimationNext>
                    </TabAnimationSettings>
                    <TabItems>
                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="İhtiyaç Listesi"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <SfCard class="Cards" style="text-align:center">
                                    <CardContent>
                                        <SfGrid DataSource="@ihtiyacList" AllowPaging="false" Toolbar="@(new List<string>() { "Print" })" Height="573px" style="padding-left:20px; padding-right:20px;">
                                            <GridColumns>
                                                <GridColumn Visible="false" Field=@nameof(BakimIhtiyacListesi.STOKID) HeaderText="STOK ID" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"
                                                            Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(BakimIhtiyacListesi.ESKISTOKKODU) HeaderText="STOK KODU" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="150">
                                                </GridColumn>
                                                <GridColumn Visible="false" Field=@nameof(BakimIhtiyacListesi.STOKACIKLAMASI) HeaderText="STOK AÇIKLAMASI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="130">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(BakimIhtiyacListesi.BIRIMSETKOD) HeaderText="BİRİM SET" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"
                                                            Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(BakimIhtiyacListesi.BAKIMMIKTARI) Format="n2" HeaderText="BAKIM MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(BakimIhtiyacListesi.STOKMIKTARI) Format="n2" HeaderText="STOK MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(BakimIhtiyacListesi.IHTIYACMIKTARI) Format="n2" HeaderText="İHTİYAÇ MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                                                </GridColumn>
                                            </GridColumns>
                                            <GridEvents QueryCellInfo="CellInfoHandler" TValue="BakimIhtiyacListesi"></GridEvents>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                                <SfCard class="Cards">

                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </ContentTemplate>
                        </TabItem>

                        <TabItem>
                            <ChildContent>
                                <TabHeader Text="Talimatlar"></TabHeader>
                            </ChildContent>
                            <ContentTemplate>
                                <SfCard class="Cards" style="text-align:center">
                                    <CardContent>
                                        <SfGrid DataSource="@talimatList" AllowPaging="false" Toolbar="@(new List<string>() { "Print" })" style="padding-right:20px; padding-left:20px;">
                                            <GridColumns>
                                                <GridColumn Visible="false" Field=@nameof(BakimTalimatlar.BAKIMID) HeaderText="BAKIM ID" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"
                                                            Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(BakimTalimatlar.TALIMAT) HeaderText="TALİMAT" Width="150">
                                                </GridColumn>
                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                                <SfCard class="Cards">

                                    <CardContent>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </ContentTemplate>
                        </TabItem>

                    </TabItems>
                </SfTab>
            </CardContent>
            <CardFooter>
            </CardFooter>
        </SfCard>
    </BodyTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" @onclick="@OnPurchaseReceiptClicked" Text="Satın alma talep fişi oluştur" />
        @*<DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisible = false)" />*@
    </FooterContentTemplate>
</DxPopup>

<DxPopup Visible="@PopupVisible2"
         ShowFooter="true"
         HeaderText="Satın Alma Bilgileri"
         Width="1500px"
         Height="800px"
         Closing="MaintenancePopupClosing2"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>
        <SfCard class="Cards">
            <CardHeader>
            </CardHeader>
            <CardContent>
                <SfCard class="Cards" style="text-align:center">

                    <CardContent>
                        <SfGrid DataSource="@satinAlmaList" AllowSelection="true" AllowPaging="false" Toolbar="@(new List<string>() { "Print" })" Height="573px" style="padding-left:20px; padding-right:20px;">
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Visible="false" Field=@nameof(SatinAlmaDetaylari.STOKID) HeaderText="STOK ID" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right"
                                            Width="120"></GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.STOKKODU) HeaderText="STOK KODU" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="250">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.CARIUNVAN) HeaderText="TEDARİKÇİ" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="350">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.IHTIYACMIKTARI) Format="n2" HeaderText="İHTİYAÇ MİKTARI" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="150">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.BIRIMSETKOD) HeaderText="BİRİM SET" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center"
                                            Width="120"></GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.BIRIMFIYATDECIMAL) Format="n2" HeaderText="BİRİM FİYAT" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="100">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.PARABIRIMI) HeaderText="PARA BİRİMİ" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="100">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.TOPLAMFIYAT) Format="n2" HeaderText="TOPLAM FİYAT" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="110">
                                </GridColumn>
                                <GridColumn Field=@nameof(SatinAlmaDetaylari.PARABIRIMI) HeaderText="PARA BİRİMİ" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Left" Width="100">
                                </GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </CardContent>
            <CardFooter>
            </CardFooter>
        </SfCard>
    </BodyTemplate>
    <FooterContentTemplate>
        <DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Success" Text="Satın alma talep fişini gerçekleştir" />
        @*<DxButton CssClass="popup-button" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@(() => PopupVisible = false)" />*@
    </FooterContentTemplate>
</DxPopup>

@code {

  }
