@page "/halt-reasons"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.HaltReason.Services
@using TsiErp.Entities.Entities.HaltReason
@using TsiErp.Entities.Entities.HaltReason.Dtos
@using TsiErp.ErpUI.Helpers
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Department.Dtos
@using TsiErp.Business.Entities.Department.Services
@using TsiErp.Entities.Enums

@inherits BaseListPage<SelectHaltReasonsDto, ListHaltReasonsDto, CreateHaltReasonsDto, UpdateHaltReasonsDto, ListHaltReasonsParameterDto>


@inject IHaltReasonsAppService HaltReasonsService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
                    <GridLayoutItems>
                        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                            <Template>
                                <SfCard class="TSIListPageTitleCard">
                                    <CardContent>
                                        <TsiBreadCrumb PreviousMenus="Üretim Yönetimi > Ana Kayıtlar" CurrentMenu="Duruş Kodları" />
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                            <Template>
                                <SfCard class="TSIGridCards">
                                    <CardContent>
                                        <SfGrid ID="Grid" DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"  GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@GridContextMenu">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListHaltReasonsDto"></GridEvents>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListHaltReasonsDto.Code) HeaderText="DURUŞ KODU" TextAlign="TextAlign.Center" Width="120">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(ListHaltReasonsDto.Name) HeaderText="DURUŞ ADI" TextAlign="TextAlign.Center" Width="120">
                                                </GridColumn>
                                        <GridColumn Field=@nameof(ListHaltReasonsDto.IsPlanned) DisplayAsCheckBox="true" HeaderText="PLANLANAN" TextAlign="TextAlign.Center" Width="120">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(ListHaltReasonsDto.IsMachine) DisplayAsCheckBox="true" HeaderText="MAKİNE KAYNAKLI" TextAlign="TextAlign.Center" Width="120">
                                                </GridColumn>
                                                <GridColumn Field=@nameof(ListHaltReasonsDto.IsOperator) DisplayAsCheckBox="true" HeaderText="OPERATÖR KAYNAKLI" TextAlign="TextAlign.Center" Width="120">
                                                </GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
        </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Duruş Sebebi"
         Width="30%"
         Height="40%"
         MinWidth="450px"
         MinHeight="320px"
         HeaderCssClass="HeaderTitleCss">
                    <BodyTemplate>

                        <DxGridLayout CssClass="TSIGridLayout">
                            <Rows>
                                <DxGridLayoutRow Height="40%" />
                                <DxGridLayoutRow Height="30%" />
                                <DxGridLayoutRow Height="30%" />
                            </Rows>
                            <Columns>
                                <DxGridLayoutColumn Width="4%" />
                                <DxGridLayoutColumn Width="28%" />
                                <DxGridLayoutColumn Width="4%" />
                                <DxGridLayoutColumn Width="28%" />
                                <DxGridLayoutColumn Width="4%" />
                            </Columns>
                            <Items>
                                <DxGridLayoutItem Row="0" Column="1">
                                    <Template>
                                        <br />
                                        <label class="TSIModalLabel"><strong>Duruş Sebebi Kodu: </strong></label>
                                        <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Duruş Sebebi Kodu Yazınız."></SfTextBox>
                                    </Template>
                                </DxGridLayoutItem>
                                <DxGridLayoutItem Row="0" Column="3">
                                    <Template>
                                        <br />
                                        <label class="TSIModalLabel"><strong>Duruş Sebebi Adı: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Duruş Sebebi Adı Yazınız."></SfTextBox>
                                    </Template>
                                </DxGridLayoutItem>
                                <DxGridLayoutItem Row="1" Column="1">
                                    <Template>
                                <label class="TSIModalLabel"><strong>Makina Kaynaklı: </strong></label><br />
                                        <SfSwitch @bind-Checked="DataSource.IsMachine"></SfSwitch>
                                    </Template>
                                </DxGridLayoutItem>
                                <DxGridLayoutItem Row="1" Column="3">
                                    <Template>
                                <label class="TSIModalLabel"><strong>Operatör Kaynaklı: </strong></label><br />
                                        <SfSwitch @bind-Checked="DataSource.IsOperator"></SfSwitch>
                                    </Template>
                                </DxGridLayoutItem>                                
                                <DxGridLayoutItem Row="2" Column="1">
                                    <Template>
                                        <br />
                                <label class="TSIModalLabel"><strong>Planlı: </strong></label><br />
                                        <SfSwitch @bind-Checked="DataSource.IsPlanned"></SfSwitch>
                                    </Template>
                                </DxGridLayoutItem>
                            </Items>
                        </DxGridLayout>
                    </BodyTemplate>
                    <FooterContentTemplate>
                        <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
                    </FooterContentTemplate>
        </DxPopup>

    }
}


