@page "/shipping-adresses"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.ShippingAdress.Services
@using TsiErp.Entities.Entities.ShippingAdress
@using TsiErp.Entities.Entities.ShippingAdress.Dtos
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectShippingAdressesDto, ListShippingAdressesDto, CreateShippingAdressesDto, UpdateShippingAdressesDto, ListShippingAdressesParameterDto>


@inject IShippingAdressesAppService ShippingAdressesAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Finans Yönetimi > Ana Kayıtlar" CurrentMenu="Sevkiyat Adresleri" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListShippingAdressesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Code) HeaderText="SEVKİYAT ADRESİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Name) HeaderText="SEVKİYAT ADRESİ AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.CustomerCard) HeaderText="MÜŞTERİ KARTI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Country) HeaderText="ÜLKE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.City) HeaderText="ŞEHİR" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.District) HeaderText="İLÇE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto._Default) DisplayAsCheckBox="true" HeaderText="VARSAYILAN" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Sevkiyat Adresleri"
         Width="54%"
         Height="54%"
         MinWidth="930px"
         MinHeight="580px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="18%" />
                    <DxGridLayoutRow Height="16%" />
                    <DxGridLayoutRow Height="40%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="32%" />
                     <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="32%" />
                    <DxGridLayoutColumn Width="23%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>
                <Items>

                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Sevkiyat Adresi Kodu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br/>
                            <label class="TSIModalLabel"><strong>Müşteri Kartı: </strong></label>
                            <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="string"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Müşteri Kartı Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.CustomerCard"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Müşteri Kartı Kodu</th>
                                                <th class="e-text-center">Müşteri Kartı Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardFiltering"
                                            ValueChange="CurrentAccountCardValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Sevkiyat Adresi Açıklaması Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="4">
                        <Template>
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Genel Bilgiler"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">
                                                <Rows>
                                                    <DxGridLayoutRow Height="50%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>
                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br/>
                                                            <label class="TSIModalLabel"><strong>Adres 1: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Adress1" Placeholder="Adres 1 Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                              <br/>
                                                            <label class="TSIModalLabel"><strong>Adres 2: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Adress2" Placeholder="Adres 2 Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                              <br/>
                                                            <label class="TSIModalLabel"><strong>Ülke: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Country" Placeholder="Ülke Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                              <br/>
                                                            <label class="TSIModalLabel"><strong>İl: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.City" Placeholder="İli Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>İlçe: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.District" Placeholder="İlçe Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Posta Kodu: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PostCode" Placeholder="Posta Kodu Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Telefon: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Phone" Placeholder="Telefon Numarasını Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>E-Posta: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.EMail" Placeholder="E-Posta Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Faks: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Fax" Placeholder="Faks Numarasını Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Varsayılan: </strong></label><br/>
                                                            <SfSwitch @bind-Checked="DataSource._Default"></SfSwitch>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>
                                            </DxGridLayout>

                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}



