@page "/shipping-adresses"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.ShippingAdress.Services
@using TsiErp.Entities.Entities.ShippingAdress
@using TsiErp.Entities.Entities.ShippingAdress.Dtos
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectShippingAdressesDto, ListShippingAdressesDto, CreateShippingAdressesDto, UpdateShippingAdressesDto, ListShippingAdressesParameterDto>


@inject IShippingAdressesAppService ShippingAdressesAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Finans Yönetimi > Ana Kayıtlar" CurrentMenu="Sevkiyat Adresleri" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardHeader >
                                <table width="100%">
                                    <tr>
                                        <td width="20%">
                                          
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%"> 
                                        <SfButton CssClass="TSIShowColumnsButton" OnClick="ShowColumns"><SfIcon Size="IconSize.Medium" Name="IconName.TwoColumn"></SfIcon>&nbsp;Sütunları Göster</SfButton>

                                        </td>
                                    </tr>
                                </table>

                            </CardHeader>
                        <CardContent>
                            <SfGrid ID="Grid" @ref="@_grid" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridColumnChooserSettings>
                                        <FooterTemplate>
                                            @{
                                                var ContextData = context as ColumnChooserFooterTemplateContext;
                                                var visibles = ContextData.Columns.Where(x => x.Visible).Select(x => x.HeaderText).ToArray();
                                                var hiddens = ContextData.Columns.Where(x => !x.Visible).Select(x => x.HeaderText).ToArray();
                                        }
                                        <SfButton CssClass="TSISubmitButton" IsPrimary="true" OnClick="@(async () => {
                                         await _grid.ShowColumnsAsync(visibles);
                                         await _grid.HideColumnsAsync(hiddens); })"><SfIcon Size="IconSize.Medium" Name="IconName.Eye"></SfIcon>&nbsp;Göster</SfButton>

                                        <SfButton CssClass="TSICancelButton" @onclick="@(async () => await ContextData.CancelAsync())">
                                            <SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;İptal
                                        </SfButton>

                                    </FooterTemplate>
                                </GridColumnChooserSettings>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListShippingAdressesDto"></GridEvents>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Code) HeaderText="SEVKİYAT ADRESİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Name) HeaderText="SEVKİYAT ADRESİ AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.CustomerCard) HeaderText="MÜŞTERİ KARTI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Adress1) HeaderText="ADRES 1" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Adress2) HeaderText="ADRES 2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Country) HeaderText="ÜLKE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.City) HeaderText="ŞEHİR" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.District) HeaderText="İLÇE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Phone) HeaderText="TELEFON" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.EMail) HeaderText="E-POSTA" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto.Fax) HeaderText="FAKS" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListShippingAdressesDto._Default) HeaderText="VARSAYILAN" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Sevkiyat Adresleri"
         Width="1100px"
         Height="480px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout>
                <Rows>
                    <DxGridLayoutRow Height="90px" />
                    <DxGridLayoutRow Height="60px" />
                    <DxGridLayoutRow Height="60px" />
                    <DxGridLayoutRow Height="70px" />
                     <DxGridLayoutRow Height="60px" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Sevkiyat Adresi Kodu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Sevkiyat Adresi Açıklaması Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                              <br />
                            <label class="TSIModalLabel"><strong>Müşteri Kartı: </strong></label>
                            <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="string"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Müşteri Kartı Seçin"
                                    CssClass="e-multi-column"
                                    @bind-Value="DataSource.CustomerCard"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Müşteri Kartı Kodu</th>
                                                <th class="e-text-center">Müşteri Kartı Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardFiltering"
                                            Opened="CurrentAccountCardOpened"
                                            ValueChange="CurrentAccountCardValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Adres 1: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Adress1" Placeholder="Adres 1 Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Adres 2: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Adress2" Placeholder="Adres 2 Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ülke: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Country" Placeholder="Ülke Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>İl: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.City" Placeholder="İli Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>İlçe: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.District" Placeholder="İlçe Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Posta Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PostCode" Placeholder="Posta Kodu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Telefon: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Phone" Placeholder="Telefon Numarasını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>E-Posta: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.EMail" Placeholder="E-Posta Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Faks: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Fax" Placeholder="Faks Numarasını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                      <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Varsayılan: </strong></label>
                            <SfSwitch @bind-Checked="DataSource._Default"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}



