@page "/vsm-designer"

<div style="width:240px;height:100%;float:left;">
    <div class="sb-mobile-palette-bar">
        <div id="palette-icon" style="float: right;" role="button" class="e-ddb-icons1 e-toggle-palette"></div>
    </div>
    <div id="palette-space" class="sb-mobile-palette">
        <SfSymbolPaletteComponent @ref="@PaletteInstance" Height="700px" Palettes="@palettes" SymbolHeight="98" SymbolWidth="98" SymbolMargin="@SymbolMargin">
        </SfSymbolPaletteComponent>
    </div>
</div>
<div id="diagram-space" class="sb-mobile-diagram">
    <div class="content-wrapper" style="border: 1px solid #D7D7D7">
        <div style="width:calc(100% - 242px);height:100%;float:left;">
            <SfDiagramComponent @ref="@Diagram" Connectors="@connectors" Created="OnCreated" SelectionChanged="@OnSelectionChanged" Height="687px" Nodes="@nodes" DragDrop="OnDrop" NodeCreating="OnNodeCreating" ConnectorCreating="OnConnectorCreating" GetCustomTool="@GetCustomTool" SelectionSettings="@selectionSettings">
                <SnapSettings>
                    <HorizontalGridLines LineColor="#e0e0e0 " LineIntervals="@GridLineIntervals">
                    </HorizontalGridLines>
                    <VerticalGridLines LineColor="#e0e0e0" LineIntervals="@GridLineIntervals">
                    </VerticalGridLines>
                </SnapSettings>
                <DiagramTemplates>
                    <NodeTemplate>
                        @{
                                var node = (context as Node);
                                string id = node.ID;
                                var nodeInfo = node.AdditionalInfo.Where(t => t.Key == "nodeInfo").Select(t => t.Value).FirstOrDefault();
                                switch (nodeInfo)
                                {
                                    case "1":

                                        <table class="tg">
                                            <thead>
                                                <tr>
                                                    <td class="tg-0lax" colspan="3"><SfTextBox CssClass="e-small" Placeholder="Çalışan Sayısı"></SfTextBox></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="tg-0lax" colspan="3"> <SfTextBox CssClass="e-small" Placeholder="İş İstasyonu"></SfTextBox></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-0lax">C/T</td>
                                                    <td class="tg-0lax"> <SfTextBox CssClass="e-small" Placeholder="İşleme Zamanı"></SfTextBox></td>
                                                    <td class="tg-0lax">Sn.</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-0lax">C/O</td>
                                                    <td class="tg-0lax"><SfTextBox CssClass="e-small" Placeholder="Çevrim Zamanı"></SfTextBox></td>
                                                    <td class="tg-0lax">Dk.</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-0lax">Vardiya</td>
                                                    <td class="tg-0lax"><SfTextBox CssClass="e-small" Placeholder="Vardiya Sayısı"></SfTextBox></td>
                                                    <td class="tg-0lax"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-0lax">Fire</td>
                                                    <td class="tg-0lax"><SfTextBox CssClass="e-small" Placeholder="Fire Oranı"></SfTextBox></td>
                                                    <td class="tg-0lax">%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        break;

                                    default:

                                        break;
                                }
                            }
                        </NodeTemplate>
                    </DiagramTemplates>
                </SfDiagramComponent>
            </div>
        </div>
    </div>
