@page "/users"
@layout MainLayout


@inject IStringLocalizer<UsersResource> L 

@inherits BaseListPage<SelectUsersDto, ListUsersDto, CreateUsersDto, UpdateUsersDto, ListUsersParameterDto>


@inject IUsersAppService UsersService
@inject IUserGroupsAppService UserGroupsService
@inject IUserPermissionsAppService UserPermissionsService
@inject IMenusAppService MenusAppService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService
@* @inject BaseModalComponent BaseModalComponent *@

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid"   ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEvents   ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListUsersDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListUsersDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUsersDto.UserName) HeaderText="@L["UserName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUsersDto.NameSurname) HeaderText="@L["NameSurname"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUsersDto.Email) HeaderText="@L["Email"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUsersDto.GroupName) HeaderText="@L["GroupName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EditModalTitle"]"
         Width="56%"
         Height="52%"
         MinWidth="990px"
         MinHeight="560px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="21%" />
                    <DxGridLayoutRow Height="18%" />
                    <DxGridLayoutRow Height="55%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="12%" />
                    <DxGridLayoutColumn Width="55%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["UserNameLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.UserName" ></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="2">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>@L["IsActiveLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                        <Template>
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab1Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">
                                                <Rows>
                                                    <DxGridLayoutRow Height="70%" />
                                                    <DxGridLayoutRow Height="50%" />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn Width="5%" />
                                                    <DxGridLayoutColumn Width="25%" />
                                                    <DxGridLayoutColumn Width="5%" />
                                                    <DxGridLayoutColumn Width="25%" />
                                                    <DxGridLayoutColumn Width="5%" />
                                                    <DxGridLayoutColumn Width="25%" />
                                                </Columns>
                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="1">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["NameSurnameLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.NameSurname"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="3">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["EmailLabel"] </strong></label>
                                                            <SfTextBox Type="InputType.Email"  @bind-Value="DataSource.Email" CssClass="TSITxtBox">
                                                                 
                                                            </SfTextBox>
                                                           
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="5">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["PasswordLabel"]</strong></label>
                                                            <SfTextBox @bind-Value="DataSource.Password" CssClass="TSITxtBox"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["GroupNameLabel"] </strong></label><br />
                                                                <SfTextBox @ref="@UserGroupButtonEdit" Created="@UserGroupOnCreateIcon" @bind-Value="DataSource.GroupName" ShowClearButton=true ValueChange="UserGroupOnValueChange"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                </Items>
                                            </DxGridLayout>


                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>

     <DxPopup @bind-Visible="isPermissionModal"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["PermissionModalTitle"]"
         Width="40%"
         Height="74%"
         MinWidth="700px"
         MinHeight="800px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="95%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="96%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>
                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>  
                            <br />
                            <div class="TSIScrollablePermissionModal">
                                <SfTreeView TValue="UserMenuPermission" ShowCheckBox="true" AutoCheck="true">
                                    <TreeViewFieldsSettings TValue="UserMenuPermission" Id="MenuID" DataSource="@PermissionModalMenusList" Text="MenuName" ParentID="ParentID" IsChecked="isPermitted" HasChildren="HasChild" Expanded="Expanded" ></TreeViewFieldsSettings>
                                    <TreeViewEvents TValue="UserMenuPermission" NodeChecking="NodeCheckedHandler"></TreeViewEvents>
                            </SfTreeView> 
                            </div>
                             

                        </Template>
                    </DxGridLayoutItem> 

                   

                  
                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnPermissionsSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HidePermissionModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectUserGroupPopupVisible)
    {
        <DxPopup @bind-Visible="SelectUserGroupPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["UserGroupModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                       
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIWorkUserGroupPopUpCard">

                                    <CardContent>
                                        <SfGrid ID="GroupGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@UserGroupList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@UserGroupDoubleClickHandler" TValue="ListUserGroupsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListUserGroupsDto.Code) HeaderText="@L["UserGroupModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListUserGroupsDto.Name) HeaderText="@L["UserGroupModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }
   
@if (isLoadingPermissions)
{
      <DxPopup @bind-Visible="isLoadingPermissions"
         ShowFooter="true"
         ShowHeader="false"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         Width="23%"
         Height="19%"
         MinWidth="400px"
         MinHeight="200px">
            <BodyTemplate>

            <center style="vertical-align: middle;margin-top: 20%;"><strong>@L["PermissionsLoadingMessage"]</strong></center>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
}


              