@page "/routes"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Route.Services
@using TsiErp.Entities.Entities.Route
@using TsiErp.Entities.Entities.Route.Dtos
@using TsiErp.Entities.Entities.RouteLine
@using TsiErp.Entities.Entities.RouteLine.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Entities.Entities.Operation.Dtos
@using TsiErp.Business.Entities.Operation.Services

@inherits BaseListPage<SelectRoutesDto, ListRoutesDto, CreateRoutesDto, UpdateRoutesDto, ListRoutesParameterDto>

@inject IRoutesAppService RoutesAppService
@inject IProductsAppService ProductsAppService
@inject IOperationsAppService OperationsAppService


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Üretim Yönetimi" CurrentMenu="Rotalar" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardHeader >
                                <table width="100%">
                                    <tr>
                                        <td width="20%">
                                          
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%">
                                        </td>
                                        <td width="20%"> 
                                        <SfButton CssClass="TSIShowColumnsButton" OnClick="ShowColumns"><SfIcon Size="IconSize.Medium" Name="IconName.TwoColumn"></SfIcon>&nbsp;Sütunları Göster</SfButton>

                                        </td>
                                    </tr>
                                </table>

                            </CardHeader>
                        <CardContent>
                            <SfGrid ID="Grid" @ref="@_grid" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridColumnChooserSettings>
                                        <FooterTemplate>
                                            @{
                                                var ContextData = context as ColumnChooserFooterTemplateContext;
                                                var visibles = ContextData.Columns.Where(x => x.Visible).Select(x => x.HeaderText).ToArray();
                                                var hiddens = ContextData.Columns.Where(x => !x.Visible).Select(x => x.HeaderText).ToArray();
                                        }
                                        <SfButton CssClass="TSISubmitButton" IsPrimary="true" OnClick="@(async () => {
                                         await _grid.ShowColumnsAsync(visibles);
                                         await _grid.HideColumnsAsync(hiddens); })"><SfIcon Size="IconSize.Medium" Name="IconName.Eye"></SfIcon>&nbsp;Göster</SfButton>

                                        <SfButton CssClass="TSICancelButton" @onclick="@(async () => await ContextData.CancelAsync())">
                                            <SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;İptal
                                        </SfButton>

                                    </FooterTemplate>
                                </GridColumnChooserSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListRoutesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListRoutesDto.Code) HeaderText="ROTA KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRoutesDto.Name) HeaderText="ROTA AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRoutesDto.ProductCode) HeaderText="ANA ÜRÜN KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRoutesDto.ProductionStart) HeaderText="ÜRETİM BAŞLANGIÇ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRoutesDto.Approval) HeaderText="ONAY" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRoutesDto.TechnicalApproval) HeaderText="TEKNİK ONAY" TextAlign="TextAlign.Center" Width="120"></GridColumn>


                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Verilen Teklifler"
         Width="1000px"
         Height="650px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="80px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="300px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="80px" />
                    <DxGridLayoutColumn Width="250px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="250px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="250px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Rota Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Rota Kodu Yazınız." @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Rota Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Rota Açıklaması Yazınız." @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ana Ürün Kodu: </strong></label>
                            <SfComboBox @ref="ProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Value="DataSource.ProductCode"
                                    Placeholder="Ürün Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@ProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Ürün Kodu</th>
                                                <th class="e-text-center">Ürün Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="ProductFiltering"
                                            ValueChange="ProductValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Üretim Başlangıç: </strong></label><br />
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Üretim Başlangıcı Yazınız." @bind-Value="DataSource.ProductionStart"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Onay: </strong></label>
                            <SfCheckBox @bind-Checked="DataSource.Approval"></SfCheckBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Teknik Onay: </strong></label>
                            <SfCheckBox @bind-Checked="DataSource.TechnicalApproval"></SfCheckBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Aktiflik: </strong></label>
                            <SfCheckBox @bind-Checked="DataSource.IsActive"></SfCheckBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="5">
                        <Template>
                            <br />
                            <SfGrid ID="LineGrid" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false"
                                AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="ListRouteLinesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.LineNr) HeaderText="SATIR NUMARASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.Code) HeaderText="ROTA SATIR KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.Name) HeaderText="ROTA SATIR AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.RouteCode) HeaderText="ROTA KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.ProductCode) HeaderText="ANA ÜRÜN KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.OperationName) HeaderText="OPERASYON ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.AdjustmentAndControlTime) HeaderText="AYAR VE KONTROL SÜRESİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.OperationTime) HeaderText="OPERASYON SÜRESİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.Priority) HeaderText="ÖNCELİK" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListRouteLinesDto.OperationPicture) HeaderText="OPERASYON RESMİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>



                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="LineCrudPopup"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Rota Satırları"
         Width="1000px"
         Height="440px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="100px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                             <br />
                            <label class="TSIModalLabel"><strong>Rota Satır Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Rota Satır Kodu Yazınız." @bind-Value="LineDataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Rota Satır Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Rota Satır Açıklaması Yazınız." @bind-Value="LineDataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5" RowSpan="2">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Resmi: </strong></label><br />
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Rota Kodu: </strong></label><br />
                            <SfComboBox @ref="LineRoutesComboBox"
                                    TValue="string"
                                    Value="LineDataSource.RouteCode"
                                    TItem="ListRoutesDto"
                                    Placeholder="Rota Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineRoutesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListRoutesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Rota Kodu</th>
                                                <th class="e-text-center">Rota Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListRoutesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListRoutesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListRoutesDto"
                                            Filtering="LineRouteFiltering"
                                            ValueChange="LineRouteValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ana Ürün Kodu: </strong></label><br />
                            <SfComboBox @ref="LineProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Value="LineDataSource.ProductCode"
                                    Placeholder="Ürün Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Ürün Kodu</th>
                                                <th class="e-text-center">Ürün Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="LineProductFiltering"
                                            ValueChange="LineProductValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Operasyon Adı: </strong></label><br />
                            <SfComboBox @ref="LineOperationsComboBox"
                                    TValue="string"
                                    TItem="ListOperationsDto"
                                    Placeholder="Operasyon Seçin"
                                    CssClass="e-multi-column"
                                    Value="LineDataSource.OperationName"
                                    DataSource="@LineOperationsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListOperationsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Operasyon Kodu</th>
                                                <th class="e-text-center">Operasyon Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListOperationsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListOperationsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListOperationsDto"
                                            Filtering="LineOperationFiltering"
                                            ValueChange="LineOperationValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>

                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ayar ve Kontrol Süresi: </strong></label>
                            <SfNumericTextBox Min="0"  @bind-Value="LineDataSource.AdjustmentAndControlTime" ></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Operasyon Süresi: </strong></label>
                            <SfNumericTextBox Min="0"  @bind-Value="LineDataSource.OperationTime" ></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Öncelik: </strong></label>
                            <SfNumericTextBox Min="0"  @bind-Value="LineDataSource.Priority" ></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                   
                </Items>

            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}

