@page "/bank-accounts"
@layout MainLayout


@inherits BaseListPage<SelectBankAccountsDto, ListBankAccountsDto, CreateBankAccountsDto, UpdateBankAccountsDto, ListBankAccountsParameterDto>

@inject IBankAccountsAppService BankAccountsService
@inject IStringLocalizer<BankAccountsResource> L
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" EnablePersistence="true" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListBankAccountsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListBankAccountsDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListBankAccountsDto.Name) HeaderText="@L["Name"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListBankAccountsDto.BankBranchName) HeaderText="@L["BankBranchName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListBankAccountsDto.SWIFTCode) HeaderText="@L["SWIFTCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="81%"
             Height="74%"
             MinWidth="1400px"
             MinHeight="800px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="9%" />
                    <DxGridLayoutRow Height="23%" />
                    <DxGridLayoutRow Height="26%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                           <label class="TSIModalLabel"><strong>@L["BankBranchNameLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.BankBranchName"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["SWIFTCodeLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.SWIFTCode"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["TLAccountNoLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.TLAccountNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="1" Column="3"ColumnSpan="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["TLAccountIBANLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.TLAccountIBAN"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["USDAccountNoLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.USDAccountNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="2" Column="3"ColumnSpan="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["USDAccountIBANLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.USDAccountIBAN"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["EuroAccountNoLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.EuroAccountNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="3" Column="3"ColumnSpan="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["EuroAccountIBANLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.EuroAccountIBAN"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["GBPAccountNoLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.GBPAccountNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="4" Column="3" ColumnSpan="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["GBPAccountIBANLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.GBPAccountIBAN"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="5" Column="1" ColumnSpan="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["AddressLabel"] </strong></label>
                            <SfTextBox Multiline=true CssClass="TSIMemoBox80" @bind-Value="DataSource.Address"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="6" Column="1" ColumnSpan="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["BankInstructionDescriptionLabel"] </strong></label>
                            <SfTextBox Multiline=true CssClass="TSIMemoBox80" @bind-Value="DataSource.BankInstructionDescription"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}