@page "/sales-management-parameters"
@layout MainLayout

@inherits BaseListPage<SelectSalesManagementParametersDto, ListSalesManagementParametersDto, CreateSalesManagementParametersDto, UpdateSalesManagementParametersDto, ListSalesManagementParametersParameterDto>

@inject ISalesManagementParametersAppService SalesManagementParametersService
@inject IStringLocalizer<SalesManagementParametersResource> L
@inject IWarehousesAppService WarehousesAppService
@inject IBranchesAppService BranchesAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
<DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
    <GridLayoutItems>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>
        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIGridCards">
                    <CardContent>

                        <br />
                        <table style="width:100%;">
                            <tr>
                                <td style="width: 30%; text-align: left;height: 80px; padding-left: 2%;">
                                   
                                        <label class="TSIEditFormLabel">• @L["PropositionFutureDateParameterLabel"]  </label><br />
                                    

                                </td>

                                <td style="width: 20%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfSwitch  ValueChange="SalesPropositionFichesChange" @bind-Checked="DataSource.PropositionFutureDateParameter" TChecked="bool"></SfSwitch>

                                    
                                </td>

                            </tr>

                                <tr>

                                    <td style="width: 30%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["OrderFutureDateParameterLabel"]  </label><br />


                                    </td>

                                    <td style="width: 20%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfSwitch ValueChange="SalesOrderFichesChange" @bind-Checked="DataSource.OrderFutureDateParameter" TChecked="bool"></SfSwitch>
                                    </td>


                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">•@L["SalesOrderExchangeRateTypeLabel"] </label><br />


                                    </td>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfComboBox AllowCustom="false" TValue="string" Index="DataSource.SalesOrderExchangeRateType" TItem="SalesOrderExchageTypeComboBox" DataSource="@_salesOrderExchageTypeComboBox">
                                            <ComboBoxEvents TItem="SalesOrderExchageTypeComboBox" TValue="string" ValueChange="@SalesOrderExchageTypeComboBoxValueChangeHandler"></ComboBoxEvents>
                                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                        </SfComboBox>


                                    </td>

                                </tr>
                               

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">•@L["SalesPropositionExchangeRateTypeLabel"] </label><br />


                                    </td>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfComboBox AllowCustom="false" TValue="string" Index="DataSource.SalesPropositionExchangeRateType" TItem="SalesPropositionExchageTypeComboBox" DataSource="@_salesPropositionExchageTypeComboBox">
                                            <ComboBoxEvents TItem="SalesPropositionExchageTypeComboBox" TValue="string" ValueChange="@SalesPropositionExchageTypeComboBoxValueChangeHandler"></ComboBoxEvents>
                                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                        </SfComboBox>


                                    </td>

                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["DefaultBranchParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox Readonly="true" @ref="@DefaultBranchesButtonEdit" Created="@DefaultBranchesOnCreateIcon" @bind-Value="DataSource.DefaultBranchCode" ShowClearButton=true ValueChange="DefaultBranchesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["DefaultWarehouseParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox Readonly="true" @ref="@DefaultWarehousesButtonEdit" Created="@DefaultWarehousesOnCreateIcon" @bind-Value="DataSource.DefaultWarehouseCode" ShowClearButton=true ValueChange="DefaultWarehousesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["SaleVATParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfNumericTextBox Min="0" @bind-Value="DataSource.SaleVAT"></SfNumericTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td style=" text-align: left;height: 80px; padding-left: 2%;">
                                        <SfButton CssClass="TSISaveButton" OnClick="OnClick"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                                    </td>
                                </tr>
                        </table>

                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>
    </GridLayoutItems>
</DevGridLayout>

@if (SelectDefaultBranchesPopupVisible)
    {
        <DxPopup @bind-Visible="SelectDefaultBranchesPopupVisible"
                 ShowFooter="true"
                 CloseOnEscape="false"
                 CloseOnOutsideClick="false"
                 HeaderText="@L["DefaultBranchModalTitle"]"
                 Width="64%"
                 Height="44%"
                 MinWidth="1220px"
                 MinHeight="470px"
                 HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIGridCards2">

                                    <CardContent>
                                        <SfGrid ID="BranchGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@DefaultBranchesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@DefaultBranchesDoubleClickHandler" TValue="ListBranchesDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListBranchesDto.Code) HeaderText="@L["DefaultBranchesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListBranchesDto.Name) HeaderText="@L["DefaultBranchesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }

@if (SelectDefaultWarehousesPopupVisible)
    {
        <DxPopup @bind-Visible="SelectDefaultWarehousesPopupVisible"
                 ShowFooter="true"
                 CloseOnEscape="false"
                 CloseOnOutsideClick="false"
                 HeaderText="@L["DefaultWarehouseModalTitle"]"
                 Width="64%"
                 Height="44%"
                 MinWidth="1220px"
                 MinHeight="470px"
                 HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIGridCards2">

                                    <CardContent>
                                        <SfGrid ID="WarehouseGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@DefaultWarehousesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@DefaultWarehousesDoubleClickHandler" TValue="ListWarehousesDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListWarehousesDto.Code) HeaderText="@L["DefaultWarehousesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListWarehousesDto.Name) HeaderText="@L["DefaultWarehousesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }

}