@page "/purchase-management-parameters"
@layout MainLayout

@inherits BaseListPage<SelectPurchaseManagementParametersDto, ListPurchaseManagementParametersDto, CreatePurchaseManagementParametersDto, UpdatePurchaseManagementParametersDto, ListPurchaseManagementParametersParameterDto>

@inject IPurchaseManagementParametersAppService PurchaseManagementParametersService
@inject IWarehousesAppService WarehousesAppService
@inject IBranchesAppService BranchesAppService
@inject IStringLocalizer<PurchaseManagementParametersResource> L

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>

                            <br />
                            <table style="width:100%;">
                                <tr>
                                    <td style="width: 30%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["RequestFutureDateParameterLabel"]  </label><br />


                                    </td>

                                    <td style="width: 20%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfSwitch ValueChange="PurchaseRequestFichesChange" @bind-Checked="DataSource.RequestFutureDateParameter" TChecked="bool"></SfSwitch>


                                    </td>

                                </tr>

                                <tr>
                                   
                                    <td style="width: 30%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["OrderFutureDateParameterLabel"]  </label><br />


                                    </td>

                                    <td style="width: 20%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfSwitch ValueChange="PurchaseOrderFichesChange" @bind-Checked="DataSource.OrderFutureDateParameter" TChecked="bool"></SfSwitch>


                                    </td>


                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["MRPBranchParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox @ref="@BranchesButtonEdit" Created="@BranchesOnCreateIcon" @bind-Value="DataSource.BranchCode" ShowClearButton=true ValueChange="BranchesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["MRPWarehouseParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox @ref="@WarehousesButtonEdit" Created="@WarehousesOnCreateIcon" @bind-Value="DataSource.WarehouseCode" ShowClearButton=true ValueChange="WarehousesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">•@L["PurchaseOrderExchangeRateTypeLabel"] </label><br />


                                    </td>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfComboBox AllowCustom="false"  TValue="string" Index="DataSource.PurchaseOrderExchangeRateType" TItem="PurchaseOrderExchageTypeComboBox" DataSource="@_purchaseOrderExchageTypeComboBox">
                                            <ComboBoxEvents TItem="PurchaseOrderExchageTypeComboBox" TValue="string" ValueChange="@PurchaseOrderExchageTypeComboBoxValueChangeHandler"></ComboBoxEvents>
                                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                        </SfComboBox>


                                    </td>

                                </tr>
                              

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">•@L["PurchaseRequestExchangeRateTypeLabel"] </label><br />


                                    </td>

                                    <td style="width: 50%; text-align: left;height: 80px; padding-top: 1%;">
                                        <SfComboBox AllowCustom="false" TValue="string" Index="DataSource.PurchaseRequestExchangeRateType" TItem="PurchaseRequestExchageTypeComboBox" DataSource="@_purchaseRequestExchageTypeComboBox">
                                            <ComboBoxEvents TItem="PurchaseRequestExchageTypeComboBox" TValue="string" ValueChange="@PurchaseRequestExchageTypeComboBoxValueChangeHandler"></ComboBoxEvents>
                                            <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                        </SfComboBox>


                                    </td>

                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["DefaultBranchParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox @ref="@DefaultBranchesButtonEdit" Created="@DefaultBranchesOnCreateIcon" @bind-Value="DataSource.DefaultBranchCode" ShowClearButton=true ValueChange="DefaultBranchesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["DefaultWarehouseParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfTextBox @ref="@DefaultWarehousesButtonEdit" Created="@DefaultWarehousesOnCreateIcon" @bind-Value="DataSource.DefaultWarehouseCode" ShowClearButton=true ValueChange="DefaultWarehousesOnValueChange"></SfTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 50%; text-align: left;height: 80px; padding-left: 2%;">

                                        <label class="TSIEditFormLabel">• @L["PurchaseVATParameterLabel"]  </label><br />
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                        <SfNumericTextBox Min="0" @bind-Value="DataSource.PurchaseVAT"></SfNumericTextBox>
                                    </td>

                                    <td style="width: 25%; text-align: left;height: 80px; padding-left: 2%;">
                                    </td>
                                </tr>
                              

                                <tr>
                                    <td style=" text-align: left;height: 70px; padding-left: 2%;">
                                        <SfButton CssClass="TSISaveButton" OnClick="OnClick"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                                    </td>
                                </tr>
                            </table>

                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

}

@if (SelectWarehousesPopupVisible)
{
    <DxPopup @bind-Visible="SelectWarehousesPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["WarehouseModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards2">

                                <CardContent>
                                    <SfGrid ID="WarehouseGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@WarehousesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                            AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@WarehousesDoubleClickHandler" TValue="ListWarehousesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListWarehousesDto.Code) HeaderText="@L["WarehousesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListWarehousesDto.Name) HeaderText="@L["WarehousesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectBranchesPopupVisible)
{
    <DxPopup @bind-Visible="SelectBranchesPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["BranchModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards2">

                                <CardContent>
                                    <SfGrid ID="BranchGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@BranchesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                            AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@BranchesDoubleClickHandler" TValue="ListBranchesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListBranchesDto.Code) HeaderText="@L["BranchesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListBranchesDto.Name) HeaderText="@L["BranchesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectDefaultBranchesPopupVisible)
{
    <DxPopup @bind-Visible="SelectDefaultBranchesPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["DefaultBranchModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards2">

                                <CardContent>
                                    <SfGrid ID="BranchGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@DefaultBranchesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                            AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@DefaultBranchesDoubleClickHandler" TValue="ListBranchesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListBranchesDto.Code) HeaderText="@L["DefaultBranchesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListBranchesDto.Name) HeaderText="@L["DefaultBranchesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectDefaultWarehousesPopupVisible)
{
    <DxPopup @bind-Visible="SelectDefaultWarehousesPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["DefaultWarehouseModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards2">

                                <CardContent>
                                    <SfGrid ID="WarehouseGrid1" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@DefaultWarehousesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                            AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@DefaultWarehousesDoubleClickHandler" TValue="ListWarehousesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListWarehousesDto.Code) HeaderText="@L["DefaultWarehousesPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListWarehousesDto.Name) HeaderText="@L["DefaultWarehousesPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

