@using DevExpress.Blazor.Navigation.Internal;
@using TsiErp.ErpUI.Models;
@inject IStringLocalizer<NavbarMenusResource> L

@inject IMenusAppService MenuService
@inject IUserPermissionsAppService UserPermissionsService


<div>

    <div class="sidebar">
        <DxTreeView @ref=treeView AllowSelectNodes="true" style="min-height: 90vh;" CssClass=" app-sidebar" NodeExpandCollapseAction="TreeViewNodeExpandCollapseAction.NodeClick">

            <Nodes>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementParentMenu)" Text=@L["StockManagementParentMenu"] Name="StockManagementParentMenu" IconCssClass="fa fa-warehouse">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementMainRecordsMenu)" Text=@L["StockManagementMainRecordsMenu"] Name="StockManagementMainRecordsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductGroupsChildMenu)" NavigateUrl="/product-groups" Text=@L["ProductGroupsChildMenu"] Name="ProductGroupsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnitSetsChildMenu)" NavigateUrl="/unitsets" Text=@L["UnitSetsChildMenu"] Name="UnitSetsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.WarehousesChildMenu)" NavigateUrl="/warehouses" Text=@L["WarehousesChildMenu"] Name="WarehousesChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductsChildMenu)" NavigateUrl="/products" Text=@L["ProductsChildMenu"] Name="ProductsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.TechnicalDrawingsChildMenu)" NavigateUrl="/technical-drawings" Text=@L["TechnicalDrawingsChildMenu"] Name="TechnicalDrawingsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductRefNumbersChildMenu)" NavigateUrl="/product-referance-numbers" Text=@L["ProductRefNumbersChildMenu"] Name="ProductRefNumbersChildMenu" />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementTransactionsMenu)" Text=@L["StockManagementTransactionsMenu"] Name="StockManagementTransactionsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockFichesChildMenu)" Text=@L["StockFichesChildMenu"] Name="StockFichesChildMenu" NavigateUrl="/stock-fiches" />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementReportsMenu)" Text=@L["StockManagementReportsMenu"] Name="StockManagementReportsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ListofMaterialsChildMenu)" Text=@L["ListofMaterialsChildMenu"] Name="ListofMaterialsChildMenu" NavigateUrl="/products-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaterialWarehouseStatusChildMenu)" Text=@L["MaterialWarehouseStatusChildMenu"] Name="MaterialWarehouseStatusChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.InventoryListChildMenu)" Text=@L["InventoryListChildMenu"] Name="InventoryListChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByProdGrpPerfAnalysisChildMenu)" Text=@L["ByProdGrpPerfAnalysisChildMenu"] Name="ByProdGrpPerfAnalysisChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByProdGrpScrapAnalysisChildMenu)" Text=@L["ByProdGrpScrapAnalysisChildMenu"] Name="ByProdGrpScrapAnalysisChildMenu" />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["FinanceManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Text=@L["FinanceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/current-account-cards" Text=@L["CurrentAccountsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/payment-plans" Text=@L["PaymentPlansChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["PurchaseManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Text=@L["PurchaseManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/purchase-prices" Text=@L["PurchasePricesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["PurchaseManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/purchase-requests" Text=@L["PurchaseRequestsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/purchase-orders" Text=@L["PurchaseOrdersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["PurchaseManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["PurchaseRequestFicheListChildMenu"] />
                                <DxTreeViewNode Text=@L["PurchaseOrderFicheListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["SalesManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Text=@L["SalesManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/sales-prices" Text=@L["SalesPricesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["SalesManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/sales-propositions" Text=@L["SalesPropositionsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/sales-orders" Text=@L["SalesOrdersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/forecasts" Text=@L["ForecastsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/order-acceptance-records" Text=@L["OrderAcceptanceRecordsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["CostMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["CPRChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["SalesManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["SalesPropositionFicheListChildMenu"] />
                                <DxTreeViewNode Text=@L["SalesOrderFicheListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["PlanningParentMenu"] IconCssClass="fa fa-list">
                    <Nodes>
                        <DxTreeViewNode Text=@L["ProductionPlanningMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/mrp" Text=@L["MRPChildMenu"] />
                                <DxTreeViewNode Text=@L["MRPIIChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["CalendarMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/calendars" Text=@L["CalendarMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode NavigateUrl="/shipment-planning-lists" Text=@L["ShipmentPlanningChildMenu"] />
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["ShipmentParentMenu"] IconCssClass="fa fa-truck">
                    <Nodes>
                        <DxTreeViewNode Text=@L["ShipmentManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/shipping-adresses" Text=@L["ShippingAdressesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["ShipmentManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/package-fiches" Text=@L["PackageFichesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/pallet-records" Text=@L["PalletRecordsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/packing-lists" Text=@L["PackingListsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["ShipmentManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["PackageFichesListChildMenu"] />
                                <DxTreeViewNode Text=@L["PalletRecordsListChildMenu"] />
                                <DxTreeViewNode Text=@L["PackingListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["MachWorkForceManagementParentMenu"] IconCssClass="fa fa-users">
                    <Nodes>
                        <DxTreeViewNode Text=@L["MachWorkForceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/station-groups" Text=@L["StationGroupChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/stations" Text=@L["StationsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/employees" Text=@L["EmployeesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/departments" Text=@L["DepartmentsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/employee-seniorities" Text=@L["EmployeeSenioritiesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/employee-annual-seniority-differences" Text=@L["EmployeeAnnualSeniorityDifferencesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/education-level-scores" Text=@L["EducationLevelScoresChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/employee-general-skill-records" Text=@L["EmployeeGeneralSkillRecordsChildMenu"] />
                               @*  <DxTreeViewNode NavigateUrl="/task-scorings" Text=@L["TaskScoringsChildMenu"] /> *@
                                <DxTreeViewNode NavigateUrl="/general-skill-record-priorities" Text=@L["GeneralSkillRecordPrioritiesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/starting-salaries" Text=@L["StartingSalariesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["MachWorkForceManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/employee-scorings" Text=@L["EmployeeScoreChildMenu"] />
                                <DxTreeViewNode Text=@L["StationCostChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["MachWorkForceManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["StationListChildMenu"] />
                                <DxTreeViewNode Text=@L["EmployeeListChildMenu"] />
                                <DxTreeViewNode Text=@L["EmployeeScoreListChildMenu"] />
                                <DxTreeViewNode Text=@L["StationCostListChildMenu"] />
                                <DxTreeViewNode Text=@L["EmployeeProductivityChildMenu"] />
                                <DxTreeViewNode Text=@L["ByHaltEmpProductivityChildMenu"] />
                                <DxTreeViewNode Text=@L["ByHaltStationChildMenu"] />
                                <DxTreeViewNode Text=@L["ByHaltStationPerfChildMenu"] />
                                <DxTreeViewNode Text=@L["ByEmpStationProductivityChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["ProductionManagementParentMenu"] IconCssClass="fa fa-industry">
                    <Nodes>
                        <DxTreeViewNode Text=@L["ProductionManagementMainRecordsMenu"]>
                            <Nodes>

                                <DxTreeViewNode Text=@L["OperationsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode NavigateUrl="/template-operations" Text=@L["TempOperationsChildMenu"] />
                                        <DxTreeViewNode NavigateUrl="/products-operations" Text=@L["ProdOperationsChildMenu"] />
                                    </Nodes>
                                </DxTreeViewNode>
                                <DxTreeViewNode NavigateUrl="/bills-of-materials" Text=@L["BOMChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/routes" Text=@L["RoutesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/halt-reasons" Text=@L["HaltReasonsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["ProductionManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/production-orders" Text=@L["ProductionOrdersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/contract-tracking-fiches" Text=@L["ContractTrackingFichesChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/work-orders" Text=@L["WorkOrdersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["ProductionTrackingRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/production-tracking" Text=@L["ProdTrackingsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/production-tracking-iot" Text=@L["IoTProdTrackingsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/contract-production-tracking" Text=@L["ContractProdTrackingsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["ProductionManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["GeneralOEEChildMenu"] />
                                <DxTreeViewNode Text=@L["StationOEEChildMenu"] />
                                <DxTreeViewNode Text=@L["ProdTrackingListChildMenu"] />
                                <DxTreeViewNode Text=@L["WorkOrderListChildMenu"] />
                                <DxTreeViewNode Text=@L["ProductionOrderListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["MaintenanceManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Text=@L["MaintenanceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/maintenance-periods" Text=@L["MainPeriodsChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/maintenance-instructions" Text=@L["MainInstructionsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Text=@L["MaintenanceManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/planned-maintenances" Text=@L["PlannedMainChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/unplanned-maintenances" Text=@L["UnplannedMainChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/maintenance-mrps" Text=@L["MainMatReqPlanningChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/maintenance-material-purchase-trackings" Text=@L["MainMatPurchaseTrackingChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["QualityControlParentMenu"] IconCssClass="fa fa-clipboard">
                    <Nodes>
                        <DxTreeViewNode Text=@L["QualityControlMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["UnsTypesItemsChildMenu"] NavigateUrl="/unsuitability-types-items" />
                                <DxTreeViewNode Text=@L["ControlTypesChildMenu"] NavigateUrl="/control-types" />
                                <DxTreeViewNode Text=@L["ControlConditionsChildMenu"] NavigateUrl="/control-conditions" />
                                <DxTreeViewNode Text=@L["UnsItemsChildMenu"] NavigateUrl="/unsuitability-items" />
                                

                                @*  <DxTreeViewNode Text=@L["EquipmentManagementMenu"]>
                                <Nodes> *@
                                <DxTreeViewNode NavigateUrl="/equipment-records" Text=@L["EquipmentRecordsChildMenu"] />
                                @*  </Nodes>
                                </DxTreeViewNode> *@

                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["QualityPlansMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/operational-quality-plans" Text=@L["OperationalQualityPlansChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/contract-quality-plans" Text=@L["ContractQualityPlansChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/purchase-quality-plans" Text=@L["PurchaseQualityPlansChildMenu"] />
                                <DxTreeViewNode Text=@L["FinalControlPlans"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["QualityControlTransactionsMenu"]>
                            <Nodes>
                                
                                <DxTreeViewNode NavigateUrl="/first-product-approvals" Text=@L["FirstProductApprovalChildMenu"] />

                                <DxTreeViewNode Text=@L["UnsRecordsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode NavigateUrl="/purchase-unsuitability-reports" Text=@L["PurchUnsRecordsChildMenu"] />
                                        @* <DxTreeViewNode Text=@L["ProdOrderRecordsChildMenu"] /> *@
                                        <DxTreeViewNode NavigateUrl="/operation-unsuitability-reports" Text=@L["OprUnsRecordsChildMenu"] />
                                        @* <DxTreeViewNode Text=@L["FinalControlUnsRecordsChildMenu"] />*@
                                        <DxTreeViewNode NavigateUrl="/contract-unsuitability-reports" Text=@L["ContUnsRecordsChildMenu"] />
                                         <DxTreeViewNode NavigateUrl="/customer-complaint-reports" Text=@L["CustCompRecordsChildMenu"] />

                                    </Nodes>
                                </DxTreeViewNode>

                                @* <DxTreeViewNode Text=@L["MidControlRecordsChildMenu"] />
                                <DxTreeViewNode Text=@L["FinalControlRecordsChildMenu"] /> *@
                                <DxTreeViewNode Text=@L["EquipmentOperationsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode NavigateUrl="/calibration-records" Text=@L["CalRecordsChildMenu"] />
                                        <DxTreeViewNode NavigateUrl="/calibration-verifications" Text=@L["CalVerificationsChildMenu"] />
                                    </Nodes>
                                </DxTreeViewNode>


                                @*  <DxTreeViewNode Text=@L["QualityControlReportsMenu"]>
                                </DxTreeViewNode> *@
                                @*  <DxTreeViewNode Text=@L["TechAnlChildMenu"]>
                                <DxTreeViewNode Text=@L["SPCFMEAChildMenu"] />
                                <DxTreeViewNode Text=@L["PurcUnsAnlChildMenu"] />
                                <DxTreeViewNode Text=@L["ContUnsAnlChildMenu"] />
                                <DxTreeViewNode Text=@L["ProdOrderUnsAnlChildMenu"] />
                                </DxTreeViewNode> *@
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["QualityControlSPCMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/operational-spc" Text=@L["OperationalSPCChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/unsuitability-item-spc" Text=@L["UnsuitabilityItemSPSChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["QualityControlFMEAMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/p-fmea" Text=@L["PFMEAChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Text=@L["QualityControlAnalysisMenu"]>
                            <Nodes>
                                <DxTreeViewNode Text=@L["QualityControlSPCAnalysisMenu"]>
                                    <Nodes>

                                        <DxTreeViewNode NavigateUrl="/operational-spc-comparing" Text=@L["OperationalSPCComparingChildMenu"] />
                                        <DxTreeViewNode NavigateUrl="/unsuitability-item-spc-comparing" Text=@L["UnsuitabilityItemSPSComparingChildMenu"] />

                                    </Nodes>
                                </DxTreeViewNode>

                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode NavigateUrl="/report-8d" Text=@L["Report8DChildMenu"] />
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@collapsevisible" Text=@L["GeneralSystemIdentificationsParentMenu"] IconCssClass="fa fa-newspaper">
                    <Nodes>
                        <DxTreeViewNode NavigateUrl="/periods" Text=@L["PeriodsChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/branches" Text=@L["BranchesChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/currencies" Text=@L["CurrenciesChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/exchange-rates" Text=@L["ExRatesChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/shifts" Text=@L["ShiftsChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/users" Text=@L["UsersChildMenu"] />
                        <DxTreeViewNode NavigateUrl="/user-groups" Text=@L["UserGrpChildMenu"] />
                        <DxTreeViewNode NavigateUrl="" Text=@L["RoleDefinitionsChildMenu"] />
                        <DxTreeViewNode Visible="@collapseparametersvisible" Text=@L["GeneralSystemParametersParentMenu"]>
                            <Nodes>
                                <DxTreeViewNode NavigateUrl="/finance-management-parameters" Text=@L["FinanceManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["MachineAndWorkforceManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["MaintenanceManagementParametersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/planning-management-parameters" Text=@L["PlanningManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["ProductionManagementParametersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/purchase-management-parameters" Text=@L["PurchaseManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["QualityControlParametersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/sales-management-parameters" Text=@L["SalesManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["ShippingManagementParametersChildMenu"] />
                                <DxTreeViewNode NavigateUrl="/stock-management-parameters" Text=@L["StockManagementParametersChildMenu"] />
                                <DxTreeViewNode Text=@L["GeneralParametersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode NavigateUrl="/insert-menu" Text="Menü Ekle" />
                        <DxTreeViewNode NavigateUrl="/excel-import-datagrid" Text="Excel'den Grid'e Aktarým" />
                    </Nodes>
                </DxTreeViewNode>

            </Nodes>

        </DxTreeView>
    </div>

</div>


<style>
    .scroller {
        height: calc(100vh - 160px) !important;
        overflow-y: auto;
        width: 287px;
    }

        .scroller::-webkit-scrollbar, scrollbar-thumb
        .scroller::-webkit-scrollbar-thumb {
            width: 8px;
            height: 110px;
            border-radius: 4px;
            position: center;
        }

        .scroller::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px #313C75;
            border-radius: 4px;
        }

        .scroller::-webkit-scrollbar-track {
            width: 28px;
        }

    .separator {
        border: 1px solid #FFFFFF;
        opacity: 0.14;
        width: 247px;
        margin: 1rem;
        margin-top: 0px;
    }
</style>


@code {
    private bool collapsevisible = true;
    private bool StockManagementParentMenuVisible = true;
    private bool collapseparametersvisible = true;
    public bool SidebarToggle = true;
    public bool SidebarToggleFixed = true;

    DxTreeView treeView;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var menus = (typeof(NavBarPermissionsModel)).GetProperties();

            //foreach (var item in menus)
            //{

            //}

            //var node = treeView.GetNodeInfo(t => t.Name == "StockManagementParentMenu");
            //StockManagementParentMenuVisible = false;
            //await InvokeAsync(StateHasChanged);
        }
    }
}
