@using DevExpress.Blazor.Navigation.Internal;
@using TsiErp.ErpUI.Models;
@inject IStringLocalizer<NavbarMenusResource> L

@inject IMenusAppService MenuService
@inject IUserPermissionsAppService UserPermissionsService


<div>

    <div class="sidebar">
        <DxTreeView @ref=treeView AllowSelectNodes="true" style="min-height: 90vh;" CssClass=" app-sidebar" NodeExpandCollapseAction="TreeViewNodeExpandCollapseAction.NodeClick">

            <Nodes>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementParentMenu)" Text=@L["StockManagementParentMenu"] Name="StockManagementParentMenu" IconCssClass="fa fa-warehouse">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementMainRecordsMenu)" Text=@L["StockManagementMainRecordsMenu"] Name="StockManagementMainRecordsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductGroupsChildMenu)" NavigateUrl="/product-groups" Text=@L["ProductGroupsChildMenu"] Name="ProductGroupsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnitSetsChildMenu)" NavigateUrl="/unitsets" Text=@L["UnitSetsChildMenu"] Name="UnitSetsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.WarehousesChildMenu)" NavigateUrl="/warehouses" Text=@L["WarehousesChildMenu"] Name="WarehousesChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductsChildMenu)" NavigateUrl="/products" Text=@L["ProductsChildMenu"] Name="ProductsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.TechnicalDrawingsChildMenu)" NavigateUrl="/technical-drawings" Text=@L["TechnicalDrawingsChildMenu"] Name="TechnicalDrawingsChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductRefNumbersChildMenu)" NavigateUrl="/product-referance-numbers" Text=@L["ProductRefNumbersChildMenu"] Name="ProductRefNumbersChildMenu" />

                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockAddressesMenu)" Text=@L["StockAddressesMenu"] Name="StockAddressesMenu">
                                    <Nodes>
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockAddressesChildMenu)" NavigateUrl="/stock-addresses" Text=@L["StockAddressesChildMenu"] Name="StockAddressesChildMenu" />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockSectionsChildMenu)" NavigateUrl="/stock-sections" Text=@L["StockSectionsChildMenu"] Name="StockSectionsChildMenu" />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockShelfsChildMenu)" NavigateUrl="/stock-shelfs" Text=@L["StockShelfsChildMenu"] Name="StockShelfsChildMenu" />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockColumnsChildMenu)" NavigateUrl="/stock-columns" Text=@L["StockColumnsChildMenu"] Name="StockColumnsChildMenu" />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockNumbersChildMenu)" NavigateUrl="/stock-numbers" Text=@L["StockNumbersChildMenu"] Name="StockNumbersChildMenu" />
                                    </Nodes>
                                </DxTreeViewNode>

                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementTransactionsMenu)" Text=@L["StockManagementTransactionsMenu"] Name="StockManagementTransactionsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockFichesChildMenu)" Text=@L["StockFichesChildMenu"] Name="StockFichesChildMenu" NavigateUrl="/stock-fiches" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductReceiptTransactionsChildMenu)" Text=@L["ProductReceiptTransactionsChildMenu"] Name="ProductReceiptTransactionsChildMenu" NavigateUrl="/product-receipt-transactions" />
                                <DxTreeViewNode Text=@L["ProductCostsChildMenu"] NavigateUrl="/product-costs" />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementReportsMenu)" Text=@L["StockManagementReportsMenu"] Name="StockManagementReportsMenu">
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ListofMaterialsChildMenu)" Text=@L["ListofMaterialsChildMenu"] Name="ListofMaterialsChildMenu" NavigateUrl="/products-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaterialWarehouseStatusChildMenu)" Text=@L["MaterialWarehouseStatusChildMenu"] Name="MaterialWarehouseStatusChildMenu" NavigateUrl="/products-warehouse-status-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.InventoryListChildMenu)" Text=@L["InventoryListChildMenu"] Name="InventoryListChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByProdGrpPerfAnalysisChildMenu)" Text=@L["ByProdGrpPerfAnalysisChildMenu"] Name="ByProdGrpPerfAnalysisChildMenu" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByProdGrpScrapAnalysisChildMenu)" Text=@L["ByProdGrpScrapAnalysisChildMenu"] Name="ByProdGrpScrapAnalysisChildMenu" />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.FinanceManagementParentMenu)" Text=@L["FinanceManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.FinanceManagementMainRecordsMenu)" Text=@L["FinanceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.CurrentAccountsChildMenu)" NavigateUrl="/current-account-cards" Text=@L["CurrentAccountsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PaymentPlansChildMenu)" NavigateUrl="/payment-plans" Text=@L["PaymentPlansChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseManagementParentMenu)" Text=@L["PurchaseManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseManagementMainRecordsMenu)" Text=@L["PurchaseManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchasePricesChildMenu)" NavigateUrl="/purchase-prices" Text=@L["PurchasePricesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseManagementTransactionsMenu)" Text=@L["PurchaseManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseRequestsChildMenu)" NavigateUrl="/purchase-requests" Text=@L["PurchaseRequestsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseOrdersChildMenu)" NavigateUrl="/purchase-orders" Text=@L["PurchaseOrdersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseManagementReportsMenu)" Text=@L["PurchaseManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseRequestFicheListChildMenu)" Text=@L["PurchaseRequestFicheListChildMenu"] NavigateUrl="/purchase-request-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseOrderFicheListChildMenu)" Text=@L["PurchaseOrderFicheListChildMenu"] NavigateUrl="/purchase-order-list-report" />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesManagementParentMenu)" Text=@L["SalesManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesManagementMainRecordsMenu)" Text=@L["SalesManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesPricesChildMenu)" NavigateUrl="/sales-prices" Text=@L["SalesPricesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesManagementTransactionsMenu)" Text=@L["SalesManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesPropositionsChildMenu)" NavigateUrl="/sales-propositions" Text=@L["SalesPropositionsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesOrdersChildMenu)" NavigateUrl="/sales-orders" Text=@L["SalesOrdersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ForecastsChildMenu)" NavigateUrl="/forecasts" Text=@L["ForecastsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.OrderAcceptanceRecordsChildMenu)" NavigateUrl="/order-acceptance-records" Text=@L["OrderAcceptanceRecordsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CostMenu)" Text=@L["CostMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.CPRChildMenu)" Text=@L["CPRChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesManagementReportsMenu)" Text=@L["SalesManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesPropositionFicheListChildMenu)" Text=@L["SalesPropositionFicheListChildMenu"] NavigateUrl="/sales-proposition-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesOrderFicheListChildMenu)" Text=@L["SalesOrderFicheListChildMenu"] NavigateUrl="/sales-order-list-report" />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PlanningParentMenu)" Text=@L["PlanningParentMenu"] IconCssClass="fa fa-list">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionPlanningMenu)" Text=@L["ProductionPlanningMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MRPChildMenu)" NavigateUrl="/mrp" Text=@L["MRPChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MRPIIChildMenu)" NavigateUrl="/mrpII" Text=@L["MRPIIChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CalendarMenu)" Text=@L["CalendarMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.CalendarChildMenu)" NavigateUrl="/calendars" Text=@L["CalendarChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShipmentPlanningChildMenu)" NavigateUrl="/shipment-planning-lists" Text=@L["ShipmentPlanningChildMenu"] />
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShipmentParentMenu)" Text=@L["ShipmentParentMenu"] IconCssClass="fa fa-truck">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShipmentManagementMainRecordsMenu)" Text=@L["ShipmentManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShippingAdressesChildMenu)" NavigateUrl="/shipping-adresses" Text=@L["ShippingAdressesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShipmentManagementTransactionsMenu)" Text=@L["ShipmentManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PackageFichesChildMenu)" NavigateUrl="/package-fiches" Text=@L["PackageFichesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PalletRecordsChildMenu)" NavigateUrl="/pallet-records" Text=@L["PalletRecordsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PackingListsChildMenu)" NavigateUrl="/packing-lists" Text=@L["PackingListsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShipmentManagementReportsMenu)" Text=@L["ShipmentManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PackageFichesListChildMenu)" Text=@L["PackageFichesListChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PalletRecordsListChildMenu)" Text=@L["PalletRecordsListChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PackingListChildMenu)" Text=@L["PackingListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MachWorkForceManagementParentMenu)" Text=@L["MachWorkForceManagementParentMenu"] IconCssClass="fa fa-users">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.MachWorkForceManagementMainRecordsMenu)" Text=@L["MachWorkForceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationGroupChildMenu)" NavigateUrl="/station-groups" Text=@L["StationGroupChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationsChildMenu)" NavigateUrl="/stations" Text=@L["StationsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeesChildMenu)" NavigateUrl="/employees" Text=@L["EmployeesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.DepartmentsChildMenu)" NavigateUrl="/departments" Text=@L["DepartmentsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeSenioritiesChildMenu)" NavigateUrl="/employee-seniorities" Text=@L["EmployeeSenioritiesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeAnnualSeniorityDifferencesChildMenu)" NavigateUrl="/employee-annual-seniority-differences" Text=@L["EmployeeAnnualSeniorityDifferencesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EducationLevelScoresChildMenu)" NavigateUrl="/education-level-scores" Text=@L["EducationLevelScoresChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeGeneralSkillRecordsChildMenu)" NavigateUrl="/employee-general-skill-records" Text=@L["EmployeeGeneralSkillRecordsChildMenu"] />
                                @*  <DxTreeViewNode NavigateUrl="/task-scorings" Text=@L["TaskScoringsChildMenu"] /> *@
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.GeneralSkillRecordPrioritiesChildMenu)" NavigateUrl="/general-skill-record-priorities" Text=@L["GeneralSkillRecordPrioritiesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StartingSalariesChildMenu)" NavigateUrl="/starting-salaries" Text=@L["StartingSalariesChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.MachWorkForceManagementTransactionsMenu)" Text=@L["MachWorkForceManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeScoreChildMenu)" NavigateUrl="/employee-scorings" Text=@L["EmployeeScoreChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationCostChildMenu)" Text=@L["StationCostChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.MachWorkForceManagementReportsMenu)" Text=@L["MachWorkForceManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationListChildMenu)" Text=@L["StationListChildMenu"] NavigateUrl="/station-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeListChildMenu)" Text=@L["EmployeeListChildMenu"] NavigateUrl="/employee-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeScoreListChildMenu)" Text=@L["EmployeeScoreListChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationCostListChildMenu)" Text=@L["StationCostListChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EmployeeProductivityChildMenu)" Text=@L["EmployeeProductivityChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByHaltEmpProductivityChildMenu)" Text=@L["ByHaltEmpProductivityChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByHaltStationChildMenu)" Text=@L["ByHaltStationChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByHaltStationPerfChildMenu)" Text=@L["ByHaltStationPerfChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ByEmpStationProductivityChildMenu)" Text=@L["ByEmpStationProductivityChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionManagementParentMenu)" Text=@L["ProductionManagementParentMenu"] IconCssClass="fa fa-industry">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionManagementMainRecordsMenu)" Text=@L["ProductionManagementMainRecordsMenu"]>
                            <Nodes>

                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.OperationsMenu)" Text=@L["OperationsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.TempOperationsChildMenu)" NavigateUrl="/template-operations" Text=@L["TempOperationsChildMenu"] />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProdOperationsChildMenu)" NavigateUrl="/products-operations" Text=@L["ProdOperationsChildMenu"] />
                                    </Nodes>
                                </DxTreeViewNode>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.BOMChildMenu)" NavigateUrl="/bills-of-materials" Text=@L["BOMChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.RoutesChildMenu)" NavigateUrl="/routes" Text=@L["RoutesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.HaltReasonsChildMenu)" NavigateUrl="/halt-reasons" Text=@L["HaltReasonsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionManagementTransactionsMenu)" Text=@L["ProductionManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionOrdersChildMenu)" NavigateUrl="/production-orders" Text=@L["ProductionOrdersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ContractTrackingFichesChildMenu)" NavigateUrl="/contract-tracking-fiches" Text=@L["ContractTrackingFichesChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.WorkOrdersChildMenu)" NavigateUrl="/work-orders" Text=@L["WorkOrdersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionTrackingRecordsMenu)" Text=@L["ProductionTrackingRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProdTrackingsChildMenu)" NavigateUrl="/production-tracking" Text=@L["ProdTrackingsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.IoTProdTrackingsChildMenu)" NavigateUrl="/production-tracking-iot" Text=@L["IoTProdTrackingsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ContractProdTrackingsChildMenu)" NavigateUrl="/contract-production-tracking" Text=@L["ContractProdTrackingsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionManagementReportsMenu)" Text=@L["ProductionManagementReportsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.GeneralOEEChildMenu)" Text=@L["GeneralOEEChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StationOEEChildMenu)" Text=@L["StationOEEChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProdTrackingListChildMenu)" Text=@L["ProdTrackingListChildMenu"] NavigateUrl="/production-tracking-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.WorkOrderListChildMenu)" Text=@L["WorkOrderListChildMenu"] NavigateUrl="/work-order-list-report" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionOrderListChildMenu)" Text=@L["ProductionOrderListChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaintenanceManagementParentMenu)" Text=@L["MaintenanceManagementParentMenu"] IconCssClass="fa fa-euro-sign">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaintenanceManagementMainRecordsMenu)" Text=@L["MaintenanceManagementMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MainPeriodsChildMenu)" NavigateUrl="/maintenance-periods" Text=@L["MainPeriodsChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MainInstructionsChildMenu)" NavigateUrl="/maintenance-instructions" Text=@L["MainInstructionsChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaintenanceManagementTransactionsMenu)" Text=@L["MaintenanceManagementTransactionsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PlannedMainChildMenu)" NavigateUrl="/planned-maintenances" Text=@L["PlannedMainChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnplannedMainChildMenu)" NavigateUrl="/unplanned-maintenances" Text=@L["UnplannedMainChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MainMatReqPlanningChildMenu)" NavigateUrl="/maintenance-mrps" Text=@L["MainMatReqPlanningChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MainMatPurchaseTrackingChildMenu)" NavigateUrl="/maintenance-material-purchase-trackings" Text=@L["MainMatPurchaseTrackingChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlParentMenu)" Text=@L["QualityControlParentMenu"] IconCssClass="fa fa-clipboard">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlMainRecordsMenu)" Text=@L["QualityControlMainRecordsMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnsTypesItemsChildMenu)" Text=@L["UnsTypesItemsChildMenu"] NavigateUrl="/unsuitability-types-items" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ControlTypesChildMenu)" Text=@L["ControlTypesChildMenu"] NavigateUrl="/control-types" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ControlConditionsChildMenu)" Text=@L["ControlConditionsChildMenu"] NavigateUrl="/control-conditions" />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnsItemsChildMenu)" Text=@L["UnsItemsChildMenu"] NavigateUrl="/unsuitability-items" />


                                @*  <DxTreeViewNode Text=@L["EquipmentManagementMenu"]>
                                <Nodes> *@
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EquipmentRecordsChildMenu)" NavigateUrl="/equipment-records" Text=@L["EquipmentRecordsChildMenu"] />
                                @*  </Nodes>
                                </DxTreeViewNode> *@

                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityPlansMenu)" Text=@L["QualityPlansMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.OperationalQualityPlansChildMenu)" NavigateUrl="/operational-quality-plans" Text=@L["OperationalQualityPlansChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ContractQualityPlansChildMenu)" NavigateUrl="/contract-quality-plans" Text=@L["ContractQualityPlansChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseQualityPlansChildMenu)" NavigateUrl="/purchase-quality-plans" Text=@L["PurchaseQualityPlansChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.FinalControlPlans)" Text=@L["FinalControlPlans"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlTransactionsMenu)" Text=@L["QualityControlTransactionsMenu"]>
                            <Nodes>

                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.FirstProductApprovalChildMenu)" NavigateUrl="/first-product-approvals" Text=@L["FirstProductApprovalChildMenu"] />

                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnsRecordsMenu)" Text=@L["UnsRecordsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchUnsRecordsChildMenu)" NavigateUrl="/purchase-unsuitability-reports" Text=@L["PurchUnsRecordsChildMenu"] />
                                        @* <DxTreeViewNode Text=@L["ProdOrderRecordsChildMenu"] /> *@
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.OprUnsRecordsChildMenu)" NavigateUrl="/operation-unsuitability-reports" Text=@L["OprUnsRecordsChildMenu"] />
                                        @* <DxTreeViewNode Text=@L["FinalControlUnsRecordsChildMenu"] />*@
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ContUnsRecordsChildMenu)" NavigateUrl="/contract-unsuitability-reports" Text=@L["ContUnsRecordsChildMenu"] />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CustCompRecordsChildMenu)" NavigateUrl="/customer-complaint-reports" Text=@L["CustCompRecordsChildMenu"] />

                                    </Nodes>
                                </DxTreeViewNode>

                                @* <DxTreeViewNode Text=@L["MidControlRecordsChildMenu"] />
                                <DxTreeViewNode Text=@L["FinalControlRecordsChildMenu"] /> *@
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.EquipmentOperationsMenu)" Text=@L["EquipmentOperationsMenu"]>
                                    <Nodes>
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CalRecordsChildMenu)" NavigateUrl="/calibration-records" Text=@L["CalRecordsChildMenu"] />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CalVerificationsChildMenu)" NavigateUrl="/calibration-verifications" Text=@L["CalVerificationsChildMenu"] />
                                    </Nodes>
                                </DxTreeViewNode>

                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseOrdersAwaitingApprovalsChildMenu)" NavigateUrl="/purchase-orders-awaiting-approvals" Text=@L["PurchaseOrdersAwaitingApprovalsChildMenu"] />


                                @*  <DxTreeViewNode Text=@L["QualityControlReportsMenu"]>
                                </DxTreeViewNode> *@
                                @*  <DxTreeViewNode Text=@L["TechAnlChildMenu"]>
                                <DxTreeViewNode Text=@L["SPCFMEAChildMenu"] />
                                <DxTreeViewNode Text=@L["PurcUnsAnlChildMenu"] />
                                <DxTreeViewNode Text=@L["ContUnsAnlChildMenu"] />
                                <DxTreeViewNode Text=@L["ProdOrderUnsAnlChildMenu"] />
                                </DxTreeViewNode> *@
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlSPCMenu)" Text=@L["QualityControlSPCMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.OperationalSPCChildMenu)" NavigateUrl="/operational-spc" Text=@L["OperationalSPCChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnsuitabilityItemSPSChildMenu)" NavigateUrl="/unsuitability-item-spc" Text=@L["UnsuitabilityItemSPSChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlFMEAMenu)" Text=@L["QualityControlFMEAMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PFMEAChildMenu)" NavigateUrl="/p-fmea" Text=@L["PFMEAChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlAnalysisMenu)" Text=@L["QualityControlAnalysisMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlSPCAnalysisMenu)" Text=@L["QualityControlSPCAnalysisMenu"]>
                                    <Nodes>

                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.OperationalSPCComparingChildMenu)" NavigateUrl="/operational-spc-comparing" Text=@L["OperationalSPCComparingChildMenu"] />
                                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.UnsuitabilityItemSPSComparingChildMenu)" NavigateUrl="/unsuitability-item-spc-comparing" Text=@L["UnsuitabilityItemSPSComparingChildMenu"] />

                                    </Nodes>
                                </DxTreeViewNode>

                            </Nodes>
                        </DxTreeViewNode>

                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.Report8DChildMenu)" NavigateUrl="/report-8d" Text=@L["Report8DChildMenu"] />
                    </Nodes>
                </DxTreeViewNode>

                <DxTreeViewNode Visible="@(NavBarPermissionsModel.GeneralSystemIdentificationsParentMenu)" Text=@L["GeneralSystemIdentificationsParentMenu"] IconCssClass="fa fa-newspaper">
                    <Nodes>
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.PeriodsChildMenu)" NavigateUrl="/periods" Text=@L["PeriodsChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.BranchesChildMenu)" NavigateUrl="/branches" Text=@L["BranchesChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.CurrenciesChildMenu)" NavigateUrl="/currencies" Text=@L["CurrenciesChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ExRatesChildMenu)" NavigateUrl="/exchange-rates" Text=@L["ExRatesChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShiftsChildMenu)" NavigateUrl="/shifts" Text=@L["ShiftsChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.UsersChildMenu)" NavigateUrl="/users" Text=@L["UsersChildMenu"] />
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.UserGrpChildMenu)" NavigateUrl="/user-groups" Text=@L["UserGrpChildMenu"] />
                        @* <DxTreeViewNode Visible="@(NavBarPermissionsModel.RoleDefinitionsChildMenu)" NavigateUrl="" Text=@L["RoleDefinitionsChildMenu"] /> *@
                        <DxTreeViewNode Visible="@(NavBarPermissionsModel.GeneralSystemParametersParentMenu)" Text=@L["GeneralSystemParametersParentMenu"]>
                            <Nodes>
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.FinanceManagementParametersChildMenu)" NavigateUrl="/finance-management-parameters" Text=@L["FinanceManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MachineAndWorkforceManagementParametersChildMenu)" Text=@L["MachineAndWorkforceManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.MaintenanceManagementParametersChildMenu)" Text=@L["MaintenanceManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PlanningManagementParametersChildMenu)" NavigateUrl="/planning-management-parameters" Text=@L["PlanningManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ProductionManagementParametersChildMenu)" Text=@L["ProductionManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.PurchaseManagementParametersChildMenu)" NavigateUrl="/purchase-management-parameters" Text=@L["PurchaseManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.QualityControlParametersChildMenu)" Text=@L["QualityControlParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.SalesManagementParametersChildMenu)" NavigateUrl="/sales-management-parameters" Text=@L["SalesManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.ShippingManagementParametersChildMenu)" Text=@L["ShippingManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.StockManagementParametersChildMenu)" NavigateUrl="/stock-management-parameters" Text=@L["StockManagementParametersChildMenu"] />
                                <DxTreeViewNode Visible="@(NavBarPermissionsModel.GeneralParametersChildMenu)" Text=@L["GeneralParametersChildMenu"] />
                            </Nodes>
                        </DxTreeViewNode>
                         <DxTreeViewNode NavigateUrl="/insert-menu" Text="Menü Ekle" />
                        <DxTreeViewNode NavigateUrl="/excel-import-datagrid" Text="Excel'den Grid'e Aktarým" /> 
                    </Nodes>
                </DxTreeViewNode>

            </Nodes>

        </DxTreeView>
    </div>

</div>


<style>
    .scroller {
        height: calc(100vh - 160px) !important;
        overflow-y: auto;
        width: 287px;
    }

        .scroller::-webkit-scrollbar, scrollbar-thumb
        .scroller::-webkit-scrollbar-thumb {
            width: 8px;
            height: 110px;
            border-radius: 4px;
            position: center;
        }

        .scroller::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px #313C75;
            border-radius: 4px;
        }

        .scroller::-webkit-scrollbar-track {
            width: 28px;
        }

    .separator {
        border: 1px solid #FFFFFF;
        opacity: 0.14;
        width: 247px;
        margin: 1rem;
        margin-top: 0px;
    }

</style>


@code {
    private bool collapsevisible = true;
    //private bool StockManagementParentMenuVisible;
    private bool collapseparametersvisible = true;
    public bool SidebarToggle = true;
    public bool SidebarToggleFixed = true;

    DxTreeView treeView;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //var menus = (typeof(NavBarPermissionsModel)).GetProperties();

            //foreach (var item in menus)
            //{

            //}

            //var node = treeView.GetNodeInfo(t => t.Name == "StockManagementParentMenu");
            //StockManagementParentMenuVisible = false;
            //await InvokeAsync(StateHasChanged);



            await Task.CompletedTask;
        }
    }
}
