@page "/person-department"

@layout MainLayout 
<DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
    <GridLayoutItems>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="İşyeri" CurrentMenu="Departmanlar" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIGridCards">

                    <CardContent>
                        <SfGrid ID="_DepartmentGrid" @ref="DepartmentGrid" AllowPdfExport=true ShowColumnMenu="true" DataSource="@DepartmentList" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@departmentContextMenu">
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings> <GridEvents ContextMenuItemClicked="@DepartmentContextMenuClick" TValue="Department"></GridEvents>
                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(Department.Name) HeaderText="AD" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(Department.Type) HeaderText="TÜRÜ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(Department.Capasity) HeaderText="Kapasite" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                <GridColumn Field=@nameof(Department.Description) HeaderText="AÇIKLAMA" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                            </GridColumns>
                        </SfGrid>
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>
    </GridLayoutItems>
</DevGridLayout>

<DxPopup @bind-Visible="departmentEditModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Departmanlar"
         Width="42%"
         Height="60%"
         MinWidth="720px"
         MinHeight="650px"
         HeaderCssClass="HeaderTitleCss">

    <BodyTemplate>
        <DxGridLayout CssClass="TSIGridLayout">

            <Rows>
                <DxGridLayoutRow Height="17%" />
                <DxGridLayoutRow Height="15%" />
                <DxGridLayoutRow Height="60%" />
            </Rows>

            <Columns>
                <DxGridLayoutColumn Width="6%" />
                <DxGridLayoutColumn Width="42%" />
                <DxGridLayoutColumn Width="6%" />
                <DxGridLayoutColumn Width="42%" />
                <DxGridLayoutColumn Width="6%" />
                <DxGridLayoutColumn Width="42%" />
                <DxGridLayoutColumn Width="6%" />
            </Columns>

            <Items>

                <br />
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <label class="TSIModalLabel"><strong>Ad: </strong></label>

                        <SfTextBox @bind-Value="DepartmentDataSource.Name"></SfTextBox>
                    </Template>
                </DxGridLayoutItem>

                <DxGridLayoutItem Row="0" Column="3">
                    <Template>
                        <label class="TSIModalLabel"><strong>Türü: </strong></label>

                        <SfTextBox @bind-Value="DepartmentDataSource.Type"></SfTextBox>
                    </Template>
                </DxGridLayoutItem>

                <DxGridLayoutItem Row="1" Column="1">
                    <Template>
                        <label class="TSIModalLabel"><strong>Kapasite: </strong></label>

                        <SfNumericTextBox Min="0" @bind-Value="DepartmentDataSource.Capasity"></SfNumericTextBox>
                    </Template>
                </DxGridLayoutItem>

                <DxGridLayoutItem Row="1" Column="3">
                    <Template>
                        <label class="TSIModalLabel"><strong>Açıklama: </strong></label>

                        <SfTextBox Multiline=true CssClass="TSIMemoBox60" @bind-Value="DepartmentDataSource.Description"></SfTextBox>
                    </Template>
                </DxGridLayoutItem>



                <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                    <Template>
                        <SfGrid @ref=EmployeeGrid ID="EmployeeGrid" ShowColumnMenu="true" DataSource="@EmployeeGridList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@employeeContextMenu">
                            <GridEvents ContextMenuItemClicked="@EmployeeContextMenuClick" TValue="Employee"></GridEvents>
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                            <GridColumns>
                                <GridColumn Field=@nameof(Employee.NameSurname) HeaderText="AD Soyad" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                <GridColumn Field=@nameof(Employee.University) HeaderText="Üniversite" TextAlign="TextAlign.Center" Width="155"></GridColumn>
                                <GridColumn Field=@nameof(Employee.Age) HeaderText="Yaş" TextAlign="TextAlign.Center" Type="ColumnType.Number" Width="155"></GridColumn>
                            </GridColumns>

                        </SfGrid>
                    </Template>
                </DxGridLayoutItem>


            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideDepartmentEditModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
    </FooterContentTemplate>
</DxPopup>
<DxPopup @bind-Visible="employeeEditModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Çslışanlar"
         Width="62%"
         Height="23%"
         MinWidth="1060px"
         MinHeight="250px"
         HeaderCssClass="HeaderTitleCss">

    <BodyTemplate>
        <DxGridLayout CssClass="TSIGridLayout">

            <Rows>
                <DxGridLayoutRow Height="90%" />
            </Rows>

            <Columns>
                <DxGridLayoutColumn Width="4%" />
                <DxGridLayoutColumn Width="28%" />
                <DxGridLayoutColumn Width="4%" />
                <DxGridLayoutColumn Width="28%" />
                <DxGridLayoutColumn Width="4%" />
                <DxGridLayoutColumn Width="28%" />
                <DxGridLayoutColumn Width="4%" />

            </Columns>

            <Items>
                <br />
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <label class="TSIModalLabel"><strong>Ad Soyad: </strong></label>
                        <SfTextBox @bind-Value="EmployeeDataSource.NameSurname"></SfTextBox>
                    </Template>
                </DxGridLayoutItem>

                <DxGridLayoutItem Row="0" Column="3">
                    <Template>
                        <label class="TSIModalLabel"><strong>Üniversite: </strong></label>
                        <SfTextBox @bind-Value="EmployeeDataSource.University"></SfTextBox>
                    </Template>
                </DxGridLayoutItem>

                <DxGridLayoutItem Row="0" Column="5">
                    <Template>
                        <label class="TSIModalLabel"><strong>Yaş: </strong></label>
                        <SfNumericTextBox Min="0" @bind-Value="EmployeeDataSource.Age"></SfNumericTextBox>
                    </Template>
                </DxGridLayoutItem>


            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
        <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEmployeeEditModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
    </FooterContentTemplate>
</DxPopup>