@page "/purchase-unsuitability-reports"
@layout MainLayout



@inject IStringLocalizer<PurchaseUnsuitabilityReportsResource> L

@inherits BaseListPage<SelectPurchaseUnsuitabilityReportsDto, ListPurchaseUnsuitabilityReportsDto, CreatePurchaseUnsuitabilityReportsDto, UpdatePurchaseUnsuitabilityReportsDto, ListPurchaseUnsuitabilityReportsParameterDto>


@inject IPurchaseUnsuitabilityReportsAppService PurchaseUnsuitabilityReportsService
@inject IPurchaseOrdersAppService PurchaseOrdersAppService
@inject IProductsAppService ProductsAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%"
                                        class="GridZebra" ContextMenuItems="@GridContextMenu">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                    <SfToolbar>
                                        <ToolbarItems>
                                            <ToolbarItem Type="ItemType.Button">
                                                <Template>

                                                    <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("ExcelExport", @L["UIExportTitle"], @L["UIExportFileName"]))"><img class="TSIExcelIcon" src="/images/excelicon.png" /></SfButton>
                                                </Template>
                                            </ToolbarItem>

                                            <ToolbarItem Type="ItemType.Button">
                                                <Template>

                                                    <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("PDFExport", @L["UIExportTitle"], @L["UIExportFileName"]))"><img class="TSIPdfIcon" src="/images/pdficon.png" /></SfButton>
                                                </Template>
                                            </ToolbarItem>

                                        </ToolbarItems>
                                    </SfToolbar>
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListPurchaseUnsuitabilityReportsDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.FicheNo) HeaderText="@L["FicheNo"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.Date_) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="@L["Date_"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.OrderFicheNo) HeaderText="@L["OrderFicheNo"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.ProductCode) HeaderText="@L["ProductCode"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.UnsuitableAmount) Type="ColumnType.Number" HeaderText="@L["UnsuitableAmount"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.CurrentAccountCardName) HeaderText="@L["CurrentAccountCardName"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                        <GridColumn Field=@nameof(ListPurchaseUnsuitabilityReportsDto.Action_) HeaderText="@L["Action_"]" TextAlign="TextAlign.Center" Width="120"> </GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
                 ShowFooter="true"
                 CloseOnEscape="false"
                 CloseOnOutsideClick="false"
                 HeaderText="@L["EditModalTitle"]"
                 Width="57%"
                 Height="35%"
                 MinWidth="1100px"
                 MinHeight="550px"
                 HeaderCssClass="HeaderTitleCss"
                 Showing="CrudModalShowing"
                 Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="21%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="15%" />
                        <DxGridLayoutRow Height="12%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="2%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="2%" />
                        <DxGridLayoutColumn Width="21%" />
                        <DxGridLayoutColumn Width="2%" />
                        <DxGridLayoutColumn Width="18%" />
                        <DxGridLayoutColumn Width="2%" />
                        <DxGridLayoutColumn Width="20%" />
                        <DxGridLayoutColumn Width="10%" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["FicheNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.FicheNo"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["Date_Label"] </strong></label>
                                <SfDatePicker @bind-Value="DataSource.Date_"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="0" Column="7" ColumnSpan="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["Description_Label"] </strong></label>
                                <SfTextBox @bind-Value="DataSource.Description_" CssClass="TSIMemoBox100"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["OrderFicheNoLabel"] </strong></label><br />
                                <SfTextBox @ref="@PurchaseOrdersButtonEdit" Created="@PurchaseOrdersOnCreateIcon" @bind-Value="DataSource.OrderFicheNo" ShowClearButton=true ValueChange="PurchaseOrdersOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CurrentAccountCardCodeLabel"] </strong></label><br />


                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.CurrentAccountCardCode" Readonly=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="2" Column="3" ColumnSpan="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CurrentAccountCardNameLabel"] </strong></label><br />


                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.CurrentAccountCardName" Readonly=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>


                        <DxGridLayoutItem Row="3" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ProductCodeLabel"] </strong></label>
                                <SfTextBox @ref="@ProductsCodeButtonEdit" Created="@ProductsCodeOnCreateIcon" @bind-Value="DataSource.ProductCode" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="3" Column="3" ColumnSpan="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ProductNameLabel"] </strong></label>
                                <SfTextBox @ref="@ProductsNameButtonEdit" Created="@ProductsNameOnCreateIcon" @bind-Value="DataSource.ProductName" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["PartyNoLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PartyNo"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["UnsuitableAmountLabel"] </strong></label>
                                <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.UnsuitableAmount" Min=0></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ActionLabel"] </strong></label><br />
                                <SfComboBox TValue="string" TItem="UnsComboBox" DataSource="@_unsComboBox" @bind-Value="DataSource.Action_">
                                    <ComboBoxEvents TItem="UnsComboBox" TValue="string" ValueChange="@UnsComboBoxValueChangeHandler"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="5" Column="1">
                            <Template>
                                <center>
                                    <label class="TSIModalLabel"><strong>@L["IsUnsuitabilityWorkOrderLabel"]</strong></label><br />
                                    <SfSwitch @bind-Checked="DataSource.IsUnsuitabilityWorkOrder"></SfSwitch>
                                </center>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}


@if (SelectProductsPopupVisible)
{
    <DxPopup @bind-Visible="SelectProductsPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["ProductModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="ProductsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ProductsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                            AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@ProductsDoubleClickHandler" TValue="ListProductsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="@L["ProductModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="@L["ProductModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>

                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectPurchaseOrdersPopupVisible)
{
    <DxPopup @bind-Visible="SelectPurchaseOrdersPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["PurchaseOrderModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="PurchaseOrdersGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@PurchaseOrdersList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                            AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@PurchaseOrdersDoubleClickHandler" TValue="ListPurchaseOrdersDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.FicheNo) HeaderText="@L["PurchaseOrderModalGridFicheNo"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.Date_) Format="dd.MM.yyyy" HeaderText="@L["PurchaseOrderModalGridDate"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.CurrentAccountCardCode) HeaderText="@L["PurchaseOrderModalGridCurrentAccountCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.CurrentAccountCardName) HeaderText="@L["PurchaseOrderModalGridCurrentAccountName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.CurrencyCode) HeaderText="@L["PurchaseOrderModalGridCurrency"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.ProductionOrderFicheNo) HeaderText="@L["PurchaseOrderModalGridProdOrder"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.PaymentPlanName) Type="ColumnType.Number" HeaderText="@L["PurchaseOrderModalGridPaymentPlan"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.BranchCode) HeaderText="@L["PurchaseOrderModalGridBranch"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListPurchaseOrdersDto.WarehouseCode) HeaderText="@L["PurchaseOrderModalGridWarehouse"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>

                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}