@page "/sales-propositions"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.SalesProposition.Services
@using TsiErp.Entities.Entities.SalesProposition
@using TsiErp.Entities.Entities.SalesProposition.Dtos
@using TsiErp.Entities.Entities.SalesPropositionLine
@using TsiErp.Entities.Entities.SalesPropositionLine.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.Entities.Entities.Branch.Dtos
@using TsiErp.Business.Entities.Branch.Services
@using TsiErp.Entities.Entities.WareHouse.Dtos
@using TsiErp.Business.Entities.Warehouse.Services
@using TsiErp.Entities.Entities.Currency.Dtos
@using TsiErp.Business.Entities.Currency.Services
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Entities.Entities.UnitSet.Dtos
@using TsiErp.Business.Entities.UnitSet.Services
@using TsiErp.Entities.Entities.PaymentPlan.Dtos
@using TsiErp.Business.Entities.PaymentPlan.Services

@inherits BaseListPage<SelectSalesPropositionsDto, ListSalesPropositionsDto, CreateSalesPropositionsDto, UpdateSalesPropositionsDto, ListSalesPropositionsParamaterDto>

@inject ISalesPropositionsAppService SalesPropositionsAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService
@inject IBranchesAppService BranchesAppService 
@inject IWarehousesAppService WarehousesAppService 
@inject ICurrenciesAppService CurrenciesAppService 
@inject IProductsAppService ProductsAppService
@inject IUnitSetsAppService UnitSetsAppService 
@inject IPaymentPlansAppService PaymentPlansAppService 

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Satış Yönetimi > Teklif Yönetimi" CurrentMenu="Verilen Teklifler" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                AllowExcelExport="true" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListSalesPropositionsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.FicheNo) HeaderText="TEKLİF NO." TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.Date_) HeaderText="TARİH" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.CurrentAccountCardCode) HeaderText="CARİ HESAP KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.CurrentAccountCardName) HeaderText="CARİ HESAP ÜNVANI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.CurrencyCode) HeaderText="PARA BİRİMİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.PaymentPlanDay) HeaderText="VADE GÜNÜ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.BranchCode) HeaderText="ŞUBE KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionsDto.WarehouseCode) HeaderText="DEPO KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    
                                    
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Verilen Teklifler"
         Width="1000px"
         Height="1100px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="80px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="300px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="65px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="80px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="250px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Teklif Fiş No: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Teklif Fiş Numarasını Yazınız." @bind-Value="DataSource.FicheNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br/>
                            <label class="TSIModalLabel"><strong>Cari Hesap Kartı Kodu: </strong></label><br />
                             <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="string"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Cari Hesap Kartı Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Cari Hesap Kartı Kodu</th>
                                                <th class="e-text-center">Cari Hesap Kartı Ünvanı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardFiltering"
                                            Opened="CurrentAccountCardOpened"
                                            ValueChange="CurrentAccountCardValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Özel Kod: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kod Yazınız." @bind-Value="DataSource.SpecialCode"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Tarih: </strong></label><br />
                            <SfDatePicker @bind-Value="@DataSource.Date_"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong> Cari Hesap Kartı Ünvanı: </strong></label>
                            <SfTextBox Placeholder="Cari Hesap Kartı Ünvanını Yazınız." @bind-Value="DataSource.CurrentAccountCardName"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    
                   @* <DxGridLayoutItem Row="0" Column="7">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Teklif Revizyon No: </strong></label><br />
                            <SfTextBox Placeholder="Teklif Revizyon Numarasını Yazınız." @bind-Value="@DataSource.PropositionRevisionNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>*@

                  @*  <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong> Revizyon Tarihi: </strong></label>
                            <SfDatePicker @bind-Value="@DataSource.RevisionDate"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>*@
                 @*   <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Satış Teklif Durumu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Satış Teklif Durumu Yazınız." @bind-Value="DataSource.LinkedSalesPropositionFicheNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>*@
                     <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Açıklama: </strong></label><br />
                            <SfTextBox Multiline=true Placeholder="Bağlı Teklif Numarasını Yazınız." @bind-Value="@DataSource.Description_"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                      <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Geçerlilik Tarihi: </strong></label>
                            <SfDatePicker @bind-Value="@DataSource.ValidityDate_"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="4" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Kur Tutarı: </strong></label>
                            <SfNumericTextBox CssClass="TSITxtBox" Min="0" TValue="decimal" @bind-Value="DataSource.ExchangeRate"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Şube Kodu: </strong></label>
                            <SfComboBox @ref="BranchesComboBox"
                                    TValue="string"
                                    TItem="ListBranchesDto"
                                    Placeholder="Şube Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@BranchesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListBranchesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Şube Kodu</th>
                                                <th class="e-text-center">Şube Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListBranchesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListBranchesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListBranchesDto"
                                            Filtering="BranchFiltering"
                                            Opened="BranchOpened"
                                            ValueChange="BranchValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong> Ödeme Planı Günü: </strong></label>
                            @* <SfNumericTextBox Placeholder="Ödeme Planı Gününü Yazınız." @bind-Value="DataSource.PaymentPlanCode"></SfNumericTextBox>*@
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Depo Kodu: </strong></label><br />
                            <SfComboBox @ref="WarehousesComboBox"
                                    TValue="string"
                                    TItem="ListWarehousesDto"
                                    Placeholder="Depo Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@WarehousesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListWarehousesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Depo Kodu</th>
                                                <th class="e-text-center">Depo Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListWarehousesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListWarehousesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListWarehousesDto"
                                            Filtering="WarehouseFiltering"
                                            Opened="WarehouseOpened"
                                            ValueChange="WarehouseValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Para Birimi Kodu: </strong></label><br />
                            <SfComboBox @ref="CurrenciesComboBox"
                                    TValue="string"
                                    TItem="ListCurrenciesDto"
                                    Placeholder="Para Birimi Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@CurrenciesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrenciesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Para Birimi Kodu</th>
                                                <th class="e-text-center">Para Birimi Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrenciesDto"
                                            Filtering="CurrencyFiltering"
                                            Opened="CurrencyOpened"
                                            ValueChange="CurrencyValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                   
                    <DxGridLayoutItem Row="5" Column="1" ColumnSpan="5">
                        <Template>
                            <br />
                            <SfGrid ID="LineGrid" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false"
                                AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="ListSalesPropositionLinesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.ProductName) HeaderText="STOK AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.UnitSetCode) HeaderText="BİRİM SETİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.Quantity) HeaderText="MİKTAR" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.UnitPrice) HeaderText="BİRİM FİYAT" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPropositionLinesDto.LineAmount) HeaderText="SATIR TUTARI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>



                   @* <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Bağlı Teklif No: </strong></label><br />
                            <SfTextBox Placeholder="Bağlı Teklif Numarasını Yazınız." @bind-Value="@DataSource.PropositionRevisionNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                   

                    
                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Brüt Tutar: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" CssClass="TSITxtBox" Placeholder="Brüt Tutarı Yazınız." @bind-Value="DataSource.GrossAmount"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>KDV Hariç Tutar: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" CssClass="TSITxtBox" Placeholder="KDV Hariç Tutarı Yazınız." @bind-Value="DataSource.TotalVatExcludedAmount"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>KDV Tutar: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" CssClass="TSITxtBox" Placeholder="KDV Tutarı Yazınız." @bind-Value="DataSource.TotalVatAmount"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Toplam İndirimli Tutar: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" Placeholder=" Toplam İndirimli Tutarı Yazınız." @bind-Value="DataSource.TotalDiscountAmount"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="4" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Net Tutar: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" CssClass="TSITxtBox" Placeholder="Net Tutarı Yazınız." @bind-Value="DataSource.NetAmount"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>*@
                   


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="LineCrudPopup"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Teklif Satırları"
         Width="1000px"
         Height="440px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="100px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Depo Kodu: </strong></label>
                          <SfComboBox @ref="LineWarehousesComboBox"
                                    TValue="string"
                                    TItem="ListWarehousesDto"
                                    Placeholder="Depo Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineWarehousesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListWarehousesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Depo Kodu</th>
                                                <th class="e-text-center">Depo Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListWarehousesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListWarehousesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListWarehousesDto"
                                            Filtering="LineWareHouseFiltering"
                                            Opened="LineWareHouseOpened"
                                            ValueChange="LineWareHouseValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Stok Kodu: </strong></label>
                             <SfComboBox @ref="ProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Placeholder="Stok Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@ProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Stok Kodu</th>
                                                <th class="e-text-center">Stok Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="ProductFiltering"
                                            Opened="ProductOpened"
                                            ValueChange="ProductValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Stok Adı: </strong></label><br />
                               <SfComboBox @ref="ProductsComboBox"
                                    TValue="string"
                                    TItem="ListProductsDto"
                                    Placeholder="Stok Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@ProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Stok Kodu</th>
                                                <th class="e-text-center">Stok Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListProductsDto"
                                            Filtering="ProductFiltering"
                                            Opened="ProductOpened"
                                            ValueChange="ProductValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="7">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Birim Seti Kodu: </strong></label><br />
                               <SfComboBox @ref="UnitSetsComboBox"
                                    TValue="string"
                                    TItem="ListUnitSetsDto"
                                    Placeholder="Birim Seti Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@UnitSetsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListUnitSetsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Birim Seti Kodu</th>
                                                <th class="e-text-center">Birim Seti Ünvanı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListUnitSetsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListUnitSetsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListUnitSetsDto"
                                            Filtering="UnitSetFiltering"
                                            Opened="UnitSetOpened"
                                            ValueChange="UnitSetValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Şube Kodu: </strong></label><br />
                             <SfComboBox @ref="BranchesComboBox"
                                    TValue="string"
                                    TItem="ListBranchesDto"
                                    Placeholder="Şube Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@BranchesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListBranchesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Şube Kodu</th>
                                                <th class="e-text-center">Şube Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListBranchesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListBranchesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListBranchesDto"
                                            Filtering="BranchFiltering"
                                            Opened="BranchOpened"
                                            ValueChange="BranchValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                           
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Birim Fiyat: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.UnitPrice" Placeholder="Birim Fiyatı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Miktar: </strong></label>
                            <SfNumericTextBox TValue="decimal" @bind-Value = "LineDataSource.Quantity" Placeholder="Miktarı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="7">
                        <Template>
                             <label class="TSIModalLabel"><strong>İndirim Oranı: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.DiscountRate" Placeholder="İndirim Oranını Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                           <label class="TSIModalLabel"><strong>İndirim Tutarı: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.DiscountAmount" Placeholder="İndirim Tutarı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>Satır Tutarı: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.LineAmount" Placeholder="Satır Tutarı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                              <label class="TSIModalLabel"><strong>Satır Toplam Tutarı: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.LineTotalAmount" Placeholder="Satır Toplam Tutarı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Satır Açıklaması: </strong></label><br />
                            <SfTextBox  @bind-Value = "LineDataSource.LineDescription" Placeholder="Satır Açıklamasını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong> KDV Oranı: </strong></label>
                            <SfNumericTextBox Min="0" @bind-Value = "LineDataSource.VATrate"  Placeholder="KDV Oranı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>KDV Tutarı: </strong></label>
                            <SfNumericTextBox Min="0" TValue="decimal" @bind-Value = "LineDataSource.VATamount" Placeholder="KDV Tutarı Yazınız."></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ödeme Planı Kodu: </strong></label>
                             <SfComboBox @ref="LinePaymentPlansComboBox"
                                    TValue="string"
                                    TItem="ListPaymentPlansDto"
                                    Placeholder="Ödeme Planı Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LinePaymentPlansList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListPaymentPlansDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Ödeme Planı Kodu</th>
                                                <th class="e-text-center">Ödeme Planı Ünvanı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListPaymentPlansDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListPaymentPlansDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListPaymentPlansDto"
                                            Filtering="LinePaymentPlanFiltering"
                                            Opened="LinePaymentPlanOpened"
                                            ValueChange="LinePaymentPlanValueChanged"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                </Items>

            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}