@page "/cities"
@layout MainLayout



@inherits BaseListPage<SelectCitiesDto, ListCitiesDto, CreateCitiesDto, UpdateCitiesDto, ListCitiesParameterDto>

@inject IStringLocalizer<CitiesResource> L
@inject ICitiesAppService CitiesAppService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService
@inject IGetSQLDateAppService GetSQLDateAppService



@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid"  AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@MainGridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                <GridEvents ContextMenuItemClicked="@MainContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListCitiesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListCitiesDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.Name) HeaderText="@L["Name"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.CityTypeForm) HeaderText="@L["CityTypeForm"]" TextAlign="TextAlign.Center" Width="120">
                                    
                                        <Template>
                                            @{
                                                CityTypeFormEnum citytypeform = (context as ListCitiesDto).CityTypeForm;
                                                string type = "";
                                                switch (citytypeform)
                                                {
                                                    case CityTypeFormEnum.Büyükşehir: type = L["BigCityEnum"]; break;
                                                    case CityTypeFormEnum.Küçükşehir: type = L["SmallTownEnum"]; break;
                                                    case CityTypeFormEnum.Metropol: type = L["MetropolitanCityEnum"]; break;
                                                    default: break;
                                                }
                                            }
                                            @type
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.BigCityIs) HeaderText="@L["BigCityIs"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.Population_) Type="ColumnType.Number" HeaderText="@L["Population_"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.IsBigCity) HeaderText="@L["IsBigCity"]" DisplayAsCheckBox="true" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCitiesDto.Description_) HeaderText="@L["Description_"]" TextAlign="TextAlign.Center" Width="120">
                                    </GridColumn>
                                </GridColumns>

                                <GridAggregates>
                                    <GridAggregate>
                                        <GridAggregateColumns>
                                            <GridAggregateColumn Field="@nameof(ListCitiesDto.Population_)"  Type="AggregateType.Sum" Format="N2">
                                            </GridAggregateColumn>
                                        </GridAggregateColumns>
                                    </GridAggregate>
                                </GridAggregates>

                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="60%"
             Height="65%"
             MinWidth="1060px"
             MinHeight="700px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="13%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="60%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>

                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfTextBox @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                   
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Population_Label"] </strong></label>
                            <SfNumericTextBox Enabled=false CssClass="TSITxtBox" @bind-Value="DataSource.Population_"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["CityTypeFormLabel"] </strong></label>
                            <SfDropDownList TItem="SelectCitiesDto" TValue="CityTypeFormEnum" PopupHeight="230px" @bind-Value="@DataSource.CityTypeForm" DataSource="@types" Readonly=@(DataSource.Id == Guid.Empty ? false:true)>
                                <DropDownListFieldSettings Text="CityTypeName" Value="CityTypeForm"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="SelectCitiesDto" TValue="CityTypeFormEnum" ></DropDownListEvents>
                            </SfDropDownList>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3" ColumnSpan="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Description_Label"] </strong></label><br />
                            <SfTextBox Multiline=true CssClass="TSIMemoBox60" @bind-Value="DataSource.Description_"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["BigCityIsLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="BigCityComboBox" DataSource="@bigcityComboBox">
                                <ComboBoxEvents TItem="BigCityComboBox" TValue="string" ValueChange="@BigCityComboBoxValueChangeHandler"></ComboBoxEvents>
                                <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <br /><center>
                                <label class="TSIModalLabel"><strong>@L["IsBigCityLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsBigCity"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="5">
                        <Template>
                            <SfGrid @ref=_LineGrid ID="LineGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="SelectCityLinesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.LineNr) Type="ColumnType.Number" HeaderText="@L["LineGridLineNr"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.DistrictName) HeaderText="@L["LineGridDistrictName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.DistrictPopulation) Type="ColumnType.Number" HeaderText="@L["LineGridDistrictPopulation"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.NumberofTown) Type="ColumnType.Number" HeaderText="@L["LineGridNumberofTown"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.IsIncludeHospital) DisplayAsCheckBox=true HeaderText="@L["LineGridIsIncludeHospital"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.Description_) HeaderText="@L["LineGridDescription_"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectCityLinesDto.DistrictInstruction) HeaderText="@L["LineGridDistrictInstruction"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>


    <DxPopup @bind-Visible="LineCrudPopup"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditLineModalTitle"]"
             Width="62%"
             Height="52%"
             MinWidth="1060px"
             MinHeight="550px"
             HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="60%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["DistrictNameLineLabel"] </strong></label>
                            <SfTextBox @bind-Value="LineDataSource.DistrictName"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["DistrictPopulationLineLabel"] </strong></label><br />
                            <SfNumericTextBox Min="0" @bind-Value="LineDataSource.DistrictPopulation"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["NumberofTownLineLabel"] </strong></label><br />
                            <SfNumericTextBox Min="0" @bind-Value="LineDataSource.NumberofTown"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1" ColumnSpan="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["DistrictInstructionLineLabel"] </strong></label><br />
                            <SfTextBox CssClass="TSIMemoBox60" @bind-Value="LineDataSource.DistrictInstruction" Multiline=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="5" >
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["IsIncludeHospitalLineLabel"] </strong></label><br />
                            <center>
                                <SfSwitch @bind-Checked="LineDataSource.IsIncludeHospital"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Description_LineLabel"] </strong></label><br />
                            <SfTextBox CssClass="TSIMemoBox60" @bind-Value="LineDataSource.Description_" Multiline=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
    }