@page "/sales-prices"
@layout MainLayout

@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Business.Entities.Currency.Services
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Business.Entities.SalesPrice.Services
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.Entities.Entities.Currency.Dtos
@using TsiErp.Entities.Entities.SalesPrice.Dtos
@using TsiErp.Entities.Entities.SalesPriceLine.Dtos
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.ErpUI.Pages.Base


@inherits BaseListPage<SelectSalesPricesDto, ListSalesPricesDto, CreateSalesPricesDto, UpdateSalesPricesDto, ListSalesPricesParameterDto>

@inject ISalesPricesAppService SalesPricesAppService
@inject ICurrenciesAppService CurrenciesAppService
@inject IProductsAppService ProductsAppService
@inject ICurrentAccountCardsAppService CurrentAccountCardsAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Satış Yönetimi > Ana Kayıtlar" CurrentMenu="Satış Fiyat Listeleri" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="@_grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@MainGridContextMenu">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@MainContextMenuClick" TValue="ListSalesPricesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListSalesPricesDto.Code) HeaderText="FİYAT LSİTESİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPricesDto.Name) HeaderText="FİYAT LİSTESİ AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPricesDto.StartDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="BAŞLANGIÇ TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPricesDto.EndDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="BİTİŞ TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSalesPricesDto.CurrencyCode) HeaderText="PARA BİRİMİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>


                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Satış Fiyat Listeleri"
         Width="53%"
         Height="65%"
         MinWidth="910px"
         MinHeight="700px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="12%" />
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="51%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="27%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="27%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="27%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template><br/>
                            <label class="TSIModalLabel"><strong>Fiyat Listesi Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Fiyat Listesi Kodu" @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template><br/>
                        <label class="TSIModalLabel"><strong>Fiyat Listesi Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Fiyat Listesi Açıklaması" @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template><br/>
                            <label class="TSIModalLabel"><strong>Para Birimi: </strong></label><br />
                            <SfComboBox @ref="CurrenciesComboBox"
                                    TValue="string"
                                    TItem="ListCurrenciesDto"
                                    Placeholder="Para Birimi"
                                    CssClass="e-multi-column"
                                    DataSource="@CurrenciesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500"
                                    Value="DataSource.CurrencyCode">

                                <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrenciesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Para Birimi Kodu</th>
                                                <th class="e-text-center">Para Birimi Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrenciesDto"
                                            Filtering="CurrencyFiltering"
                                            ValueChange="CurrencyValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Başlangıç Tarihi: </strong></label><br />
                            <SfDatePicker @bind-Value="@DataSource.StartDate" Placeholder="Başlangıç Tarihi"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                          <label class="TSIModalLabel"><strong>Bitiş Tarihi: </strong></label><br />
                            <SfDatePicker @bind-Value="@DataSource.EndDate" Placeholder="Bitiş Tarihi"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                          <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                           <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                    
                     <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                          <label class="TSIModalLabel"><strong>Cari Hesap: </strong></label><br />
                            <SfComboBox @ref="CurrentAccountCardsComboBox"
                                    TValue="Guid?"
                                    TItem="ListCurrentAccountCardsDto"
                                    Placeholder="Cari Hesap"
                                    CssClass="e-multi-column"
                                    DataSource="@CurrentAccountCardsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500"
                                    Value="DataSource.CurrentAccountCardID">

                                <ComboBoxFieldSettings Text="Name" Value="Id"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrentAccountCardsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Cari Hesap Kodu</th>
                                                <th class="e-text-center">Cari Hesap Ünvanı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrentAccountCardsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="Guid?"
                                            TItem="ListCurrentAccountCardsDto"
                                            Filtering="CurrentAccountCardsFiltering"
                                            ValueChange="CurrentAccountCardsValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="5">
                        <Template>
                            <SfGrid @ref=_LineGrid ID="LineGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="SelectSalesPriceLinesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.ProductName) HeaderText="STOK AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.CurrencyCode) HeaderText="PARA BİRİMİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.Price) Type="ColumnType.Number" HeaderText="FİYAT" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.StartDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="BAŞLANGIÇ TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(SelectSalesPriceLinesDto.EndDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="BİTİŞ TARİHİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>


    <DxPopup @bind-Visible="LineCrudPopup"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Satış Fiyat Listesi Satırları"
         Width="62%"
         Height="29%"
         MinWidth="1060px"
         MinHeight="310px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="35%" />
                    <DxGridLayoutRow Height="40%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                      <DxGridLayoutColumn Width="4%" />
                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Stok Kodu: </strong></label>
                            <SfComboBox @ref="LineProductsComboBox"
                                    TValue="Guid?"
                                    TItem="ListProductsDto"
                                    Placeholder="Stok Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500"
                                    Value="LineDataSource.ProductID">

                                <ComboBoxFieldSettings Text="Code" Value="Id"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Stok Kodu</th>
                                                <th class="e-text-center">Stok Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="Guid?"
                                            TItem="ListProductsDto"
                                            Filtering="LineProductFiltering"
                                            ValueChange="LineProductValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Stok Adı: </strong></label><br />
                             <SfComboBox @ref="LineProductsComboBox"
                                    TValue="Guid?"
                                    TItem="ListProductsDto"
                                    Placeholder="Stok Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineProductsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500"
                                    Value="LineDataSource.ProductID">

                                <ComboBoxFieldSettings Text="Name" Value="Id"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListProductsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Stok Kodu</th>
                                                <th class="e-text-center">Stok Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListProductsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="Guid?"
                                            TItem="ListProductsDto"
                                            Filtering="LineProductFiltering"
                                            ValueChange="LineProductValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                             <label class="TSIModalLabel"><strong>Para Birimi: </strong></label><br />
                            <SfTextBox @bind-Value="LineDataSource.CurrencyCode"   CssClass="TSITxtBox" Enabled=false></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                           <label class="TSIModalLabel"><strong>Fiyat: </strong></label><br />
                            <SfNumericTextBox @bind-Value="LineDataSource.Price" TValue="decimal" Min="0"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                   

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}
