@page "/operational-spc"
@layout MainLayout


@inherits BaseListPage<SelectOperationalSPCsDto, ListOperationalSPCsDto, CreateOperationalSPCsDto, UpdateOperationalSPCsDto, ListOperationalSPCsParameterDto>

@inject IOperationalSPCsAppService OperationalSPCsService
@inject IStationGroupsAppService StationGroupsAppService
@inject IProductsOperationsAppService ProductsOperationsAppService
@inject IWorkOrdersAppService WorkOrdersAppService
@inject IContractUnsuitabilityReportsAppService ContractUnsuitabilityReportsAppService
@inject IOperationUnsuitabilityReportsAppService OperationUnsuitabilityReportsAppService
@inject IPurchaseUnsuitabilityReportsAppService PurchaseUnsuitabilityReportsAppService
@inject IStringLocalizer<OperationalSPCsResource> L

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@MainGridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@MainContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListOperationalSPCsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListOperationalSPCsDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationalSPCsDto.Date_) HeaderText="@L["Date_"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationalSPCsDto.MeasurementStartDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="@L["MeasurementStartDate"]" TextAlign="TextAlign.Center" Width="160"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationalSPCsDto.MeasurementEndDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="@L["MeasurementEndDate"]" TextAlign="TextAlign.Center" Width="160"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="62%"
             Height="65%"
             MinWidth="1220px"
             MinHeight="700px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="50%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="6%" />
                    <DxGridLayoutColumn Width="42%" />
                    <DxGridLayoutColumn Width="6%" />
                    <DxGridLayoutColumn Width="42%" />
                    <DxGridLayoutColumn Width="6%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3" RowSpan="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["Description_Label"] </strong></label>
                            <SfTextBox Multiline=true CssClass="TSIMemoBox60" @bind-Value="DataSource.Description_"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["Date_Label"] </strong></label><br />
                            <SfDatePicker Enabled=false @bind-Value="@DataSource.Date_"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["MeasurementStartDateLabel"] </strong></label><br />
                            <SfDatePicker @bind-Value="@DataSource.MeasurementStartDate"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                                <label class="TSIModalLabel"><strong>@L["MeasurementEndDateLabel"] </strong></label><br />
                            <SfDatePicker @bind-Value="@DataSource.MeasurementEndDate"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="3" Column="3">
                        <Template><br/>
                            <SfButton CssClass="TSISaveButton" OnClick="Calculate"><SfIcon Size="IconSize.Medium" Name="IconName.CalculatedMember"></SfIcon>&nbsp;@L["CalculateButton"]</SfButton>
                        </Template>
                    </DxGridLayoutItem>



                    <DxGridLayoutItem Row="4" Column="1" ColumnSpan="3">
                        <Template>
                            <SfGrid @ref=_LineGrid ID="LineGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@GridLineList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="SelectOperationalSPCLinesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.WorkCenterName) HeaderText="@L["LineGridWorkCenterName"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.OperationName) HeaderText="@L["LineGridOperationName"]" TextAlign="TextAlign.Center" Width="260"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.TotalComponent) Type="ColumnType.Number" HeaderText="@L["LineGridTotalComponent"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.TotalUnsuitableComponent) Type="ColumnType.Number" HeaderText="@L["LineGridTotalUnsuitableComponent"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.UnsuitableComponentRate) Type="ColumnType.Number" HeaderText="@L["LineGridUnsuitableComponentRate"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.TotalOccuredOperation) Type="ColumnType.Number" HeaderText="@L["LineGridTotalOccuredOperation"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.TotalUnsuitableOperation) Type="ColumnType.Number" HeaderText="@L["LineGridTotalUnsuitableOperation"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.UnsuitableOperationRate) Type="ColumnType.Number" HeaderText="@L["LineGridUnsuitableOperationRate"]" TextAlign="TextAlign.Center" Width="340"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.UnsuitableComponentPerOperation) Type="ColumnType.Number" HeaderText="@L["LineGridUnsuitableComponentPerOperation"]" TextAlign="TextAlign.Center" Width="480"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.Severity) Type="ColumnType.Number" HeaderText="@L["LineGridSeverity"]" TextAlign="TextAlign.Center" Width="140"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.Frequency) Type="ColumnType.Number" HeaderText="@L["LineGridFrequency"]" TextAlign="TextAlign.Center" Width="140"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.Detectability) Type="ColumnType.Number" HeaderText="@L["LineGridSDetectability"]" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.RPN) Type="ColumnType.Number" HeaderText="@L["LineGridRPN"]" TextAlign="TextAlign.Center" Width="140"></GridColumn>
                                    <GridColumn Field=@nameof(SelectOperationalSPCLinesDto.OperationBasedMidControlFrequency) Type="ColumnType.Number" HeaderText="@L["LineGridOperationBasedMidControlFrequency"]" TextAlign="TextAlign.Center" Width="420"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>


}
