@page "/customer-complaint-items"
@layout MainLayout

@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.CustomerComplaintItem.Services
@using TsiErp.Entities.Entities.CustomerComplaintItem
@using TsiErp.Entities.Entities.CustomerComplaintItem.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
 
@inherits BaseListPage<SelectCustomerComplaintItemsDto, ListCustomerComplaintItemsDto, CreateCustomerComplaintItemsDto, UpdateCustomerComplaintItemsDto, ListCustomerComplaintItemsParameterDto>

@inject ICustomerComplaintItemsAppService CustomerComplaintItemsService

@{if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Kalite Kontrol > Ana Kayıtlar > Uygunsuzluk Başlıkları" CurrentMenu="Müşteri Şikayet Başlıkları" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"  GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%"  ContextMenuItems="@GridContextMenu" class="GridZebra">
                                                                 <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListCustomerComplaintItemsDto"></GridEvents>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.Code) HeaderText="MÜŞTERİ ŞİKAYET KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.Name) HeaderText="MÜŞTERİ ŞİKAYET AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.Detection) HeaderText="TESPİT" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.Severity) HeaderText="ŞİDDET" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.StaProductivityAnalysis) DisplayAsCheckBox="true" HeaderText="İSTASYON VERİMLİLİK ANALİZİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.PerProductivityAnalysis) DisplayAsCheckBox="true" HeaderText="PERSONEL VERİMLİLİK ANALİZİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCustomerComplaintItemsDto.Image) HeaderText="RESİM" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Müşteri Şikayet Başlıkları"
         Width="52%"
         Height="32%"
         MinWidth="980px"
         MinHeight="350px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="34%" />
                        <DxGridLayoutRow Height="26%" />
                        <DxGridLayoutRow Height="28%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="31%" />
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="31%" />
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="20%" />
                        <DxGridLayoutColumn Width="2%" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Kod: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="@DataSource.Code" Placeholder="Kodu Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Açıklama: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="@DataSource.Name" Placeholder="Açıklama Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="5" RowSpan="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Resim: </strong></label>
                                <DxImage></DxImage>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Şiddet: </strong></label>
                                <SfNumericTextBox Min="0" TValue="int" @bind-Value="@DataSource.Severity" CssClass="TSITxtBox"></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Tespit: </strong></label>
                                <SfNumericTextBox Min="0" TValue="int" @bind-Value="@DataSource.Detection" CssClass="TSITxtBox"></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>İstasyon Verimlilik Analizi: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.StaProductivityAnalysis"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Personel Verimlilik Analizi: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.PerProductivityAnalysis"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
    </DxPopup>

}
}
