@page "/operations"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Station.Services
@using TsiErp.Entities.Entities.Operation
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Operation.Dtos
@using TsiErp.Entities.Entities.Station.Dtos
@using TsiErp.Business.Entities.Operation.Services
@using TsiErp.Entities.Entities.OperationLine.Dtos

@inherits BaseListPage<SelectOperationsDto, ListOperationsDto, CreateOperationsDto, UpdateOperationsDto, ListOperationsParameterDto>

@inject IOperationsAppService OperationsAppService
@inject IStationsAppService StationsAppService



@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Üretim Yönetimi" CurrentMenu="Operasyonlar" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListOperationsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListOperationsDto.Code) HeaderText="OPERASYON KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationsDto.Name) HeaderText="OPERASYON AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>


                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Operasyonlar"
         Width="740px"
         Height="600px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="80px" />
                    <DxGridLayoutRow Height="65px" />
                    <DxGridLayoutRow Height="300px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="50px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="50px" />
                    <DxGridLayoutColumn Width="300px" />
                    <DxGridLayoutColumn Width="50px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Operasyon Kodunu Yazınız." @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Açıklaması: </strong></label><br />
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Operasyon Açıklamasını Yazınız." @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                            <SfCheckBox @bind-Checked="DataSource.IsActive"></SfCheckBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                        <Template>
                            <br />
                            <SfGrid ID="LineGrid" DataSource="@GridLineList" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false"
                                AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                                             <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@OnListContextMenuClick" TValue="ListOperationLinesDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.LineNr) HeaderText="SATIR NUMARASI" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.Code) HeaderText="OPERASYON SATIR KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.Name) HeaderText="OPERASYON SATIR AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.OperationName) HeaderText="OPERASYON ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.StationCode) HeaderText="İSTASYON KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.Priority) HeaderText="ÖNCELİK" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.ProcessQuantity) HeaderText="İŞLEM ADEDİ" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.AdjustmentAndControlTime) HeaderText="AYAR VE KONTROL SÜRESİ" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListOperationLinesDto.Alternative) DisplayAsCheckBox="true" HeaderText="ALTERNATİF" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

    <DxPopup @bind-Visible="LineCrudPopup"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Operasyon Satırları"
         Width="770px"
         Height="390px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="100px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Satır Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Operasyon Satır Kodunu Yazınız." @bind-Value="LineDataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Satır Adı: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Operasyon Satır Adını Yazınız." @bind-Value="LineDataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Operasyon Adı: </strong></label><br />
                            <SfComboBox @ref="LineOperationsComboBox"
                                    TValue="string"
                                    TItem="ListOperationsDto"
                                    Value="LineDataSource.OperationName"
                                    Placeholder="Operasyon Seçin"
                                    CssClass="e-multi-column"
                                    DataSource="@LineOperationsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListOperationsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Operasyon Kodu</th>
                                                <th class="e-text-center">Operasyon Açıklaması</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListOperationsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListOperationsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListOperationsDto"
                                            Filtering="LineOperationFiltering"
                                            ValueChange="LineOperationValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>İstasyon Kodu: </strong></label><br />
                            <SfComboBox @ref="LineStationsComboBox"
                                    TValue="string"
                                    TItem="ListStationsDto"
                                    Placeholder="İstasyon Seçin"
                                    CssClass="e-multi-column"
                                    Value="LineDataSource.StationCode"
                                    DataSource="@LineStationsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Code" Value="Code"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListStationsDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">İstasyon Kodu</th>
                                                <th class="e-text-center">İstasyon Açıklaması</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListStationsDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListStationsDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListStationsDto"
                                            Filtering="LineStationFiltering"
                                            ValueChange="LineStationValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Öncelik: </strong></label><br />
                            <SfNumericTextBox Min="0" @bind-Value="LineDataSource.Priority"></SfNumericTextBox>

                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>İşlem Adedi: </strong></label>
                            <SfNumericTextBox Min="0"  @bind-Value="LineDataSource.ProcessQuantity" ></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ayar ve Kontrol Süresi: </strong></label>
                            <SfNumericTextBox Min="0" @bind-Value="LineDataSource.AdjustmentAndControlTime"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                      <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Alternatif: </strong></label><br />
                            <SfCheckBox @bind-Checked="LineDataSource.Alternative"></SfCheckBox>
                        </Template>
                    </DxGridLayoutItem>

                </Items>

            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnLineSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideLinesPopup"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}