@page "/calibration-records"
@layout MainLayout




@inherits BaseListPage<SelectCalibrationRecordsDto, ListCalibrationRecordsDto, CreateCalibrationRecordsDto, UpdateCalibrationRecordsDto, ListCalibrationRecordsParameterDto>

@inject IStringLocalizer<CalibrationRecordsResource> L 
@inject ICalibrationRecordsAppService CalibrationRecordsService
@inject IEquipmentRecordsAppService EquipmentRecordsService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService
@inject IGetSQLDateAppService GetSQLDateAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                         
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid"   AllowPdfExport=true ShowColumnMenu="true"  ColumnMenuItems=@MenuItems DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"  GridLines="GridLine.Both" 
                                AllowSorting="true" Height="100%" ContextMenuItems="@GridContextMenu" Width="100%" class="GridZebra" Toolbar=@GridToolbarItems>
                               <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEvents ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListCalibrationRecordsDto"></GridEvents>
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.Name) HeaderText="@L["Name"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.ReceiptNo) HeaderText="@L["ReceiptNo"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.Equipment) HeaderText="@L["Equipment"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.Date_) HeaderText="@L["Date"]" Format="dd.MM.yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.NextControl) HeaderText="@L["NextControl"]" Format="dd.MM.yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.InfinitiveCertificateNo) HeaderText="@L["InfinitiveCertificateNo"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalibrationRecordsDto.Result) HeaderText="@L["Result"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>

                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>

        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EditModalTitle"]"
         Width="57%"
         Height="36%"
         MinWidth="1080px"
         MinHeight="390px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">

                    <Rows>
                        <DxGridLayoutRow Height="28%" />
                        <DxGridLayoutRow Height="1%" />
                        <DxGridLayoutRow Height="24%" />
                        <DxGridLayoutRow Height="1%" />
                        <DxGridLayoutRow Height="24%" />
                    </Rows>

                    <Columns>
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                    </Columns>

                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                                @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                                <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" ></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="5">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["ReceiptLabel"] </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.ReceiptNo" ></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["InfinitiveCertificateNoLabel"] </strong></label><br />
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.InfinitiveCertificateNo" ></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["EquipmentLabel"] </strong></label><br />
                                 <SfTextBox @ref="@EquipmentRecordButtonEdit" Created="@EquipmentRecordOnCreateIcon" @bind-Value="DataSource.Equipment" ShowClearButton=true ValueChange="EquipmentRecordOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["DateLabel"] </strong></label><br />
                                <SfDatePicker @bind-Value="DataSource.Date_"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["NextControlLabel"] </strong></label>
                                <SfDatePicker @bind-Value="DataSource.NextControl"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ResultLabel"] </strong></label><br />
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Result"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="5">
                            <Template>

                            </Template>
                        </DxGridLayoutItem>

                    </Items>

                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}

 @if (SelectEquipmentRecordPopupVisible)
    {
        <DxPopup @bind-Visible="SelectEquipmentRecordPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EquipmentsModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                       
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIWorkStationGroupPopUpCard">

                                    <CardContent>
                                        <SfGrid ID="EquipmentRecordGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@EquipmentRecordList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@EquipmentRecordDoubleClickHandler" TValue="ListEquipmentRecordsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListEquipmentRecordsDto.Code) HeaderText="@L["EquipmentsModalCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListEquipmentRecordsDto.Name) HeaderText="@L["EquipmentsModalName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
            </FooterContentTemplate>
        </DxPopup>
    }



