@page "/current-account-cards"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.Entities.Entities.CurrentAccountCard
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Entities.Entities.Currency.Dtos
@using TsiErp.Business.Entities.Currency.Services
@using TsiErp.Entities.Entities.ShippingAdress.Dtos
@using TsiErp.Business.Entities.ShippingAdress.Services
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectCurrentAccountCardsDto, ListCurrentAccountCardsDto, CreateCurrentAccountCardsDto, UpdateCurrentAccountCardsDto, ListCurrentAccountCardsParameterDto>

@inject ICurrentAccountCardsAppService CurrentAccountCardsService
@inject ICurrenciesAppService CurrenciesAppService
@inject IShippingAdressesAppService ShippingAdressesAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Finans Yönetimi > Ana Kayıtlar" CurrentMenu="Cari Hesap Kartları" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" 
                                AllowExcelExport="true"  ShowColumnChooser="true" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.SupplierNo) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Address1) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Address2) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.District) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.City) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Country) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PostCode) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Tel1) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Tel2) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Fax) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Responsible) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Email) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Web) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PrivateCode1) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PrivateCode2) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PrivateCode3) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PrivateCode4) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PrivateCode5) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.SoleProprietorship) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.IDnumber) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.TaxAdministration) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.TaxNumber) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.CoatingCustomer) DisplayAsCheckBox="true" HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.SaleContract) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.PlusPercentage) Type="ColumnType.Number" HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Supplier) DisplayAsCheckBox="true" HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.ContractSupplier) DisplayAsCheckBox="true" HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Cari Hesap Kartları"
         Width="1020px"
         Height="820px"
         HeaderCssClass="HeaderTitleCss">

        <BodyTemplate>
            <DxGridLayout>

                <Rows>
                    <DxGridLayoutRow Height="100px" />
                    <DxGridLayoutRow Height="1px" />
                    <DxGridLayoutRow Height="90px" />
                    <DxGridLayoutRow Height="1px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                    <DxGridLayoutRow Height="70px" />
                     <DxGridLayoutRow Height="70px" />
                     <DxGridLayoutRow Height="70px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                    <DxGridLayoutColumn Width="200px" />
                    <DxGridLayoutColumn Width="40px" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Cari Kod: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Cari Kodu Yazınız." @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Cari Ünvan: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Cari Ünvanı Yazınız." @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template>
                            <br/>
                            <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                            <SfSwitch @bind-Checked="@DataSource.IsActive"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="0" Column="7">
                        <Template>
                            <br/>
                            <label class="TSIModalLabel"><strong>Tedarikçi Numarası: </strong></label><br />
                             <SfTextBox CssClass="TSITxtBox" Placeholder="Tedarikçi Numarasını Yazınız." @bind-Value="DataSource.SupplierNo"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Multiline=true Placeholder="Sevkiyat Adresini Yazınız." @bind-Value="DataSource.ShippingAddress"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Tür: </strong></label>
                            <SfNumericTextBox Placeholder="Türü Yazınız." @bind-Value="DataSource.Type"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Adres 1: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Multiline=true Placeholder="Adresi Yazınız." @bind-Value="DataSource.Address1"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="2" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Adres 2: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Multiline=true Placeholder="Adresi Yazınız." @bind-Value="DataSource.Address2"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Ülke: </strong></label>
                            <SfTextBox CssClass="TSITxtBox"  Placeholder="Ülkeyi Yazınız." @bind-Value="DataSource.Country"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="4" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>İl: </strong></label>
                            <SfTextBox Placeholder="İli Yazınız." @bind-Value="DataSource.City"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>İlçe: </strong></label>
                            <SfTextBox CssClass="TSITxtBox"  Placeholder="İlçeyi Yazınız." @bind-Value="DataSource.District"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="4" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Posta Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Posta Kodunu Yazınız." @bind-Value="DataSource.PostCode"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="5" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Tel 1: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Telefon Numarasını Yazınız." @bind-Value="DataSource.Tel1"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="5" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Tel 2: </strong></label>
                            <SfTextBox Placeholder="Telefon Numarasını Yazınız." @bind-Value="DataSource.Tel2"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="5" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Fax: </strong></label>
                            <SfTextBox CssClass="TSITxtBox"  Placeholder="Fax Numarasını Yazınız." @bind-Value="DataSource.Fax"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="5" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sorumlu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Sorumluyu Yazınız." @bind-Value="DataSource.Responsible"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="6" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>E-Posta: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="E-postayı Yazınız." @bind-Value="DataSource.Email"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="6" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Web: </strong></label>
                            <SfTextBox Placeholder="Web Adresi Yazınız." @bind-Value="DataSource.Web"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="6" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong> Özel Kod 1: </strong></label>
                            <SfTextBox CssClass="TSITxtBox"  Placeholder="Özel Kodu Yazınız." @bind-Value="DataSource.PrivateCode1"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="6" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Özel Kod 2: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode2"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    
                    <DxGridLayoutItem Row="7" Column="1">
                        <Template>
                             <label class="TSIModalLabel"><strong>Özel Kod 3: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode3"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="7" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>Özel Kod 4: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode4"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="7" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Özel Kod 5: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode5"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="7" Column="7">
                        <Template>
                                 <label class="TSIModalLabel"><strong>TC Kimlik Numarası: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="TC Kimlik Numarasını Yazınız" @bind-Value="DataSource.IDnumber"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                      <DxGridLayoutItem Row="8" Column="1">
                        <Template>
                             <label class="TSIModalLabel"><strong>Vergi Dairesi: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Vergi Dairesini Yazınız" @bind-Value="DataSource.TaxAdministration"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="8" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>Vergi Numarası: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Vergi Numarasını Yazınız" @bind-Value="DataSource.TaxNumber"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="8" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Satış Sözleşmesi: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Satış Sözleşmesini Yazınız" @bind-Value="DataSource.SaleContract"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="8" Column="7">
                        <Template>
                                <label class="TSIModalLabel"><strong>Kaplama Müşterisi: </strong></label><br />
                            <SfSwitch @bind-Checked="DataSource.CoatingCustomer"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                      <DxGridLayoutItem Row="9" Column="1">
                        <Template>
                             <label class="TSIModalLabel"><strong>Artı Yüzde Oran: </strong></label>
                            <SfNumericTextBox  Placeholder="Artı Yüzde Oranı Yazınız" @bind-Value="DataSource.PlusPercentage"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="9" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>Tedarikçi: </strong></label><br />
                            <SfSwitch @bind-Checked="@DataSource.Supplier"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="9" Column="5">
                        <Template>
                            <label class="TSIModalLabel"><strong>Fason Tedarikçi: </strong></label><br />
                            <SfSwitch @bind-Checked="@DataSource.ContractSupplier"></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="9" Column="7">
                        <Template>
                            <label class="TSIModalLabel"><strong>Para Birimi: </strong></label><br />
                             <SfComboBox @ref="CurrenciesComboBox"
                                    TValue="string"
                                    TItem="ListCurrenciesDto"
                                    Placeholder="Para Birimi Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.Currency"
                                    DataSource="@CurrenciesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListCurrenciesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Para Birimi Kodu</th>
                                                <th class="e-text-center">Para Birimi Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListCurrenciesDto"
                                            Filtering="CurrencyFiltering"
                                            ValueChange="CurrencyValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="10" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Sevkiyat Adresi: </strong></label><br />
                             <SfComboBox @ref="ShippingAdressesComboBox"
                                    TValue="string"
                                    TItem="ListShippingAdressesDto"
                                    Placeholder="Sevkiyat Adresi Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.ShippingAddress"
                                    DataSource="@ShippingAdressesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                <ComboBoxTemplates TItem="ListShippingAdressesDto">
                                    <HeaderTemplate>
                                        <table>
                                            <tr>
                                                <th class="e-text-center">Sevkiyat Adresi Kodu</th>
                                                <th class="e-text-center">Sevkiyat Adresi Adı</th>
                                            </tr>
                                        </table>
                                    </HeaderTemplate>
                                    <ItemTemplate Context="cmbContext">

                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="e-text-center">@((cmbContext as ListShippingAdressesDto).Code)</td>
                                                    <td class="e-text-center">@((cmbContext as ListShippingAdressesDto).Name)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ItemTemplate>
                                </ComboBoxTemplates>

                                <ComboBoxEvents TValue="string"
                                            TItem="ListShippingAdressesDto"
                                            Filtering="ShippingAdressFiltering"
                                            ValueChange="ShippingAdressValueChangeHandler"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}


