@page "/current-account-cards"
@layout MainLayout

@using Syncfusion.Blazor.Buttons

@using TsiErp.Business.Entities.CurrentAccountCard.Services
@using TsiErp.Entities.Entities.CurrentAccountCard
@using TsiErp.Entities.Entities.CurrentAccountCard.Dtos
@using TsiErp.Entities.Entities.Currency.Dtos
@using TsiErp.Business.Entities.Currency.Services
@using TsiErp.Entities.Entities.ShippingAdress.Dtos
@using TsiErp.Business.Entities.ShippingAdress.Services
@using TsiErp.ErpUI.Pages.Base


@inherits BaseListPage<SelectCurrentAccountCardsDto, ListCurrentAccountCardsDto, CreateCurrentAccountCardsDto, UpdateCurrentAccountCardsDto, ListCurrentAccountCardsParameterDto>

@inject ICurrentAccountCardsAppService CurrentAccountCardsService
@inject ICurrenciesAppService CurrenciesAppService
@inject IShippingAdressesAppService ShippingAdressesAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Finans Yönetimi > Ana Kayıtlar" CurrentMenu="Cari Hesap Kartları" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid"   AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                <SfToolbar>
                                    <ToolbarItems>
                                        <ToolbarItem Type="ItemType.Button">
                                            <Template>

                                                <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("ExcelExport", "Cari Hesaplar", "CariHesaplar"))"><img class="TSIExcelIcon" src="/images/excelicon.png" /></SfButton>
                                            </Template>
                                        </ToolbarItem>

                                        <ToolbarItem Type="ItemType.Button">
                                            <Template>

                                                <SfButton CssClass="TSIExcelButton" OnClick="@(()=>OnToolbarClicked("PDFExport", "Cari Hesaplar", "CariHesaplar"))"><img class="TSIPdfIcon" src="/images/pdficon.png" /></SfButton>
                                            </Template>
                                        </ToolbarItem>

                                    </ToolbarItems>
                                </SfToolbar>
                                <GridEvents   ContextMenuItemClicked="@OnContextMenuClick" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="CARİ KOD" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="CARİ ÜNVAN" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Tel1) HeaderText="TELEFON (1)" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Responsible) HeaderText="İLGİLİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Email) HeaderText="E-POSTA" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.TaxNumber) HeaderText="VERGİ NUMARASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Cari Hesap Kartları"
         Width="72%"
         Height="60%"
         MinWidth="1380px"
         MinHeight="650px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="17%" />
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="60%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="22%" />
                    <DxGridLayoutColumn Width="7%" />
                    <DxGridLayoutColumn Width="65%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Cari Kod: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Cari Kodu Yazınız." @bind-Value="DataSource.Code"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Cari Ünvan: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" Placeholder="Cari Ünvanı Yazınız." @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="2">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="@DataSource.IsActive"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                        <Template>
                            <SfTab>
                                <TabItems>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Genel Bilgiler"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="35%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="20%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Tedarikçi Numarası: </strong></label><br />
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Tedarikçi Numarasını Yazınız." @bind-Value="DataSource.SupplierNo"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Artı Yüzde Oran: </strong></label>
                                                            <SfNumericTextBox Min="0" Placeholder="Artı Yüzde Oranı Yazınız" @bind-Value="DataSource.PlusPercentage"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Tür: </strong></label>
                                                            <SfNumericTextBox Min="0" Placeholder="Türü Yazınız." @bind-Value="DataSource.Type"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Sorumlu: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Sorumluyu Yazınız." @bind-Value="DataSource.Responsible"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>E-Posta: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="E-postayı Yazınız." @bind-Value="DataSource.Email"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Web: </strong></label>
                                                            <SfTextBox Placeholder="Web Adresi Yazınız." @bind-Value="DataSource.Web"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong> Özel Kod 1: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız." @bind-Value="DataSource.PrivateCode1"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Özel Kod 2: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode2"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Özel Kod 3: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode3"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Özel Kod 4: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode4"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Özel Kod 5: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Özel Kodu Yazınız" @bind-Value="DataSource.PrivateCode5"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Para Birimi: </strong></label><br />
                                                            <SfTextBox @ref="@CurrenciesButtonEdit" Created="@CurrenciesOnCreateIcon" @bind-Value="DataSource.Currency" ShowClearButton=true ValueChange="CurrenciesOnValueChange"></SfTextBox>

                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>
                                                            <center>
                                                            <label class="TSIModalLabel"><strong>Kaplama Müşterisi: </strong></label><br />
                                                            <SfSwitch @bind-Checked="DataSource.CoatingCustomer"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="2">
                                                        <Template>
                                                            <center>
                                                            <label class="TSIModalLabel"><strong>Tedarikçi: </strong></label><br />
                                                            <SfSwitch @bind-Checked="@DataSource.Supplier"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="4">
                                                        <Template>
                                                            <center>
                                                            <label class="TSIModalLabel"><strong>Fason Tedarikçi: </strong></label><br />
                                                            <SfSwitch @bind-Checked="@DataSource.ContractSupplier"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="6">
                                                        <Template>
                                                           
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="0">
                                                        <Template>
                                                            @* <label class="TSIModalLabel"><strong>Satış Sözleşmesi: </strong></label>
                                                        <SfTextBox CssClass="TSITxtBox" Placeholder="Satış Sözleşmesini Yazınız" @bind-Value="DataSource.SaleContract"></SfTextBox>*@
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>

                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Adres Bilgileri"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="50%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Adres 1: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Multiline=true Placeholder="Adresi Yazınız." @bind-Value="DataSource.Address1"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Adres 2: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Multiline=true Placeholder="Adresi Yazınız." @bind-Value="DataSource.Address2"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Ülke: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Ülkeyi Yazınız." @bind-Value="DataSource.Country"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>İl: </strong></label>
                                                            <SfTextBox Placeholder="İli Yazınız." @bind-Value="DataSource.City"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>İlçe: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="İlçeyi Yazınız." @bind-Value="DataSource.District"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Posta Kodu: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Posta Kodunu Yazınız." @bind-Value="DataSource.PostCode"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Tel 1: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Telefon Numarasını Yazınız." @bind-Value="DataSource.Tel1"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Tel 2: </strong></label>
                                                            <SfTextBox Placeholder="Telefon Numarasını Yazınız." @bind-Value="DataSource.Tel2"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Fax: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Fax Numarasını Yazınız." @bind-Value="DataSource.Fax"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>

                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Ticari Bilgiler"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="20%" />
                                                    <DxGridLayoutColumn Width="80%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>TC Kimlik Numarası: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="TC Kimlik Numarasını Yazınız" @bind-Value="DataSource.IDnumber"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Vergi Dairesi: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Vergi Dairesini Yazınız" @bind-Value="DataSource.TaxAdministration"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Vergi Numarası: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" Placeholder="Vergi Numarasını Yazınız" @bind-Value="DataSource.TaxNumber"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>
                                                            <center>
                                                            <label class="TSIModalLabel"><strong>Şahıs Şirketi: </strong></label><br />
                                                            <SfSwitch @bind-Checked="@DataSource.SoleProprietorship"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>
                                            </DxGridLayout>

                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}


@if (SelectCurrencyPopupVisible)
{
    <DxPopup @bind-Visible="SelectCurrencyPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Para Birimleri"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="CurrenciesGrid" DataSource="@CurrenciesList" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@CurrenciesDoubleClickHandler" TValue="ListCurrenciesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListCurrenciesDto.Code) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrenciesDto.Name) HeaderText="PARA BİRİMİ ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
            @*<SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>*@
        </FooterContentTemplate>
    </DxPopup>
}