@page "/calendars"
@layout MainLayout



@inherits BaseListPage<SelectCalendarsDto, ListCalendarsDto, CreateCalendarsDto, UpdateCalendarsDto, ListCalendarsParameterDto>
@inject IStringLocalizer<CalendarsResource> L


@inject ICalendarsAppService CalendarsService
@inject IStationsAppService StationsAppService
@inject IStationGroupsAppService StationGroupsAppService
@inject IShiftsAppService ShiftsAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Planlama > Çalışma Takvimi" CurrentMenu="Çalışma Takvimi" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@MainGridContextMenu" Toolbar=@GridToolbarItems>
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                                            <GridEvents ContextMenuItemClicked="@MainContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListCalendarsDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListCalendarsDto.Code) HeaderText="TAKVİM KODU" TextAlign="TextAlign.Center" Width="120">
                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListCalendarsDto.Name) HeaderText="TAKVİM ADI" TextAlign="TextAlign.Center" Width="120">

                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListCalendarsDto.Year) HeaderText="YIL" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListCalendarsDto.IsPlanned) HeaderText="PLANLI" DisplayAsCheckBox=true TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        <GridColumn Field=@nameof(ListCalendarsDto._Description) HeaderText="AÇIKLAMA" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>

        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Çalışma Takvimi Kayıtları"
         Width="720px"
         Height="880px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>
                <DxGridLayout>
                    <Rows>
                        <DxGridLayoutRow Height="100px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="140px" />
                        <DxGridLayoutRow Height="60px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="270px" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Takvim Kodu: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Takvim Kodu Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Takvim Adı: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Takvim Adı Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Takvim Yılı: </strong></label>
                                <SfComboBox @ref="Years"
                                    TValue="int"
                                    TItem="int"
                                    Placeholder="Yıl Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.Year"
                                    DataSource="@YearList"
                                    AllowFiltering="true"
                                    PopupWidth="300px"
                                    PopupHeight="350">

                                    <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="int">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Takvim Yılı</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@(cmbContext)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>
                                    <ComboBoxEvents TValue="int"
                                            TItem="int"
                                            ValueChange="YearValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Planlı: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsPlanned"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Açıklama: </strong></label><br />
                                <SfTextBox CssClass="TSIMemoBox100" @bind-Value="DataSource._Description" Placeholder="Takvim Açıklaması Yazınız." Multiline="true"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Resmi Tatil Günü: </strong></label><br />
                                <SfDatePicker @bind-Value="officialHoliday"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <br />
                                <SfButton CssClass="TSISaveButton" OnClick="AddOfficialHoliday"><SfIcon Size="IconSize.Medium" Name="IconName.CommentAdd"></SfIcon>&nbsp;Ekle</SfButton>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="5" Column="1" ColumnSpan="3">
                            <Template>
                                <SfGrid @ref=_daysGrid ID="DayGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@GridDaysList" AllowPaging="false" AllowFiltering="false" AllowReordering="true" AllowResizing="true" AllowGrouping="false" AllowExcelExport="false" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@DayGridContextMenu">
                                    <GridEvents ContextMenuItemClicked="@OnDayContextMenuClick" TValue="SelectCalendarDaysDto"></GridEvents>
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(SelectCalendarDaysDto.Date_) Format="dd-MM-yyyy" HeaderText="TARİH" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(SelectCalendarDaysDto.CalendarDayStateEnum) Type="ColumnType.String" Context="daycontext" HeaderText="DURUM" TextAlign="TextAlign.Center" Width="120">
                                            <Template>
                                                @{
                                                    string state = string.Empty;
                                                    int dayStateEnum = (daycontext as SelectCalendarDaysDto).CalendarDayStateEnum;

                                                    switch (dayStateEnum)
                                                    {
                                                        case 1: { state = "Çalışma Var"; break; }
                                                        case 2: { state = "Çalışma Yok"; break; }
                                                        case 3: { state = "Resmi Tatil"; break; }
                                                        case 4: { state = "Tatil"; break; }
                                                        case 5: { state = "Yarım Gün"; break; }
                                                        case 6: { state = "Yükleme Günü"; break; }
                                                        case 7: { state = "Bakım"; break; }
                                                        default: break;
                                                    }
                                            }
                                            @state
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

        <DxPopup @bind-Visible="schedularVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Çalışma Takvimi"
         Width="90%"
         Height="85%"
         Scrollable="true"
         HeaderCssClass="HeaderTitleCss" Context="contextPopup">
            <BodyTemplate>
                <table>
                    <th style="width:75%">
                        <SfSchedule @ref="ScheduleObj" AllowMultiCellSelection="true" TValue="AppointmentData" @bind-SelectedDate="@CurrentDate" Width="100%" Height="650px">

                            <ScheduleResources>
                                <ScheduleResource TItem="ResourceData" TValue="int[]" DataSource="@ResourceList" Field="ResourceId" Title="Owner" Name="Owners" TextField="OwnerText" IdField="Id" ColorField="Color" AllowMultiple="true"></ScheduleResource>
                            </ScheduleResources>
                            <ScheduleEvents TValue="AppointmentData"  OnCellClick="OnCellClick"> </ScheduleEvents>
                            <ScheduleEventSettings DataSource="@DataSourceEvent">
                            </ScheduleEventSettings>

                            <ScheduleViews>
                                <ScheduleView Option="View.Year" FirstDayOfWeek="1"  ShowWeekNumber=true></ScheduleView>
                            </ScheduleViews>
                            <ScheduleTemplates Context="context">

                                <CellHeaderTemplate>

                                    @{

                                        DateTime currentDate = (context as TemplateContext).Date;

                                        var a = SchedularDaysList.Where(t => t.Date_ == currentDate).Select(t => t.CalendarDayStateEnum).FirstOrDefault();

                                        switch(a)
                                        {
                                            case 1:{
                                                    <span class="e-day" style="background-color:#00ff14">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 2:{
                                                    <span class="e-day" style="background-color:#ff0000">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 3:{
                                                    <span class="e-day" style="background-color:#6c757d">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 4:{
                                                    <span class="e-day" style="background-color:#b75050ed">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 5:{
                                                    <span class="e-day" style="background-color:#0089ff">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 6:{
                                                    <span class="e-day" style="background-color:#ffeb00">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                case 7:{
                                                    <span class="e-day" style="background-color:#ff8d00">@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                    break;
                                                }
                                                default:
                                                <span class="e-day" >@currentDate.Day.ToString(CultureInfo.CurrentCulture)</span>
                                                break;
                                        }

                                        

                                    }

                                </CellHeaderTemplate>


                            </ScheduleTemplates>
                        </SfSchedule>

                       

                    </th>
                    <th style="width:25%">
                        <table id='property' class='property-panel-table' style="width: 100%;">
                            <tbody>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcTumu" TChecked="bool" @bind-Checked="@chcTumu" ValueChange="@(()=>customChange("chcTumu"))"></SfSwitch><label for="chcTumu" style="padding-left:5%;"> Tümü</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcCalismaVar" TChecked="bool" @bind-Checked="@chcCalismaVar" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcCalismaVar" style="padding-left:5%; color:#00ff14;"> Çalışma Var</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcCalismaYok" TChecked="bool" @bind-Checked="@chcCalismaYok" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcCalismaYok" style="padding-left:5%; color:#ff0000;"> Çalışma Yok</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcResmiTatil" TChecked="bool" @bind-Checked="@chcResmiTatil" ValueChange="@(()=>customChange("chcDiger"))">Resmi tatil</SfSwitch><label for="chcResmiTatil" style="padding-left:5%; color:#6c757d;"> Resmi Tatil</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcTatil" TChecked="bool" @bind-Checked="@chcTatil" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcTatil" style="padding-left:5%; color:#b75050ed;"> Tatil</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcYarimGun" TChecked="bool" @bind-Checked="@chcYarimGun" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcYarimGun" style="padding-left:5%; color:#0089ff;"> Yarım Gün</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcYuklemeGunu" TChecked="bool" @bind-Checked="@chcYuklemeGunu" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcYuklemeGunu" style="padding-left:5%; color:#ffeb00;">Yükleme Günü</label>
                                    </td>
                                </tr>
                                <tr style="height: 50px">
                                    <td style="width: 14%; text-align:left; padding-left:5%; ">
                                        <SfSwitch id="chcBakim" TChecked="bool" @bind-Checked="@chcBakim" ValueChange="@(()=>customChange("chcDiger"))"></SfSwitch><label for="chcBakim" style="padding-left:5%; color:#ff8d00;"> Bakım</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </table>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSICancelButton" OnClick="HideScheduleEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

        <DxPopup Visible="StationsModalVisible"
         ShowFooter="true"
         CloseButtonClick="HideStationsModal"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="İş İstasyonları"
         Width="1600px"
         Height="fit-content"
         CssClass="TSIWorkSchduleModal"
         HeaderCssClass="HeaderTitleCss">

            <BodyTemplate>

                <table style="margin-top:2%">
                    <tr style="height:80%">
                        <td style="font-size:16px;padding-left:2%; width:20%"><strong>Tarih :</strong> @selectedDate</td>
                        <td style="width:80%">

                            @if (SelectedStations.Count != 0)
                            {
                                <div class="TSI_Paper">
                                    @foreach (var item in SelectedStations)
                                    {
                                        <div class="TSI_Chip" onclick="@(()=>Remove(item))">@item.Code<SfIcon Size="IconSize.Medium" Name="IconName.Trash"></SfIcon></div>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                    <tr style="height:20%">

                        <td style="width:50%">
                          <SfCheckBox Label="Tüm İstasyonları Ekle"  @onchange="OnAddAllStationsChange" @bind-Checked="isAllStationsChecked"></SfCheckBox>
                        </td>

                        <td style="width:50%">

                            <SfButton CssClass="TSISaveButton" OnClick="ShowLineModal"><SfIcon Size="IconSize.Medium" Name="IconName.Check"></SfIcon>&nbsp;Seçilen İstasyonları Planla</SfButton>

                        </td>


                    </tr>
                </table>
                <div class="control-section col-lg-11 card-control-section tile_layout" style="padding-left: 10%;">
                    <div class="row e-card-layout">
                        @foreach (var stationgroupname in StationGroupNameList)
                        {

                            <div class="col-lg-2 col-md-2 col-sm-4"  style="padding: 10px;text-align:left;  width: 31%;">
                               <center> <label class="TSIScheduleModalLabel">@stationgroupname</label></center>
                                <SfCard class="TSIWorkSchduleModalStationsCard">
                                    <CardContent>

                                        @{

                                            var tempStationList = StationsList.Where(t => t.StationGroup == stationgroupname).ToList();

                                            <div class="row" style="padding-top:10px;    padding-left: 5%;">
                                                <center>
                                                    <div class="control-section col-lg-11 card-control-section tile_layout">
                                                        <div class="row e-card-layout">
                                                            @if (StationsList != null)
                                                            {

                                                                @foreach (var item in tempStationList)
                                                                {
                                                                    int stawork = StationWorkStatusList.Where(t=>t.Date_ == selectedDate && t.StationID == item.Id).Select(t=>t.WorkStatus).FirstOrDefault();
                                                                    switch(stawork)
                                                                    {
                                                                        case 1:
                                                                          <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:#00ff14">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                        break;
                                                                        case 2:
                                                                         <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:#ff0000">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                        break;
                                                                        case 3:
                                                                         <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:#00ff14">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                        break;
                                                                        case 4:
                                                                         <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:#00ff14">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                        break;
                                                                        case 5:
                                                                         <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:#00ff14">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                        break;
                                                                        default:
                                                                         <div class="col-lg-2 col-md-2 col-sm-4" onclick="@(()=>OnSelectStation(item))" style="padding: 10px;text-align:left;  width: 31%;">
                                                                        <div id="card_sample_1" class="card_sample">
                                                                            <SfCard CssClass="TSIStationCards">
                                                                                <div style="background-color:white">
                                                                                    <br>
                                                                                    <center> <CardHeader Title="@item.Code" /></center>
                                                                                    <CardContent>
                                                                                        <ChildContent>
                                                                                        </ChildContent>
                                                                                    </CardContent>

                                                                                    <CardFooter>
                                                                                    </CardFooter>
                                                                                </div>
                                                                            </SfCard>


                                                                        </div>
                                                                    </div>
                                                                            break;
                                                                    }
                                                                  

                                                                }
                                                            }



                                                        </div>
                                                    </div>
                                                </center>
                                            </div>
                                            <br />
                                        }

                                        <br />



                                    </CardContent>
                                    <CardFooter>
                                    <text class="TSISelectAllStationsCalendar" @onclick="@(()=>OnSelectAllStationsChange(stationgroupname))">Hepsini Seç</text>

                                    </CardFooter>
                                </SfCard>
                            </div>
                        }
                    </div>
                </div>
                

            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSICancelButton" OnClick="HideStationsModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

        <DxPopup Visible="LineModalVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         HeaderText="İş İstasyonu Vardiya Bilgileri"
         Width="89%"
         Height="74%"
         MinWidth="1750px"
         MinHeight="800px"
         HeaderCssClass="HeaderTitleCss">

            <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="11%" />
                    <DxGridLayoutRow Height="13%" />
                    <DxGridLayoutRow Height="70%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="15%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="15%" />
                    <DxGridLayoutColumn Width="61%" />
                    <DxGridLayoutColumn Width="3%" />

                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Başlangıç Tarihi: </strong></label>
                            <SfTextBox  @bind-Value="@selectedDateStr" Enabled=false></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                           <label class="TSIModalLabel"><strong>Planlanan Takvim: </strong></label>
                    <br />
                            <SfSwitch @bind-Checked="DataSource.IsPlanned" Disabled=true  ></SfSwitch>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                             <label class="TSIModalLabel"><strong>Bitiş Tarihi: </strong></label>
                            <SfTextBox  @bind-Value="@selectedDateStr" Enabled=false></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                             <label class="TSIModalLabel"><strong>Çalışma Durumu: </strong></label>
                            <SfComboBox  TValue="string" TItem="WorkStates" Placeholder="Çalışma durumu seçin." DataSource="@WorkStatesData">
                             <ComboBoxEvents TItem="WorkStates" TValue="string" ValueChange="@WorkStatesValueChangeHandler"></ComboBoxEvents>
    <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
</SfComboBox>

                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="2" Column="1" ColumnSpan="4">
                        <Template>
                            
                                <SfGrid ID="LineGrid" @ref=_LineGrid DataSource="@LineGridList" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@LineGridContextMenu">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false"></GridEditSettings>
                                    <GridEvents ContextMenuItemClicked="@OnLineContextMenuClick" TValue="SelectCalendarLinesDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                    <GridColumns>

                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.StationCode) HeaderText="İSTASYON KODU" TextAlign="TextAlign.Center" Width="140">
                                        </GridColumn>

                                         <GridColumn Field=@nameof(SelectCalendarLinesDto.StationName) HeaderText="İSTASYON ADI" TextAlign="TextAlign.Center" Width="140">
                                        </GridColumn>

                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.ShiftName) Type="ColumnType.Number" HeaderText="VARDİYA ADI" TextAlign="TextAlign.Center" Width="100"></GridColumn>
                                        
                                        <GridColumn Context="lineContext" Field=@nameof(SelectCalendarLinesDto.WorkStatus) Type="ColumnType.Number" HeaderText="ÇALIŞMA DURUMU" TextAlign="TextAlign.Center" Width="150">
                                        <Template>
                                         
                                        @{
                                            if(lineContext != null){
                                              int status = (lineContext as SelectCalendarLinesDto).WorkStatus;
                                             switch(status)
                                             {
                                                 case 1: workStatus = "Çalışma Var";break;
                                                 case 2: workStatus = "Çalışma Yok";break;
                                                 case 3: workStatus = "Üretim Kısıtı";break;
                                                 case 4: workStatus = "Operatör Kısıtı";break;
                                                 case 5: workStatus = "Arızi Kısıt";break;
                                                 default:break;
                                             }
                                            }
                                           
                                        }
                                        @workStatus
</Template>
                                        </GridColumn>

                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.ShiftTime) Type="ColumnType.Number" HeaderText="VARDİYA SÜRESİ" TextAlign="TextAlign.Center" Width="140">

                                        </GridColumn>
                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.ShiftOverTime) Type="ColumnType.Number" HeaderText="FAZLA MESAİ SÜRESİ" TextAlign="TextAlign.Center" Width="180"></GridColumn>

                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.PlannedHaltTimes) Type="ColumnType.Number" HeaderText="PLANLI DURUŞ SÜRESİ" TextAlign="TextAlign.Center" Width="180"></GridColumn>
                                        
                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.Date_) Type="ColumnType.Number" HeaderText="TARİH" TextAlign="TextAlign.Center" Width="80"></GridColumn>
                                        
                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.AvailableTime) Type="ColumnType.Number" HeaderText="ÇALIŞILABİLİR SÜRE"  TextAlign="TextAlign.Center" Width="170"></GridColumn>

                                        <GridColumn Field=@nameof(SelectCalendarLinesDto.PlannedMaintenanceTime) Type="ColumnType.Number" HeaderText="PLANLI BAKIM SÜRESİ"  TextAlign="TextAlign.Center" Width="170"></GridColumn>

                                         <GridColumn Field=@nameof(SelectCalendarLinesDto.MaintenanceType) HeaderText="BAKIM TÜRÜ" TextAlign="TextAlign.Center" Width="140">
                                        </GridColumn>
                                    </GridColumns>
                                </SfGrid>

                        </Template>
                    </DxGridLayoutItem>

                    

                </Items>
            </DxGridLayout>

                        

            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="LineModalSave"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideLineModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

        <DxPopup Visible="lineWorkStatusVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         ShowCloseButton="false"
         HeaderText="İş İstasyonu Vardiya Bilgileri"
         Width="22%"
         Height="23%"
         MinWidth="380px"
         MinHeight="250px"
         HeaderCssClass="HeaderTitleCss">

            <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="80%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="11%" />
                    <DxGridLayoutColumn Width="78%" />
                    <DxGridLayoutColumn Width="11%" />

                </Columns>

                <Items>
                    <br />
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                        <br/>
                            <label class="TSIModalLabel"><strong>Çalışma Durumu: </strong></label>
                             <SfComboBox  TValue="string" TItem="WorkStates" Placeholder="Çalışma durumu seçin." DataSource="@WorkStatesData">
                             <ComboBoxEvents TItem="WorkStates" TValue="string" ValueChange="@LineEditModalWorkStatesValueChangeHandler"></ComboBoxEvents>
    <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings></SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>

                        

            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="LineEditModalSave"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideLineEditModal"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

        <style>
                 .e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-other-month {
                     visibility: hidden !important;
                 }

                 .e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-header .e-title {
                     cursor: default !important;
                     background-color: white !important;
                 }

                 .e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-appointment, .e-schedule .e-year-view .e-calendar-wrapper .e-month-calendar.e-calendar .e-appointment-indicator {
                     visibility: hidden;
                 }

            @*.e-schedule .e-year-view .calismaVar {
        background: green !important;
    }

    .e-schedule .e-year-view .calismaYok {
        background: red !important;
    }

    .e-schedule .e-year-view .resmiTatil {
        background: yellow !important;
    }*@

        </style>
    }
}

