@page "/current-account-cards"
@layout MainLayout


@inherits BaseListPage<SelectCurrentAccountCardsDto, ListCurrentAccountCardsDto, CreateCurrentAccountCardsDto, UpdateCurrentAccountCardsDto, ListCurrentAccountCardsParameterDto>

@inject ICurrentAccountCardsAppService CurrentAccountCardsService
@inject ICurrenciesAppService CurrenciesAppService
@inject IShippingAdressesAppService ShippingAdressesAppService
@inject IStringLocalizer<CurrentAccountCardsResource> L
@inject IFicheNumbersAppService FicheNumbersAppService


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListCurrentAccountCardsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Code) HeaderText="@L["Code"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Name) HeaderText="@L["Name"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.CustomerCode) HeaderText="@L["CustomerCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Tel1) HeaderText="@L["Tel1"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Responsible) HeaderText="@L["Responsible"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.Email) HeaderText="@L["Email"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.TaxNumber) HeaderText="@L["TaxNumber"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListCurrentAccountCardsDto.IsSoftwareCompanyInformation) DisplayAsCheckBox="true" HeaderText="@L["IsSoftwareCompanyInformation"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>

                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="72%"
             Height="60%"
             MinWidth="1380px"
             MinHeight="650px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="17%" />
                    <DxGridLayoutRow Height="14%" />
                    <DxGridLayoutRow Height="60%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="22%" />
                    <DxGridLayoutColumn Width="7%" />
                    <DxGridLayoutColumn Width="65%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                      <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br /><center>
                            <label class="TSIModalLabel"><strong>@L["IsSoftwareCompanyInformationLabel"] </strong></label>
                            <SfSwitch @bind-Checked="DataSource.IsSoftwareCompanyInformation"></SfSwitch></center>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1" ColumnSpan="2">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>@L["IsActiveLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="@DataSource.IsActive"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>


                    <DxGridLayoutItem Row="2" Column="1" ColumnSpan="3">
                        <Template>
                            <SfTab>
                                <TabItems>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab1Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="35%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="20%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["SupplierNoLabel"] </strong></label><br />
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.SupplierNo"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["PlusPercentageLabel"] </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.PlusPercentage"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["TypeLabel"] </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.Type_"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["ResponsibleLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Responsible"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["EmailLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Email"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["WebLabel"] </strong></label>
                                                            <SfTextBox @bind-Value="DataSource.Web"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["PrivateCode1Label"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PrivateCode1"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["PrivateCode2Label"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PrivateCode2"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["PrivateCode3Label"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PrivateCode3"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["PrivateCode4Label"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PrivateCode4"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["PrivateCode5Label"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PrivateCode5"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["CurrencyLabel"] </strong></label><br />
                                                            <SfTextBox @ref="@CurrenciesButtonEdit" Created="@CurrenciesOnCreateIcon" @bind-Value="DataSource.Currency" ShowClearButton=true ValueChange="CurrenciesOnValueChange"></SfTextBox>

                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>
                                                            <center>
                                                                <label class="TSIModalLabel"><strong>@L["CoatingCustomerLabel"] </strong></label><br />
                                                                <SfSwitch @bind-Checked="DataSource.CoatingCustomer"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="2">
                                                        <Template>
                                                            <center>
                                                                <label class="TSIModalLabel"><strong>@L["SupplierLabel"] </strong></label><br />
                                                                <SfSwitch @bind-Checked="@DataSource.Supplier"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                     <DxGridLayoutItem Row="3" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["CustomerCodeLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.CustomerCode"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>



                                                    <DxGridLayoutItem Row="3" Column="6">
                                                        <Template>

                                                            <label class="TSIModalLabel"><strong>@L["EORINrLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.EORINr"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="0">
                                                        <Template>
                                                            @* <label class="TSIModalLabel"><strong>Satış Sözleşmesi: </strong></label>
                                                        <SfTextBox CssClass="TSITxtBox" Placeholder="Satış Sözleşmesini Yazınız" @bind-Value="DataSource.SaleContract"></SfTextBox>*@
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>

                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab2Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="50%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>@L["Address1Label"] </strong></label>
                                                                <SfTextBox CssClass="TSITxtBox" Multiline=true @bind-Value="DataSource.Address1"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>@L["Address2Label"] </strong></label>
                                                                <SfTextBox CssClass="TSITxtBox" Multiline=true @bind-Value="DataSource.Address2"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>@L["CountryLabel"] </strong></label>
                                                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Country"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>@L["CityLabel"] </strong></label>
                                                                <SfTextBox @bind-Value="DataSource.City"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <label class="TSIModalLabel"><strong>@L["DistrictLabel"] </strong></label>
                                                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.District"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <form autocomplete=false>
                                                                <label class="TSIModalLabel"><strong>@L["PostCodeLabel"] </strong></label>
                                                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.PostCode"></SfTextBox>
                                                            </form>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["Tel1Label"] </strong></label>
                                                            <SfMaskedTextBox CssClass="TSITxtBox" Mask="0(000)-000-0000" @bind-Value="@DataSource.Tel1"></SfMaskedTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["Tel2Label"] </strong></label>
                                                            <SfMaskedTextBox CssClass="TSITxtBox" Mask="0(000)-000-0000" @bind-Value="@DataSource.Tel2"></SfMaskedTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["FaxLabel"] </strong></label>
                                                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Fax"></SfTextBox> *@
                                                            <SfMaskedTextBox CssClass="TSITxtBox" Mask="0(000)-000-0000" @bind-Value="@DataSource.Fax"></SfMaskedTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>

                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab3Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="30%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="20%" />
                                                    <DxGridLayoutColumn Width="80%" />
                                                </Columns>

                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["IDnumberLabel"] </strong></label>
                                                            @*<SfTextBox CssClass="TSITxtBox"  @bind-Value="DataSource.IDnumber"></SfTextBox>*@

                                                            <SfMaskedTextBox CssClass="TSITxtBox" Mask="00000000000" @bind-Value="DataSource.IDnumber"></SfMaskedTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["TaxAdministrationLabel"]</strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.TaxAdministration"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["TaxNumberLabel"] </strong></label>
                                                            @*<SfTextBox CssClass="TSITxtBox"  @bind-Value="DataSource.TaxNumber"></SfTextBox>*@

                                                            <SfMaskedTextBox CssClass="TSITxtBox" Mask="0000000000" @bind-Value="DataSource.TaxNumber"></SfMaskedTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>
                                                            <center>
                                                                <label class="TSIModalLabel"><strong>@L["SoleProprietorshipLabel"] </strong></label><br />
                                                                <SfSwitch @bind-Checked="@DataSource.SoleProprietorship"></SfSwitch>
                                                            </center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>
                                            </DxGridLayout>

                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab4Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="45%" />
                                                    <DxGridLayoutRow Height="40%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="20%" />
                                                    <DxGridLayoutColumn Width="80%" />
                                                </Columns>

                                                <Items>
                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["ContractSupplierLabel"] </strong></label><br />
                                                            <SfSwitch @bind-Checked="@DataSource.ContractSupplier"></SfSwitch>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["ContractDailyWorkingCapacityLabel"] </strong></label>
                                                            <br />
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.ContractDailyWorkingCapacity"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["NumberOfStationsLabel"] </strong></label>
                                                            <SfNumericTextBox Min="0" @bind-Value="DataSource.NumberOfStations"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>
                                                </Items>
                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>
                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>


                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}


@if (SelectCurrencyPopupVisible)
{
    <DxPopup @bind-Visible="SelectCurrencyPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["CurrencyPopupTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="CurrenciesGrid" DataSource="@CurrenciesList" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@CurrenciesDoubleClickHandler" TValue="ListCurrenciesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListCurrenciesDto.Code) HeaderText="@L["CurrencyPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListCurrenciesDto.Name) HeaderText="@L["CurrencyPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
            @*<SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>*@
        </FooterContentTemplate>
    </DxPopup>
}