@page "/maintenance-material-purchase-trackings"
@layout MainLayout


@inject IStringLocalizer<MaintenanceMaterialPurchaseTrackingsResource> L
@inject IProductsAppService ProductsAppService
@inject IPurchaseOrdersAppService PurchaseOrdersAppService
@inject IMRPsAppService MRPsAppService

<DevGridLayoutFilterRow ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
    <GridLayoutItems>
        <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIListPageTitleCard">
                    <CardContent>
                        <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>

         <DxGridLayoutItem Row="1" Column="0" ColumnSpan="1" >
            <Template>
              <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="48%" />
                    <DxGridLayoutRow Height="48%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="28%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>
                <Items>
                     
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["FilterStartDateLabel"] </strong></label>
                            <SfDatePicker @bind-Value="FilterStartDate" ></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template> 
                            <label class="TSIModalLabel"><strong>@L["FilterEndDateLabel"] </strong></label>
                            <SfDatePicker @bind-Value="FilterEndDate" ></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                           <label class="TSIModalLabel"><strong>@L["ProductCodeLabel"] </strong></label><br />
                            <SfTextBox @ref="@ProductsCodeButtonEdit" Created="@ProductsCodeOnCreateIcon" @bind-Value="productCode" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>@L["ProductNameLabel"] </strong></label><br />
                            <SfTextBox @ref="@ProductsNameButtonEdit" Created="@ProductsNameOnCreateIcon" @bind-Value="productName" ShowClearButton=true ValueChange="ProductsOnValueChange"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="5">
                        <Template><br />
                                <label class="TSIModalLabel"><strong>@L["SupplyStatusComboBoxLabel"] </strong></label>
                                <SfComboBox AllowCustom="false" TValue="string" TItem="SupplyStatusComboBox" DataSource="@_supplyStatusComboBox">
                               <ComboBoxEvents TItem="SupplyStatusComboBox" TValue="string" ValueChange="@SupplyStatusComboBoxValueChangeHandler"></ComboBoxEvents>
                               <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                           </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="5" >
                        <Template>
                            <br />
                                <SfButton CssClass="TSISaveButton" OnClick="FilterButtonClicked"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["FilterButton"]</SfButton>
                        </Template>
                    </DxGridLayoutItem>

                  

                </Items>
            </DxGridLayout>
            </Template>
        </DxGridLayoutItem>


        <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
            <Template>
                <SfCard class="TSIGridCards">

                    <CardContent>
                        <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%" class="GridZebra"  Toolbar=@GridToolbarItems>
                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                            <GridEvents  OnToolbarClick="@ToolbarClickHandler" TValue="MaintenanceMaterialPurchaseTracking"></GridEvents>
                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                            <GridPageSettings PageSizes="true"></GridPageSettings>
                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>   
                            <GridColumns>      
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.PurchaseOrderNo) HeaderText="@L["PurchaseOrderNo"]" TextAlign="TextAlign.Center" Width="320"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.PurchaseCurrentAccountCode) HeaderText="@L["PurchaseCurrentAccountCode"]" TextAlign="TextAlign.Center" Width="240"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.PurchaseCurrentAccountName) HeaderText="@L["PurchaseCurrentAccountName"]" TextAlign="TextAlign.Center" Width="240"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.ProductCode) HeaderText="@L["ProductCode"]" TextAlign="TextAlign.Center" Width="200"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.ProductName) HeaderText="@L["ProductName"]" TextAlign="TextAlign.Center" Width="240"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.RequirementAmount) Type="ColumnType.Number" HeaderText="@L["RequirementAmount"]" TextAlign="TextAlign.Center" Width="300"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.OrderAmount) Type="ColumnType.Number" HeaderText="@L["OrderAmount"]" TextAlign="TextAlign.Center" Width="200"></GridColumn> 
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.SupplyStatus) HeaderText="@L["SupplyStatus"]" TextAlign="TextAlign.Center" Width="240"></GridColumn>
                                <GridColumn Field=@nameof(MaintenanceMaterialPurchaseTracking.SupplyDate) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="@L["SupplyDate"]" TextAlign="TextAlign.Center" Width="240"></GridColumn>
                            </GridColumns>
                        </SfGrid>
                    </CardContent>
                    <CardFooter>
                    </CardFooter>
                </SfCard>
            </Template>
        </DxGridLayoutItem>
    </GridLayoutItems>
</DevGridLayoutFilterRow>


@if (SelectProductsPopupVisible)
{
    <DxPopup @bind-Visible="SelectProductsPopupVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["ProductModalTitle"]"
             Width="64%"
             Height="44%"
             MinWidth="1220px"
             MinHeight="470px"
             HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards2">

                                <CardContent>
                                    <SfGrid ID="ProductsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ProductsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                            AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@ProductsDoubleClickHandler" TValue="ListProductsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="@L["ProductPopupGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="@L["ProductPopupGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>

                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}