@page "/admin/production-unsuitability-analysis/details/{unsuitabilityCode}/{startDate:datetime}/{endDate:datetime}/{selectedActionID:int}"
@layout AdminLayout

@inject IUretimUygunsuzlukDetayService UretimUygunsuzlukDetayService
@inject IUretimUygunsuzlukService UretimUygunsuzlukService
@inject NavigationManager NavigationManager



<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="200px">
                    <SfCheckBox @bind-Checked="isGridChecked" @onchange="OnCheckedChanged" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Detay Tablosunu Gizle</strong></label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Aksiyon:</strong></label><label class="FilterLabelTitleValue">&nbsp;@actionName</label>
                </td>
                <td width="150px">
                    <label class="FilterLabelTitle"><strong>Uygunsuzluk Adı:</strong></label><label class="FilterLabelTitleValue">&nbsp;@unsuitabilityName</label>
                </td>
                <td width="150px">
                    <label class="FilterLabelTitle"><strong>Başlangıç Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@startDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Bitiş Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@endDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="100px">
                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000; font-size:18px;text-shadow: 6px 3px 4px black; font-weight:bold" OnClick="@OnBackButtonClicked">Geri</SfButton> <SfSpinner @bind-Visible="VisibleSpinner"> </SfSpinner>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<br />

<SfCard class="Cards">
    <CardHeader>
    </CardHeader>
    <CardContent>
        <SfTab CssClass="default-tab" OverflowMode="@OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" Width="100%">
            <TabAnimationSettings>
                <TabAnimationPrevious Effect="Syncfusion.Blazor.AnimationEffect.FadeIn"></TabAnimationPrevious>
                <TabAnimationNext Effect="Syncfusion.Blazor.AnimationEffect.FadeOut"></TabAnimationNext>
            </TabAnimationSettings>
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Makinalara Göre Uygunsuzluk Analizi Detayı"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Makinalara Göre Uygunsuzluk Analizi Detay Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataunsuitabilitystation" ColumnWidth="@columnwidth1" Name="Uygunsuzluk" XName="Station" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataunsuitabilitystation" @ref="StationGrid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="ProductionUnsuitabilityDetailedStation"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedStation.Station) HeaderText="İSTASYON" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedStation.Quantity) HeaderText="UYGUNSUZLUK ADEDİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedStation.Percent) HeaderText="UYGUNSUZLUK ORANI" Format="p2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Personel Adına Göre Uygunsuzluk Analizi Detayı"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <br />
                        <br />
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Personel Adına Göre Uygunsuzluk Analizi Detay Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate90">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataunsuitabilityemployee" ColumnWidth="@columnwidth2" Name="Uygunsuzluk" XName="EmployeeName" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">
                                          
                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataunsuitabilityemployee" @ref="EmployeeGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="ProductionUnsuitabilityDetailedEmployee"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedEmployee.EmployeeName) HeaderText="PERSONEL ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedEmployee.Quantity) HeaderText="UYGUNSUZLUK ADEDİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedEmployee.Percent) HeaderText="UYGUNSUZLUK ORANI" Format="p2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Ürün Koduna Göre Uygunsuzluk Analizi Detayı"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Ürün Koduna Göre Uygunsuzluk Analizi Detay Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Wrap">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataunsuitabilityproduct" ColumnWidth="@columnwidth3" Name="Uygunsuzluk" XName="ProductCode" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataunsuitabilityproduct" @ref="ProductGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="ProductionUnsuitabilityDetailedProduct"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedProduct.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedProduct.Quantity) HeaderText="UYGUNSUZLUK ADEDİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ProductionUnsuitabilityDetailedProduct.Percent) HeaderText="UYGUNSUZLUK ORANI" Format="p2" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

@code {

    
}
