@page "/employees"
@layout MainLayout

@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Employee.Services
@using TsiErp.Entities.Entities.Employee
@using TsiErp.Entities.Entities.Employee.Dtos
@using TsiErp.ErpUI.Helpers
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Department.Dtos
@using TsiErp.Business.Entities.Department.Services
@using TsiErp.Entities.Enums

@inherits BaseListPage<SelectEmployeesDto, ListEmployeesDto, CreateEmployeesDto, UpdateEmployeesDto, ListEmployeesParameterDto>


@inject IEmployeesAppService EmployeesService
@inject IDepartmentsAppService DepartmentsAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Makine & İş Gücü Yönetimi Yönetimi > Ana Kayıtlar" CurrentMenu="Personel Kayıtları" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid" Toolbar="@ToolBarItems" AllowPdfExport=true  DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@GridContextMenu">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridEvents OnToolbarClick="ToolbarClickHandler" ContextMenuItemClicked="@OnContextMenuClick" TValue="ListEmployeesDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Code) HeaderText="PERSONEL KODU" TextAlign="TextAlign.Center" Width="120">
                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Name) HeaderText="PERSONEL ADI" TextAlign="TextAlign.Center" Width="120">
                                            <Template>
                                                @{
                                                    string name = (context as ListEmployeesDto).Name + " " + (context as ListEmployeesDto).Surname;
                                            }
                                            @name
                                        </Template>

                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListEmployeesDto.Email) HeaderText="E-POSTA" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEmployeesDto.IsActive) HeaderText="AKTİFLİK" DisplayAsCheckBox=true TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Personel Kayıtları"
         Width="40%"
         Height="69%"
         MinWidth="680px"
         MinHeight="750px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="13%" />
                        <DxGridLayoutRow Height="9%" />
                        <DxGridLayoutRow Height="11%" />
                        <DxGridLayoutRow Height="45%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="45%" />
                        <DxGridLayoutColumn Width="13%" />
                        <DxGridLayoutColumn Width="3%" />
                        <DxGridLayoutColumn Width="30%" />
                        <DxGridLayoutColumn Width="4%" />
                    </Columns>
                    <Items>

                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Personel Kodu: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Çalışan Kodu Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Personel Adı: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Çalışan Adı Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="2">
                            <Template>
                                <center>
                                     <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                     <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                                </center>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Personel Soyadı: </strong></label>
                                <SfTextBox Placeholder="Çalışan Soyadı Yazınız." @bind-Value="DataSource.Surname" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="0" Column="4" RowSpan="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Resim: </strong></label>
                                <DxImage></DxImage>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="3" Column="1" ColumnSpan="4">
                            <Template>
                                <SfTab>
                                    <TabItems>
                                        <TabItem>
                                            <ChildContent>
                                                <TabHeader Text="Genel Bilgiler"></TabHeader>
                                            </ChildContent>
                                            <ContentTemplate>

                                                <DxGridLayout CssClass="TSIGridLayout">
                                                    <Rows>
                                                        <DxGridLayoutRow Height="38%" />
                                                        <DxGridLayoutRow Height="32%" />
                                                        <DxGridLayoutRow Height="32%" />
                                                        <DxGridLayoutRow Height="32%" />
                                                    </Rows>
                                                    <Columns>
                                                        <DxGridLayoutColumn Width="30%" />
                                                        <DxGridLayoutColumn Width="5%" />
                                                        <DxGridLayoutColumn Width="30%" />
                                                        <DxGridLayoutColumn Width="5%" />
                                                        <DxGridLayoutColumn Width="30%" />
                                                    </Columns>
                                                    <Items>

                                                        <DxGridLayoutItem Row="0" Column="0">
                                                            <Template>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>Departman: </strong></label>
                                                                 <SfTextBox @ref="@DepartmentButtonEdit" Created="@DepartmentOnCreateIcon" @bind-Value="DataSource.Department" ShowClearButton=true ValueChange="DepartmentOnValueChange"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="0" Column="2">
                                                            <Template>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>TC Kimlik No: </strong></label><br />
                                                                <SfTextBox Placeholder="TC No Yazınız." @bind-Value="DataSource.IDnumber" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="0" Column="4">
                                                            <Template>
                                                                <br />
                                                                <label class="TSIModalLabel"><strong>Doğum Günü: </strong></label><br />
                                                                <SfDatePicker @bind-Value="DataSource.Birthday"></SfDatePicker>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="1" Column="0">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>Kan Grubu: </strong></label><br />
                                                                <SfDropDownList PopupHeight="230px" Placeholder="Kan Grubu Seçiniz" @bind-Value="@DataSource.BloodType" DataSource="@EnumValues">
                                                                    <DropDownListFieldSettings Text="Name" Value="Name"></DropDownListFieldSettings>
                                                                </SfDropDownList>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="1" Column="2">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>İl: </strong></label><br />
                                                                <SfTextBox Placeholder="İli Yazınız." @bind-Value="DataSource.City" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="1" Column="4">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>İlçe: </strong></label><br />
                                                                <SfTextBox Placeholder="İlçe Yazınız." @bind-Value="DataSource.District" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="2" Column="0">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>Ev Telefonu: </strong></label><br />
                                                                <SfTextBox Placeholder="Ev Telefonu Numarasını Yazınız." @bind-Value="DataSource.HomePhone" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="2" Column="2">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>Cep Telefonu: </strong></label><br />
                                                                <SfTextBox Placeholder="Cep Telefonu Numarasını Yazınız." @bind-Value="DataSource.CellPhone" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="2" Column="4">
                                                            <Template>
                                                                <label class="TSIModalLabel"><strong>E-Posta: </strong></label><br />
                                                                <SfTextBox Placeholder="E-Postayı Yazınız." @bind-Value="DataSource.Email" CssClass="TSITxtBox"></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                        <DxGridLayoutItem Row="3" Column="0" ColumnSpan="5">
                                                            <Template>

                                                                <label class="TSIModalLabel"><strong>Adres: </strong></label><br />
                                                                <SfTextBox CssClass="TSIMemoBox100" Placeholder="Adres Yazınız." @bind-Value="DataSource.Address" Multiline=true></SfTextBox>
                                                            </Template>
                                                        </DxGridLayoutItem>

                                                    </Items>
                                                </DxGridLayout>

                                            </ContentTemplate>
                                        </TabItem>

                                    </TabItems>
                                </SfTab>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}

 @if (SelectDepartmentPopupVisible)
    {
        <DxPopup @bind-Visible="SelectDepartmentPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Departmanlar"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DevGridLayout ColumnCount="1" RowCount="1">
                    <GridLayoutItems>
                       
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <SfCard class="TSIWorkStationGroupPopUpCard">

                                    <CardContent>
                                        <SfGrid ID="DepartmentGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@DepartmentList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                            <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                            <GridEvents OnRecordDoubleClick="@DepartmentDoubleClickHandler" TValue="ListDepartmentsDto"></GridEvents>
                                            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                            <GridPageSettings PageSizes="true"></GridPageSettings>
                                            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                            <GridColumns>
                                                <GridColumn Field=@nameof(ListDepartmentsDto.Code) HeaderText="DEPARTMAN KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                                <GridColumn Field=@nameof(ListDepartmentsDto.Name) HeaderText="DEPARTMAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                            </GridColumns>
                                        </SfGrid>
                                    </CardContent>
                                    <CardFooter>
                                    </CardFooter>
                                </SfCard>
                            </Template>
                        </DxGridLayoutItem>
                    </GridLayoutItems>
                </DevGridLayout>

            </BodyTemplate>
            <FooterContentTemplate>
                @*<SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
        <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>*@
            </FooterContentTemplate>
        </DxPopup>
    }


