@page "/employees"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Employee.Services
@using TsiErp.Entities.Entities.Employee
@using TsiErp.Entities.Entities.Employee.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectEmployeesDto, ListEmployeesDto, CreateEmployeesDto, UpdateEmployeesDto, ListEmployeesParameterDto>


@inject IEmployeesAppService EmployeesService

@{if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Kaynak Yönetimi > Ana Kayıtlar" CurrentMenu="Çalışanlar" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                        <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListEmployeesDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Code) HeaderText="KOD" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Name) HeaderText="ÇALIŞAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Surname) HeaderText="ÇALIŞAN SOYADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Department) HeaderText="DEPARTMAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.IDnumber) HeaderText="TC KİMLİK NO" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Birthday) HeaderText="DOĞUM GÜNÜ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.BloodType) HeaderText="KAN GRUBU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Address) HeaderText="ADRES" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.District) HeaderText="İLÇE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.City) HeaderText="İL" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.HomePhone) HeaderText="EV TELEFONU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.CellPhone) HeaderText="CEP TELEFONU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Email) HeaderText="E-POSTA" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
    </DevGridLayout>


    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Çalışanlar"
         Width="1100px"
         Height="620px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DxGridLayout>
                    <Rows>
                        <DxGridLayoutRow Height="100px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="50px" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Kod: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Kodu Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>İsim: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="İsim Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="5" RowSpan="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Resim: </strong></label>
                                <DxImage></DxImage>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Soyisim: </strong></label>
                                <SfTextBox Placeholder="Soyisim Yazınız." @bind-Value="DataSource.Surname" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Departman: </strong></label>
                               @* <SfComboBox TValue="int" TItem="ListEmployeesDto"></SfComboBox>*@
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>TC Kimlik No: </strong></label><br />
                                <SfTextBox Placeholder="TC No Yazınız." @bind-Value="DataSource.IDnumber" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Doğum Günü: </strong></label><br />
                                <SfDatePicker @bind-Value="DataSource.Birthday"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>Kan Grubu: </strong></label>
                              @*  <SfComboBox TValue="int" TItem="ListEmployeesDto"></SfComboBox>*@
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>İl: </strong></label><br />
                                <SfTextBox Placeholder="İli Yazınız." @bind-Value="DataSource.City" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>İlçe: </strong></label><br />
                                <SfTextBox Placeholder="İlçe Yazınız." @bind-Value="DataSource.District" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Ev Telefonu: </strong></label><br />
                                <SfTextBox Placeholder="Ev Telefonu Numarasını Yazınız." @bind-Value="DataSource.HomePhone" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Cep Telefonu: </strong></label><br />
                                <SfTextBox Placeholder="Cep Telefonu Numarasını Yazınız." @bind-Value="DataSource.CellPhone" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>E-Posta: </strong></label><br />
                                <SfTextBox Placeholder="E-Postayı Yazınız." @bind-Value="DataSource.Email" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="5" Column="1" ColumnSpan="5">
                            <Template>

                                <label class="TSIModalLabel"><strong>Adres: </strong></label><br />
                                <SfTextBox Placeholder="Adres Yazınız." @bind-Value="DataSource.Address" CssClass="TSITxtBox" Multiline=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
    </DxPopup>

}
}


