@page "/employees"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Employee.Services
@using TsiErp.Entities.Entities.Employee
@using TsiErp.Entities.Entities.Employee.Dtos
@using TsiErp.ErpUI.Helpers
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Department.Dtos
@using TsiErp.Business.Entities.Department.Services
@using TsiErp.Entities.Enums

@inherits BaseListPage<SelectEmployeesDto, ListEmployeesDto, CreateEmployeesDto, UpdateEmployeesDto, ListEmployeesParameterDto>


@inject IEmployeesAppService EmployeesService
@inject IDepartmentsAppService DepartmentsAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="Kaynak Yönetimi > Ana Kayıtlar" CurrentMenu="Çalışanlar" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="@_grid" DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@GridContextMenu">
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListEmployeesDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Code) HeaderText="ÇALIŞAN KODU" TextAlign="TextAlign.Center" Width="120">
                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Name) HeaderText="ÇALIŞAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Surname) HeaderText="ÇALIŞAN SOYADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Department) HeaderText="DEPARTMAN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.IDnumber) HeaderText="TC KİMLİK NO" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Birthday) Format="dd.MM.yyyy" Type="ColumnType.Date" HeaderText="DOĞUM GÜNÜ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.BloodType) HeaderText="KAN GRUBU" TextAlign="TextAlign.Center" Width="120">
                                        </GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Address) HeaderText="ADRES" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.District) HeaderText="İLÇE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.City) HeaderText="İL" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.HomePhone) HeaderText="EV TELEFONU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.CellPhone) HeaderText="CEP TELEFONU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.Email) HeaderText="E-POSTA" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(ListEmployeesDto.IsActive) HeaderText="AKTİFLİK" DisplayAsCheckBox=true TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Çalışanlar"
         Width="1080px"
         Height="620px"
         HeaderCssClass="HeaderTitleCss">
            <BodyTemplate>

                <DxGridLayout>
                    <Rows>
                        <DxGridLayoutRow Height="100px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="70px" />
                        <DxGridLayoutRow Height="50px" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                        <DxGridLayoutColumn Width="300px" />
                        <DxGridLayoutColumn Width="40px" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Çalışan Kodu: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Çalışan Kodu Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="3">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Çalışan Adı: </strong></label>
                                <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Çalışan Adı Yazınız."></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="0" Column="5" RowSpan="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>Resim: </strong></label>
                                <DxImage></DxImage>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Çalışan Soyadı: </strong></label>
                                <SfTextBox Placeholder="Çalışan Soyadı Yazınız." @bind-Value="DataSource.Surname" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="1" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Departman: </strong></label>
                                <SfComboBox @ref="DepartmentsComboBox"
                                    TValue="string"
                                    TItem="ListDepartmentsDto"
                                    Placeholder="Departman Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.Department"
                                    DataSource="@DepartmentsList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListDepartmentsDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Departman Kodu</th>
                                                    <th class="e-text-center">Departman Adı</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListDepartmentsDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListDepartmentsDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListDepartmentsDto"
                                            Filtering="DepartmentFiltering"
                                            ValueChange="DepartmentValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>TC Kimlik No: </strong></label><br />
                                <SfTextBox Placeholder="TC No Yazınız." @bind-Value="DataSource.IDnumber" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Doğum Günü: </strong></label><br />
                                <SfDatePicker @bind-Value="DataSource.Birthday"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="2" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>Kan Grubu: </strong></label><br />
                                @*<SfMultiSelect @bind-Value="@Types" DataSource="@EnumValues" Mode="@VisualMode.Box" Placeholder="Deneme" ></SfMultiSelect>*@

                                @*<SfDropDownList PopupHeight="230px" Placeholder="Deneme" @bind-Value="@DataSource.BloodType" DataSource="@EnumValues">
                                    <DropDownListFieldSettings Text="Name" Value="Name"></DropDownListFieldSettings>
                                </SfDropDownList>*@
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>İl: </strong></label><br />
                                <SfTextBox Placeholder="İli Yazınız." @bind-Value="DataSource.City" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="3" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>İlçe: </strong></label><br />
                                <SfTextBox Placeholder="İlçe Yazınız." @bind-Value="DataSource.District" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>Ev Telefonu: </strong></label><br />
                                <SfTextBox Placeholder="Ev Telefonu Numarasını Yazınız." @bind-Value="DataSource.HomePhone" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>Cep Telefonu: </strong></label><br />
                                <SfTextBox Placeholder="Cep Telefonu Numarasını Yazınız." @bind-Value="DataSource.CellPhone" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="4" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>E-Posta: </strong></label><br />
                                <SfTextBox Placeholder="E-Postayı Yazınız." @bind-Value="DataSource.Email" CssClass="TSITxtBox"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        <DxGridLayoutItem Row="5" Column="1" ColumnSpan="5">
                            <Template>

                                <label class="TSIModalLabel"><strong>Adres: </strong></label><br />
                                <SfTextBox Placeholder="Adres Yazınız." @bind-Value="DataSource.Address" CssClass="TSITxtBox" Multiline=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}


