@page "/operation-unsuitability-reports"
@layout MainLayout




@inherits BaseListPage<SelectOperationUnsuitabilityReportsDto, ListOperationUnsuitabilityReportsDto, CreateOperationUnsuitabilityReportsDto, UpdateOperationUnsuitabilityReportsDto, ListOperationUnsuitabilityReportsParameterDto>

@inject IStringLocalizer<OperationUnsuitabilityReportsResource> L 

@inject IOperationUnsuitabilityReportsAppService OperationUnsuitabilityReportsService
@inject IWorkOrdersAppService WorkOrdersAppService
@inject IProductsAppService ProductsAppService
@inject IStationGroupsAppService StationGroupsAppService
@inject IStationsAppService StationsAppService
@inject IEmployeesAppService EmployeesAppService
@inject IProductionOrdersAppService ProductionOrdersAppService
@inject IProductsOperationsAppService ProductsOperationsAppService
@inject IUnsuitabilityItemsAppService UnsuitabilityItemsAppService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService
@inject IGetSQLDateAppService GetSQLDateAppService

@{
    if (!base.IsLoaded)
    {
        <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
    }
    else
    {
        <DevGridLayout ColumnCount="1" RowCount="3">
            <GridLayoutItems>
                <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIListPageTitleCard">
                            <CardContent>
                                <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                    <Template>
                        <SfCard class="TSIGridCards">
                            <CardContent>
                                <SfGrid ID="Grid" @ref="_grid"  AllowPdfExport=true DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSorting="true" Height="100%" Width="100%"
                                class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>
                                    <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                    
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                    <GridEvents   ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListOperationUnsuitabilityReportsDto"></GridEvents>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.FicheNo) HeaderText="@L["FicheNo"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>

                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.Date_) Format="dd.MM.yyyy" Type="ColumnType.DateTime" HeaderText="@L["Date_"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>
                                        
                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.WorkOrderNo) HeaderText="@L["WorkOrderNo"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>

                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.StationCode) HeaderText="@L["StationCode"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>
                                       
                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.StationGroupCode) HeaderText="@L["StationGroupCode"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>
                                       
                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.EmployeeName) HeaderText="@L["EmployeeName"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>

                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.ProductionOrderFicheNo) HeaderText="@L["ProductionOrderFicheNo"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>

                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.ProductCode) HeaderText="@L["ProductCode"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>
                                       
                                        <GridColumn Field=@nameof(ListOperationUnsuitabilityReportsDto.OperationCode) HeaderText="@L["OperationCode"]" TextAlign="TextAlign.Center" Width="220"> </GridColumn>
                                       

                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </Template>
                </DxGridLayoutItem>
            </GridLayoutItems>
        </DevGridLayout>


        <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EditModalTitle"]"
         Width="62%"
         Height="65%"
         MinWidth="1200px"
         MinHeight="500px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">
            <BodyTemplate>

                <DxGridLayout CssClass="TSIGridLayout">
                    <Rows>
                        <DxGridLayoutRow Height="18%" />
                        <DxGridLayoutRow Height="14%" />
                        <DxGridLayoutRow Height="14%" />
                        <DxGridLayoutRow Height="14%" />
                        <DxGridLayoutRow Height="14%" />
                        <DxGridLayoutRow Height="14%" />
                    </Rows>
                    <Columns>
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                        <DxGridLayoutColumn Width="28%" />
                        <DxGridLayoutColumn Width="4%" />
                    </Columns>
                    <Items>
                        <DxGridLayoutItem Row="0" Column="1">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["FicheNoLabel"] </strong></label>
                                @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                                <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.FicheNo" ShowClearButton=true></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="0" Column="3" ColumnSpan="3" RowSpan="5">
                            <Template>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["Description_Label"] </strong></label>
                                <SfTextBox @bind-Value="DataSource.Description_" CssClass="TSIMemoBox45"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="1" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["Date_Label"] </strong></label>
                                <SfDatePicker @bind-Value="DataSource.Date_"></SfDatePicker>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="2" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["WorkOrderNoLabel"] </strong></label><br />
                                <SfTextBox @ref="@WorkOrdersButtonEdit" Created="@WorkOrdersOnCreateIcon" @bind-Value="DataSource.WorkOrderNo" ShowClearButton=true ValueChange="WorkOrdersOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="3" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["StationCodeLabel"] </strong></label><br />
                                <SfTextBox @ref="@StationsCodeButtonEdit" Created="@StationsCodeOnCreateIcon" @bind-Value="DataSource.StationCode" ShowClearButton=true ValueChange="StationsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="3" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["StationNameLabel"] </strong></label><br />
                                <SfTextBox @ref="@StationsNameButtonEdit" Created="@StationsNameOnCreateIcon" @bind-Value="DataSource.StationName" ShowClearButton=true ValueChange="StationsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        
                        <DxGridLayoutItem Row="3" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["EmployeeNameLabel"] </strong></label><br />
                                <SfTextBox @ref="@EmployeesButtonEdit" Created="@EmployeesOnCreateIcon" @bind-Value="DataSource.EmployeeName" ShowClearButton=true ValueChange="EmployeesOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="1">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["UnsuitabilityItemsNameLabel"] </strong></label><br />
                                <SfTextBox @ref="@UnsuitabilityItemsButtonEdit" Created="@UnsuitabilityItemsOnCreateIcon" @bind-Value="DataSource.UnsuitabilityItemsName" ShowClearButton=true ValueChange="UnsuitabilityItemsOnValueChange"></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["UnsuitableAmountLabel"] </strong></label>
                                <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.UnsuitableAmount" Min=0></SfNumericTextBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="4" Column="5">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["ActionLabel"] </strong></label><br />
                                <SfComboBox TValue="string" TItem="UnsComboBox"  DataSource="@_unsComboBox">
                                <ComboBoxEvents TItem="UnsComboBox" TValue="string" ValueChange="@UnsComboBoxValueChangeHandler"></ComboBoxEvents>
                                    <ComboBoxFieldSettings Value="ID" Text="Text"></ComboBoxFieldSettings>
                                </SfComboBox>
                            </Template>
                        </DxGridLayoutItem>

                        <DxGridLayoutItem Row="5" Column="1">
                            <Template>
                                <center>
                                <label class="TSIModalLabel"><strong>@L["IsUnsuitabilityWorkOrderLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsUnsuitabilityWorkOrder"></SfSwitch>
                                </center>
                            </Template>
                        </DxGridLayoutItem>

                        @if (isCreatedNewWorkOrder)
                        {
                             <DxGridLayoutItem Row="5" Column="3">
                            <Template>
                                <label class="TSIModalLabel"><strong>@L["CreatedWorkOrderLabel"] </strong></label><br />
                                <SfTextBox @bind-Value="CreatedWorkOrderNo" Enabled=false></SfTextBox>
                            </Template>
                        </DxGridLayoutItem>
                        }


                    </Items>
                </DxGridLayout>
            </BodyTemplate>
            <FooterContentTemplate>
                <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
                <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
            </FooterContentTemplate>
        </DxPopup>

    }
}


@if (SelectStationsPopupVisible)
{
    <DxPopup @bind-Visible="SelectStationsPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["StationModalTitle"]"
         Width="62%"
         Height="44%"
         MinWidth="1060px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="StationsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@StationsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" 
                                    Height="100%" Width="100%" class="GridZebra" >
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@StationsDoubleClickHandler" TValue="SelectStationsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(SelectStationsDto.Code) HeaderText="@L["StationModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(SelectStationsDto.Name) HeaderText="@L["StationModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectEmployeesPopupVisible)
{
    <DxPopup @bind-Visible="SelectEmployeesPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EmployeeModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="EmployeesGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@EmployeesList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" >
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@EmployeesDoubleClickHandler" TValue="ListEmployeesDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListEmployeesDto.Code) HeaderText="@L["EmployeeModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListEmployeesDto.Name) HeaderText="@L["EmployeeModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectWorkOrdersPopupVisible)
{
    <DxPopup @bind-Visible="SelectWorkOrdersPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["WorkOrderModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="WorkOrdersGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@WorkOrdersList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" >
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@WorkOrdersDoubleClickHandler" TValue="ListWorkOrdersDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListWorkOrdersDto.WorkOrderNo) HeaderText="@L["WorkOrderModalGridWorkOrderNo"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListWorkOrdersDto.ProductsOperationCode) HeaderText="@L["WorkOrderModalGridOperationCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListWorkOrdersDto.ProductsOperationName) HeaderText="@L["WorkOrderModalGridOperationName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectUnsuitabilityItemsPopupVisible)
{
    <DxPopup @bind-Visible="SelectUnsuitabilityItemsPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["UnsuitabilityItemModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIGridCards">

                                <CardContent>
                                    <SfGrid ID="UnsuitabilityItemsGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@UnsuitabilityItemsList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" 
                                       AllowSorting="true" Height="100%" Width="100%" class="GridZebra" >
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@UnsuitabilityItemsDoubleClickHandler" TValue="ListUnsuitabilityItemsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.Code) HeaderText="@L["UnsuitabilityItemModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.Name) HeaderText="@L["UnsuitabilityItemModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}
