@page "/employee-seniorities"
@layout MainLayout


@inject IStringLocalizer<EmployeeSenioritiesResource> L
@inherits BaseListPage<SelectEmployeeSenioritiesDto, ListEmployeeSenioritiesDto, CreateEmployeeSenioritiesDto, UpdateEmployeeSenioritiesDto, ListEmployeeSenioritiesParameterDto>

@inject IEmployeeSenioritiesAppService EmployeeSenioritiesService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject ITaskScoringsAppService TaskScoringsAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UICurrentMenu"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListEmployeeSenioritiesDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListEmployeeSenioritiesDto.Code) HeaderText=@L["Code"] TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListEmployeeSenioritiesDto.Name) HeaderText=@L["Name"] TextAlign="TextAlign.Center" Width="120">

                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListEmployeeSenioritiesDto.Description_) HeaderText="@L["Description_"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
             ShowFooter="true"
             CloseOnEscape="false"
             CloseOnOutsideClick="false"
             HeaderText="@L["EditModalTitle"]"
             Width="47%"
             Height="64%"
             MinWidth="800px"
             MinHeight="650px"
             HeaderCssClass="HeaderTitleCss"
             Showing="CrudModalShowing"
             Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="98%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="96%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>

                <Items>

                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab1Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIEmployeeSenioritiesGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="65%" />
                                                    <DxGridLayoutRow Height="25%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                    <DxGridLayoutRow Height="15%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="6%" />
                                                    <DxGridLayoutColumn Width="40%" />
                                                    <DxGridLayoutColumn Width="6%" />
                                                    <DxGridLayoutColumn Width="40%" />
                                                    <DxGridLayoutColumn Width="6%" />
                                                </Columns>

                                                <Items>
                                                    <DxGridLayoutItem Row="0" Column="1">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                                                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                                                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>

                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="0" Column="3">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="1" ColumnSpan="3" RowSpan="3">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["DescriptionLabel"] </strong></label><br />
                                                            <SfTextBox CssClass="TSIMemoBox100" Multiline="true" @bind-Value="DataSource.Description_"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>




                                                </Items>
                                            </DxGridLayout>

                                        </ContentTemplate>
                                    </TabItem>

                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="@L["Tab2Name"]"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>

                                            <DxGridLayout CssClass="TSIEmployeeSenioritiesGridLayout">

                                                <Rows>
                                                    <DxGridLayoutRow Height="15%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                    <DxGridLayoutRow Height="13%" />
                                                </Rows>

                                                <Columns>
                                                    <DxGridLayoutColumn Width="6%" />
                                                    <DxGridLayoutColumn Width="40%" />
                                                    <DxGridLayoutColumn Width="6%" />
                                                    <DxGridLayoutColumn Width="40%" />
                                                    <DxGridLayoutColumn Width="6%" />
                                                </Columns>

                                                <Items>
                                                    <DxGridLayoutItem Row="0" Column="1">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["TaskScoringCodeLabel"] </strong></label>

                                                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="TaskScoringDataSource.Code" ShowClearButton=true></SfTextBox>

                                                        </Template>
                                                    </DxGridLayoutItem>
                                                    <DxGridLayoutItem Row="0" Column="3">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Enabled="false"></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["IsTaskDoneLabel"] </strong></label>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="3">
                                                        <Template>
                                                            <center><SfSwitch @bind-Checked="TaskScoringDataSource.IsTaskDone" ValueChange="IsTaskDoneChange" TChecked="bool"></SfSwitch></center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["IsDetectFaultLabel"] </strong></label>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="3">
                                                        <Template>
                                                            <center> <SfSwitch @bind-Checked="TaskScoringDataSource.IsDetectFault" ValueChange="IsDetectFaultChange" TChecked="bool"></SfSwitch></center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["IsAdjustmentLabel"] </strong></label>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="3">
                                                        <Template>
                                                            <center><SfSwitch @bind-Checked="TaskScoringDataSource.IsAdjustment" ValueChange="IsAdjustmentChange" TChecked="bool"></SfSwitch></center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["IsDeveloperIdeaLabel"] </strong></label>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="3">
                                                        <Template>
                                                            <center><SfSwitch @bind-Checked="TaskScoringDataSource.IsDeveloperIdea" ValueChange="IsDeveloperIdeaChange" TChecked="bool"></SfSwitch></center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="5" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["IsTaskSharingLabel"] </strong></label>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="5" Column="3">
                                                        <Template>
                                                            <center><SfSwitch @bind-Checked="TaskScoringDataSource.IsTaskSharing" ValueChange="IsTaskSharingChange" TChecked="bool"></SfSwitch></center>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="6" Column="1">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>@L["ScoreLabel"] </strong></label>
                                                            <SfNumericTextBox Min="0" TValue="int"  @bind-Value="TaskScoringDataSource.Score"></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>


                                                </Items>
                                            </DxGridLayout>

                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>

                        </Template>
                    </DxGridLayoutItem>




                </Items>
            </DxGridLayout>


        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}
