@page "/machine-analysis-detail/{StationId:int}/{StartDate:datetime}/{EndDate:datetime}"
@layout ProductionLayout
@inject IstasyonDetayService IstasyonDetayService

<style>
    .GridZebra table tbody tr:nth-child(odd) {
        background-color: #B5B5B5;
    }

    .GridZebra table tbody tr:nth-child(n) {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }

    .DateTime {
        width: 400px;
    }
</style>

<DxTabs>
    <DxTabPage Text="Duruş Kodları Analizi">
        <ContentHeader>
        </ContentHeader>
        <Card>
            <Body>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <label>Başlangıç Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@startDate"></DxDateEdit>
                        </td>
                        <td>
                            <label>Bitiş Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@endDate"></DxDateEdit>
                        </td>
                        <td>
                            <label></label>
                            <Button Size="ButtonSize.Medium" OnClick="@OnDateButtonClicked">Filtrele</Button>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>

            </Body>

        </Card>
        <ContentMain>
            <Card>
                <Title><CardTitle><strong>Makina Analizi > Genel > Detaylar > Duruş Kodları Analizi</strong></CardTitle></Title>
                <Body>
                    <DxChart Data="@dataHalt" LabelOverlap="ChartLabelOverlap.Hide">
                        <DxChartTitle Text=" Duruş Grafiği">
                        </DxChartTitle>
                        <DxChartValueAxis>
                            <DxChartAxisTitle Text="Duruş Süresi" />
                        </DxChartValueAxis>
                        <DxChartValueAxis Name="Duruş Kodu ">
                        </DxChartValueAxis>
                        <DxChartBarSeries Color="System.Drawing.Color.DarkRed"
                                          ArgumentField="@((StationDetailedHaltAnalysis i) => i.Code)"
                                          ValueField="@((StationDetailedHaltAnalysis i) => i.Time)"
                                          Name="Duruş Süresi">
                            <DxChartSeriesLabel Visible="true" BackgroundColor="System.Drawing.Color.DarkSlateGray" />
                        </DxChartBarSeries>
                        <DxChartLegend Orientation="Orientation.Horizontal"
                                       HorizontalAlignment="HorizontalAlignment.Right"
                                       Position="RelativePosition.Outside" />
                    </DxChart>

                </Body>
            </Card>
            <Card>
                <Body>
                    <DxGrid Data="@dataHalt"
                            CssClass="GridZebra"
                            ShowGroupPanel="true"
                            ShowFilterRow="true">
                        <Columns>
                            <DxGridCommandColumn Width="100px" />
                            <DxGridDataColumn FieldName="Code"
                                              Caption="Duruş Kodu"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1" />
                            <DxGridDataColumn FieldName="Time"
                                              Caption="Süre"
                                              Width="800px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                        </Columns>
                    </DxGrid>
                </Body>
            </Card>
        </ContentMain>
    </DxTabPage>
    <DxTabPage Text="Stok Kodları Analizi">
        <ContentHeader>
        </ContentHeader>
        <Card>
            <Body>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <label>Başlangıç Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@startDate"></DxDateEdit>
                        </td>
                        <td>
                            <label>Bitiş Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@endDate"></DxDateEdit>
                        </td>
                        <td>
                            <label></label>
                            <Button Size="ButtonSize.Medium" OnClick="@OnDateButtonClicked">Filtrele</Button>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>

            </Body>

        </Card>
        <ContentMain>
            <Card>
                <Title><CardTitle><strong>Makina Analizi > Genel > Detaylar > Stok Kodları Analizi</strong></CardTitle></Title>
                <Body>
                    <DxChart Data="@dataProduct" LabelOverlap="ChartLabelOverlap.ShowAll">
                        <DxChartTitle Text="Performans Grafiği">
                        </DxChartTitle>
                        <DxChartValueAxis>
                            <DxChartAxisTitle Text="" />
                        </DxChartValueAxis>
                        <DxChartValueAxis Name="Stok Kodu">
                        </DxChartValueAxis>
                        <DxChartBarSeries Color="System.Drawing.Color.DarkRed"
                                          ArgumentField="@((StationDetailedProductAnalysis i) => i.ProductCode)"
                                          ValueField="@((StationDetailedProductAnalysis i) => i.Performance)"
                                          Name="Performans">
                            <DxChartSeriesLabel Format="ChartElementFormat.Percent()" Visible="true" BackgroundColor="System.Drawing.Color.DarkSlateGray" />
                        </DxChartBarSeries>
                       @* <DxChartBarSeries Color="System.Drawing.Color.Gray"
                                          ArgumentField="@((StationDetailedProductAnalysis i) => i.ProductCode)"
                                          ValueField="@((StationDetailedProductAnalysis i) => i.OccuredUnitTime)"
                                          Name="Gerçekleşen Birim Süre">
                            <DxChartSeriesLabel Position="RelativePosition.Outside" Visible="true" BackgroundColor="System.Drawing.Color.DarkSlateGray" />
                        </DxChartBarSeries>*@
                        <DxChartLegend Orientation="Orientation.Horizontal"
                                       HorizontalAlignment="HorizontalAlignment.Right"
                                       Position="RelativePosition.Outside" />
                    </DxChart>

                </Body>
            </Card>
            <Card>
                <Body>
                    <DxGrid Data="@dataProduct"
                            CssClass="GridZebra"
                            ShowGroupPanel="true"
                            ShowFilterRow="true">
                        <Columns>
                            <DxGridCommandColumn Width="120px" />
                            <DxGridDataColumn FieldName="ProductCode"
                                              Caption="Stok Kodu"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0" />
                            <DxGridDataColumn FieldName="ProductGroup"
                                              Caption="Stok Açıklaması"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1" />
                            <DxGridDataColumn FieldName="TotalProduction"
                                              Caption="Üretilen Adet"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="TotalScrap"
                                              Caption="Hurda Adet"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="PlannedUnitTime"
                                              Caption="Planlanan Birim Süre "
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="OccuredUnitTime"
                                              Caption="Gerçekleşen Birim Süre"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1" />
                            <DxGridDataColumn FieldName="PlannedQuantity"
                                              Caption="Planlanan Adet"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="Performance"
                                              Caption="Performans"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1"
                                              DisplayFormat="@NumericMask.Percentage" />
                        </Columns>
                    </DxGrid>
                </Body>
            </Card>
        </ContentMain>
    </DxTabPage>
    <DxTabPage Text="Personel Analizi">
        <ContentHeader>
        </ContentHeader>
        <Card>
            <Body>
                <table>
                    <tr>
                        <td></td>
                        <td>
                            <label>Başlangıç Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@startDate"></DxDateEdit>
                        </td>
                        <td>
                            <label>Bitiş Tarihi:</label>
                            <DxDateEdit CssClass="DateTime" @bind-Date="@endDate"></DxDateEdit>
                        </td>
                        <td>
                            <label></label>
                            <Button Size="ButtonSize.Medium" OnClick="@OnDateButtonClicked">Filtrele</Button>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>

            </Body>

        </Card>
        <ContentMain>
            <Card>
                <Title><CardTitle><strong>Makina Analizi > Genel > Detaylar > Personel Analizi</strong></CardTitle></Title>
                <Body>
                    <DxChart Data="@dataEmployee" LabelOverlap="ChartLabelOverlap.Hide">
                        <DxChartTitle Text=" Hurda Adet Grafiği">
                        </DxChartTitle>
                        <DxChartValueAxis>
                            <DxChartAxisTitle Text="Hurda Adet" />
                        </DxChartValueAxis>
                        <DxChartValueAxis Name="Personel Adı">
                        </DxChartValueAxis>
                        <DxChartBarSeries Color="System.Drawing.Color.DarkRed"
                                          ArgumentField="@((StationDetailedEmployeeAnalysis i) => i.EmployeeName)"
                                          ValueField="@((StationDetailedEmployeeAnalysis i) => i.TotalScrap)"
                                          Name="Hurda Adet">
                            <DxChartSeriesLabel Visible="true" BackgroundColor="System.Drawing.Color.DarkSlateGray" />
                        </DxChartBarSeries>
                        <DxChartLegend Orientation="Orientation.Horizontal"
                                       HorizontalAlignment="HorizontalAlignment.Right"
                                       Position="RelativePosition.Outside" />
                    </DxChart>

                </Body>
            </Card>
            <Card>
                <Body>
                    <DxGrid Data="@dataEmployee"
                            CssClass="GridZebra"
                            ShowGroupPanel="true"
                            ShowFilterRow="true">
                        <Columns>
                            <DxGridCommandColumn Width="120px" />
                            <DxGridDataColumn FieldName="EmployeeName"
                                              Caption="Personel Adı"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="1" />
                            <DxGridDataColumn FieldName="TotalProduction"
                                              Caption="Üretilen Adet"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="TotalScrap"
                                              Caption="Hurda Adet"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                            <DxGridDataColumn FieldName="OperationTime"
                                              Caption="Çalışma Süresi"
                                              Width="120px"
                                              SortOrder="GridColumnSortOrder.Descending"
                                              SortIndex="0"
                                              DisplayFormat="######" />
                        </Columns>
                    </DxGrid>
                </Body>
            </Card>
        </ContentMain>
    </DxTabPage>
</DxTabs>
@code {

    [Parameter] public int StationId { get; set; }
    [Parameter] public DateTime StartDate { get; set; }
    [Parameter] public DateTime EndDate { get; set; }

    List<StationDetailedEmployeeAnalysis> dataEmployee = new List<StationDetailedEmployeeAnalysis>();
    List<StationDetailedHaltAnalysis> dataHalt = new List<StationDetailedHaltAnalysis>();
    List<StationDetailedProductAnalysis> dataProduct = new List<StationDetailedProductAnalysis>();
    DateTime startDate = DateTime.Today.AddDays(-60);
    DateTime endDate = DateTime.Today;

    protected override void OnInitialized()
    {
        dataEmployee = IstasyonDetayService.GetStationDetailedEmployeeAnalysis(StationId, StartDate, EndDate);
        dataHalt = IstasyonDetayService.GetStationDetailedHaltAnalysis(StationId, StartDate, EndDate);
        dataProduct = IstasyonDetayService.GetStationDetailedProductAnalysis(StationId, StartDate, EndDate);
    }

    void OnDateButtonClicked()
    {
        dataEmployee = IstasyonDetayService.GetStationDetailedEmployeeAnalysis(StationId, startDate, endDate);
        dataHalt = IstasyonDetayService.GetStationDetailedHaltAnalysis(StationId, startDate, endDate);
        dataProduct = IstasyonDetayService.GetStationDetailedProductAnalysis(StationId, startDate, endDate);
        StateHasChanged();
    }

}
