@page "/machine-analysis-oee"
@layout ProductionLayout

@inject IstasyonOEEService IstasyonOEEService
<style>
    .GridZebra table tbody tr:nth-child(odd) {
        background-color: #B5B5B5;
    }

    .GridZebra table tbody tr:nth-child(n) {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        
    }

   /* td, th {
        border: 0px solid #dddddd;
        text-align: center;
        padding: 8px;
    }*/
    .DateTime {
        width: 400px;
    }

</style>
<ContentHeader>
</ContentHeader>
<Card>
    <Body>
        <table>
            <tr> 
                <td></td>
                <td>
                    <label>Başlangıç Tarihi:</label>
                    <DxDateEdit CssClass="DateTime" @bind-Date="@startDate"></DxDateEdit>
                </td>
                <td>
                    <label>Bitiş Tarihi:</label>
                    <DxDateEdit CssClass="DateTime" @bind-Date="@endDate"></DxDateEdit>
                </td>
                <td> 
                    <label></label>
                    <Button Size="ButtonSize.Medium" OnClick="@OnDateButtonClicked">Filtrele</Button>
                </td>
                <td></td>
            </tr>
        </table>

    </Body>

</Card>
<ContentMain>
    <Card>
        <Title><CardTitle><strong>Makina Analizi > OEE</strong></CardTitle></Title>
        <Body>
            <DxChart Data="@data" LabelOverlap="ChartLabelOverlap.Hide">
                <DxChartTitle Text="OEE Grafiği">
                </DxChartTitle>
                <DxChartValueAxis>
                    <DxChartAxisTitle Text="OEE" />
                </DxChartValueAxis>
                <DxChartValueAxis Name="Makina Kodu">
                </DxChartValueAxis>
                <DxChartBarSeries Color="System.Drawing.Color.DarkRed"
                                  ArgumentField="@((StationOEEAnalysis i) => i.Code)"
                                  ValueField="@((StationOEEAnalysis i) => i.OEE)"
                                  Name="OEE">
                    <DxChartSeriesLabel Format="ChartElementFormat.Percent()" Visible="true" BackgroundColor="System.Drawing.Color.DarkSlateGray" />
                </DxChartBarSeries>
                <DxChartLegend Orientation="Orientation.Horizontal"
                               HorizontalAlignment="HorizontalAlignment.Right"
                               Position="RelativePosition.Outside" />
            </DxChart>

        </Body>
    </Card>
    <Card>
        <Body>
            <DxGrid Data="@data"
                    CssClass="GridZebra"
                    ShowGroupPanel="true"
                    ShowFilterRow="true">
                <Columns>
                    <DxGridCommandColumn Width="120px" />
                    <DxGridDataColumn FieldName="Code"
                                      Caption="Makina Kodu"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="1" />
                    <DxGridDataColumn FieldName="ShiftTime"
                                      Caption="Vardiya Süresi"
                                      Width="120px"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="0"
                                      DisplayFormat="######" />
                    <DxGridDataColumn FieldName="PlannedOperationTime"
                                      Caption="Planlanan Operasyon Süresi "
                                      Width="120px"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="0"
                                      DisplayFormat="######" />
                    <DxGridDataColumn FieldName="OccuredOperationTime"
                                      Caption="Gerçekleşen Operasyon Süresi "
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="1"
                                      DisplayFormat="######" />
                    <DxGridDataColumn FieldName="ScrapTime"
                                      Caption="Hurda Süresi"
                                      Width="120px"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="0"
                                      DisplayFormat="######" />
                    <DxGridDataColumn FieldName="Availability"
                                      Caption="Kullanılabilirlik"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="1"
                                      DisplayFormat="######" />
                    <DxGridDataColumn FieldName="Performance"
                                      Caption="Performans"
                                      Width="120px"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="0"
                                      DisplayFormat="@NumericMask.PercentageMultipliedBy100"/>
                    <DxGridDataColumn FieldName="Quality"
                                      Caption="Kalite"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="1"
                                      DisplayFormat="@NumericMask.PercentageMultipliedBy100"/>

                    <DxGridDataColumn FieldName="OEE"
                                      Caption="OEE"
                                      SortOrder="GridColumnSortOrder.Descending"
                                      SortIndex="1"
                                      DisplayFormat="@NumericMask.PercentageMultipliedBy100">
                        @* <CellDisplayTemplate>
                        @{
                        StationGeneralAnalysis obj = context as StationGeneralAnalysis;
                        <div class="@(obj.UnplannedPercentage >= Convert.ToDouble(0.90) ? "bg-success" : "bg-danger")" >
                        </div>
                        }
                        </CellDisplayTemplate>*@
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
        </Body>
    </Card>
</ContentMain>

@code {
     List<StationOEEAnalysis> data = new List<StationOEEAnalysis>();
    DateTime startDate = DateTime.Today.AddDays(-60);
    DateTime endDate = DateTime.Today;
    DateTime date1 = new DateTime(2022, 06, 01);
    DateTime date2 = new DateTime(2022, 06, 03);

    protected override void OnInitialized()
    {
        data = IstasyonOEEService.GetStationOEEAnalysis(date1, date2);
    }

    void OnDateButtonClicked()
    {
        data = IstasyonOEEService.GetStationOEEAnalysis(startDate, endDate);
        StateHasChanged();
    }

}
