@page "/unitsets"
@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.UnitSet.Services
@using TsiErp.Entities.Entities.UnitSet
@using TsiErp.Entities.Entities.UnitSet.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts

@inherits BaseListPage<SelectUnitSetsDto, ListUnitSetsDto, CreateUnitSetsDto, UpdateUnitSetsDto, ListUnitSetsParameterDto>


@inject IUnitSetsAppService UnitSetsService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Stok Yönetimi > Ana Kayıtlar" CurrentMenu="Birim Setleri" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        
                        <CardContent>
                            <SfGrid ID="Grid" @ref="@_grid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                                                 <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                 <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListUnitSetsDto"></GridEvents>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListUnitSetsDto.Code) HeaderText="BİRİM SETİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUnitSetsDto.Name) HeaderText="BİRİM SETİ AÇIKLAMASI" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    
<DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Birim Setleri"
         Width="750px"
         Height="260px"
         HeaderCssClass="HeaderTitleCss">
    <BodyTemplate>

        <DxGridLayout>
            <Rows>
                <DxGridLayoutRow Height="100px" />
                <DxGridLayoutRow Height="50px" />
            </Rows>
            <Columns>
                <DxGridLayoutColumn Width="40px" />
                <DxGridLayoutColumn Width="300px" />
                <DxGridLayoutColumn Width="40px" />
                <DxGridLayoutColumn Width="300px" />
                <DxGridLayoutColumn Width="40px" />
            </Columns>
            <Items>
                <DxGridLayoutItem Row="0" Column="1">
                    <Template>
                        <br />
                        <label class="TSIModalLabel"><strong>Birim Seti Kodu: </strong></label>
                        <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Birim Seti Kodu Yazınız."></SfTextBox>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="0" Column="3">
                    <Template>
                        <br />
                        <label class="TSIModalLabel"><strong>Birim Seti Açıklaması: </strong></label>
                        <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Birim Seti Açıklaması Yazınız."></SfTextBox>
                    </Template>
                </DxGridLayoutItem>
                <DxGridLayoutItem Row="1" Column="1">
                    <Template>
                        <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                        <SfSwitch @bind-Checked="@DataSource.IsActive"></SfSwitch>
                    </Template>
                </DxGridLayoutItem>

            </Items>
        </DxGridLayout>
    </BodyTemplate>
    <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
    </FooterContentTemplate>
</DxPopup>

}



