@page "/unsuitability-items"
@layout MainLayout

@inject IStringLocalizer<UnsuitabilityItemsResource> L

@inherits BaseListPage<SelectUnsuitabilityItemsDto, ListUnsuitabilityItemsDto, CreateUnsuitabilityItemsDto, UpdateUnsuitabilityItemsDto, ListUnsuitabilityItemsParameterDto>

@inject IUnsuitabilityItemsAppService UnsuitabilityItemsService
@inject IUnsuitabilityTypesItemsAppService UnsuitabilityTypesItemsService
@inject IStationGroupsAppService StationGroupsService
@inject IFicheNumbersAppService FicheNumbersAppService
@inject IUserPermissionsAppService UserPermissionsAppService
@inject IMenusAppService MenusAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="@L["UIPreviousMenu"]" CurrentMenu="@L["UnsuitabilityItemTitle"]" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid"  AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu" Toolbar=@GridToolbarItems>

                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" OnToolbarClick="@ToolbarClickHandler" TValue="ListUnsuitabilityItemsDto"></GridEvents>
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>
                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.Code) HeaderText=@L["Code"] TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.Name) HeaderText=@L["Name"] TextAlign="TextAlign.Center" Width="120">

                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.Description_) HeaderText="@L["Description_"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.IntensityRange) HeaderText="@L["IntensityRange"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListUnsuitabilityItemsDto.IntensityCoefficient) HeaderText="@L["IntensityCoefficient"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["EditModalTitle"]"
         Width="70%"
         Height="35%"
         MinWidth="1200px"
         MinHeight="600px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                    <DxGridLayoutRow Height="15%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                    <DxGridLayoutColumn Width="21%" />
                    <DxGridLayoutColumn Width="3%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["CodeLabel"] </strong></label>
                            @* <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code"></SfTextBox> *@

                            <SfTextBox @ref="@CodeButtonEdit" Created="@CodeOnCreateIcon" @bind-Value="DataSource.Code" ShowClearButton=true></SfTextBox>

                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["NameLabel"] </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3" ColumnSpan="4">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["DescriptionLabel"] </strong></label><br />
                            <SfTextBox CssClass="TSIMemoBox100" Multiline="true" @bind-Value="DataSource.Description_"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="7" ColumnSpan="1">
                        <Template>
                            <center>
                                <br />
                                <label class="TSIModalLabel"><strong>@L["IsActiveLabel"] </strong></label><br />
                                <SfSwitch @bind-Checked="@DataSource.IsActive"></SfSwitch>
                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["UnsuitabilityTypesItemsNameLabel"] </strong></label>
                            <SfComboBox Placeholder="Seçin" @bind-Value="@DataSource.UnsuitabilityTypesItemsId" DataSource="@UnsuitabilityTypesItemList">
                                <ComboBoxFieldSettings Text ="Name" Value="Id"></ComboBoxFieldSettings>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["StationGroupLabel"] </strong></label><br />

                            <SfTextBox @ref="@StationGroupButtonEdit" Created="@StationGroupOnCreateIcon" @bind-Value="DataSource.StationGroupName" ShowClearButton=true ValueChange="StationGroupOnValueChange"></SfTextBox>

                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["LifeThreateningLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.LifeThreatening" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["LossOfPrestigeLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.LossOfPrestige" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["ExtraCostLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.ExtraCost" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="7">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["ProductLifeShorteningLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.ProductLifeShortening" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["DetectabilityLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.Detectability" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["ToBeUsedAsLabel"] </strong></label>
                            <SfComboBox TValue="string" TItem="SelectionList" PopupHeight="230px" Placeholder="Seçin" @bind-Value="@DataSource.ToBeUsedAs" DataSource="@SelectionLists">
                                <ComboBoxFieldSettings Text="Text" Value="Id" />
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="5">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["IntensityRangeLabel"] </strong></label>
                            <SfNumericTextBox CssClass="TSITxtBox" @bind-Value="DataSource.IntensityRange" Min="0" Enabled=false></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="7">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["IntensityCoefficientLabel"] </strong></label>
                            <SfNumericTextBox CssClass="TSITxtBox" @bind-Value="DataSource.IntensityCoefficient" Min="0" Enabled=false></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="5" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>@L["IntensityRangeCalculateLabel"] </strong></label>
                            <SfButton CssClass="TSISaveButton" OnClick="IntensityRangeCalculate"><SfIcon Size="IconSize.Medium" Name="IconName.CalculatedMember"></SfIcon>&nbsp;@L["IntensityRangeCalculateButton"]</SfButton>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>


        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;@L["SaveButton"]</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;@L["CloseButton"]</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}

@if (SelectStationGroupPopupVisible)
{
    <DxPopup @bind-Visible="SelectStationGroupPopupVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="@L["StationGroupModalTitle"]"
         Width="64%"
         Height="44%"
         MinWidth="1220px"
         MinHeight="470px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DevGridLayout ColumnCount="1" RowCount="1">
                <GridLayoutItems>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <SfCard class="TSIWorkStationGroupPopUpCard">

                                <CardContent>
                                    <SfGrid ID="GroupGrid" ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@StationGroupList" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                        <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                        <GridEvents OnRecordDoubleClick="@StationGroupDoubleClickHandler" TValue="ListStationGroupsDto"></GridEvents>
                                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                        <GridPageSettings PageSizes="true"></GridPageSettings>
                                        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                        <GridColumns>
                                            <GridColumn Field=@nameof(ListStationGroupsDto.Code) HeaderText="@L["StationGroupModalGridCode"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListStationGroupsDto.Name) HeaderText="@L["StationGroupModalGridName"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                            <GridColumn Field=@nameof(ListStationGroupsDto.TotalEmployees) Type="ColumnType.Number" HeaderText="@L["StationGroupModalGridTotalEmployees"]" TextAlign="TextAlign.Center" Width="120"></GridColumn>

                                        </GridColumns>
                                    </SfGrid>
                                </CardContent>
                                <CardFooter>
                                </CardFooter>
                            </SfCard>
                        </Template>
                    </DxGridLayoutItem>
                </GridLayoutItems>
            </DevGridLayout>

        </BodyTemplate>
        <FooterContentTemplate>
        </FooterContentTemplate>
    </DxPopup>
}
