@page "/admin/product-group-analysis"
@layout AdminLayout

@inject StokService StokService
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs 
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Spinner

<style>
    .GridZebra table tbody tr:nth-child(odd) {
        background-color: #B5B5B5;
    }

    .GridZebra table tbody tr:nth-child(n) {
        text-align: center;
        font-weight: bold;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }

    .list {
        float: left;
        line-height: 20px;
        font: 10px;
        min-width: 280px;
    }

    .FilterCard {
        background-color: #f7f7f7;
        border: 1px solid #d6d5d5;
    }

    .Cards {
        border: 1px solid #d6d5d5;
    }

    .e-checkbox-wrapper.e-customcheck:hover .e-frame.e-check {
        background-color: #9C0D0D;
        font: 1000;
        font-size: 16px;
        font-weight: bold ;
    }
       .FilterLabelTitle{
        color:#830000;
        font-size:18px;
    }
</style>


<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="100px">
                     <br />
                    <SfCheckBox @bind-Checked="isLabelsChecked" @onchange="OnChangeLabelCheck" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Etiketleri Göster</strong></label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Zaman Periyodu:</strong></label>
                    <SfComboBox TValue="int?" TItem="ComboboxTimePeriods" @bind-Index="@selectedTimeIndex" PopupHeight="230px" Placeholder="Son 3 Ay" DataSource="@timeperiods">
                        <ComboBoxFieldSettings Text="TimeText" Value="TimeID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </td>
                <td width="200px">
                    <label class=FilterLabelTitle><strong>Verim Değeri:</strong></label>
                    <SfNumericTextBox TValue="int" @bind-Value="threshold" Placeholder="Verim Değeri Yazınız."></SfNumericTextBox>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Ürün Grubu:</strong></label>
                    <SfComboBox TValue="int?" TItem="ProductGroupsAnalysis" @bind-Index="@selectedProductIndex" PopupHeight="230px" Placeholder="ROT BAŞI" DataSource="@dataproductgroupcombobox">
                        <ComboBoxEvents TItem="ProductGroupsAnalysis" TValue="int?" ValueChange="onChange"></ComboBoxEvents> 
                        <ComboBoxFieldSettings Text="ProductGroupName" Value="ProductGroupID"></ComboBoxFieldSettings>
                    </SfComboBox>
                </td>
                <td width="50px" align="right">
                    <br />
                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000; font-size:18px; font-weight:bold" OnClick="@OnDateButtonClicked">Filtrele</SfButton>
                    @*<SfProgressButton OnClick="@OnDateButtonClicked" Content="Filtrele" IsPrimary="true">
                    <ProgressButtonSpinSettings Position="SpinPosition.Right"></ProgressButtonSpinSettings>
                    </SfProgressButton>*@
                    <SfSpinner @bind-Visible="VisibleSpinner">
                    </SfSpinner>
                </td>
                <td width="50px">
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="Cards" style="text-align:center">
    <CardContent>
        <SfChart @ref="ChartInstance" Theme="Theme.Bootstrap5" Title="@chartTitle">
            <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
            <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
            </ChartPrimaryXAxis>
            <ChartPrimaryYAxis LabelFormat="p3">
                <ChartAxisLabelStyle Size="18px" Color="black" FontWeight="bold" />
            </ChartPrimaryYAxis>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartSeriesCollection>
                <ChartSeries DataSource="@datachart" Name="Kalite" XName="Ay" YName="ScrapPercent" Width="3" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Line">
                    <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Circle">
                        <ChartDataLabel Visible="@dataLabels">
                            <ChartDataLabelFont FontWeight="bold" Size="14px" Color="darkred"></ChartDataLabelFont>
                        </ChartDataLabel>
                    </ChartMarker>
                    <ChartTrendlines>
                        <ChartTrendline Type="TrendlineTypes.Linear" Width="3" Name="Trend" Fill="#3345A7">
                            <ChartTrendlineMarker Visible="true" Width="7" Height="7" IsFilled="true" Shape="ChartShape.Diamond">
                            </ChartTrendlineMarker>
                        </ChartTrendline>
                    </ChartTrendlines>
                </ChartSeries>
            </ChartSeriesCollection>
            <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
            <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
        </SfChart>

    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<SfCard class="Cards">
    <CardContent>
        <SfGrid ID="Grid" DataSource="@dataproductgroup" @ref="Grid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
            <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
            <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
            @*<GridEvents QueryCellInfo="CellInfoHandler" TValue="ProductGroupsAnalysis"></GridEvents>*@
            <GridPageSettings PageSizes="true"></GridPageSettings>
            <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
            <GridColumns>
                <GridColumn Field=@nameof(ProductGroupsAnalysis.ProductGroupName) HeaderText="ÜRÜN GRUBU ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field=@nameof(ProductGroupsAnalysis.PlannedQuantity) HeaderText="PLANLANAN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalProduction)  HeaderText="ÜRETİLEN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalScrap) HeaderText="HURDA ADET" TextAlign="TextAlign.Center" Width="130"></GridColumn>
               @* <GridColumn Field=@nameof(ProductGroupsAnalysis.OEE) HeaderText="OEE" Format="#%" TextAlign="TextAlign.Center" Width="130"></GridColumn>*@
                <GridColumn Field=@nameof(ProductGroupsAnalysis.TotalScrap) HeaderText="DETAYLAR" TextAlign="TextAlign.Center" Width="80">
                    <Template>
                        @{
                            var row = (context as ProductGroupsAnalysis);
                                <SfButton IconCss="oi oi-spreadsheet" IsPrimary="true" style="background-color:#AD0000;" CssClass="e-btn e-secondary" OnClick="@(()=>OnDetailButtonClicked(row.ProductGroupID))"></SfButton>
                        }

                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>

    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>

@code {
    List<ProductGroupsAnalysis> dataproductgroup = new List<ProductGroupsAnalysis>();
    List<ProductGroupsAnalysis> dataproductgroupcombobox = new List<ProductGroupsAnalysis>();
    List<AdminProductChart> datachart = new List<AdminProductChart>();
    SfGrid<ProductGroupsAnalysis> Grid;
    DateTime startDate = DateTime.Today.AddDays(-90);
    DateTime endDate = DateTime.Today;
    private int? selectedTimeIndex { get; set; }
    private int? selectedProductIndex { get; set; }
    private int threshold;
    int? selectedproductID;
    string chartTitle = string.Empty;
    private double thresholddouble;
    private int frequencyChart;
    SfChart ChartInstance;
    bool VisibleSpinner = false;
    private bool isLabelsChecked = true;
    private bool dataLabels = true;

    protected override void OnInitialized()
    {
        dataproductgroup = StokService.GetProductGroupsAnalysis(startDate, endDate);
        dataproductgroupcombobox = StokService.GetProductGroupsComboboxAnalysis(startDate, endDate);
        chartTitle = dataproductgroup.Where(t=>t.ProductGroupID == 9).Select(t=>t.ProductGroupName).FirstOrDefault()+ " HURDA GRAFİĞİ";
        datachart = StokService.GetProductChart(startDate, endDate, 3, 9);
    }
     private void onChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int?, ProductGroupsAnalysis> args) 
    { 
        selectedproductID = args.Value; 
        
        StateHasChanged(); 
    }

    #region Component Metotları

    private void OnDateButtonClicked()
    {
        //VisibleSpinner = true;
        endDate = DateTime.Today;
        #region Zaman Seçimi
        if (selectedTimeIndex == 0)
        {
            startDate = DateTime.Today.AddDays(-365);
            frequencyChart = 0;
        }
        else if (selectedTimeIndex == 1)
        {
            startDate = DateTime.Today.AddDays(-273);
            frequencyChart = 1;
        }
        else if (selectedTimeIndex == 2)
        {
            startDate = DateTime.Today.AddDays(-181);
            frequencyChart = 2;
        }
        else if (selectedTimeIndex == 3)
        {
            startDate = DateTime.Today.AddDays(-90);
            frequencyChart = 3;
        }
        else if (selectedTimeIndex == 4)
        {
            startDate = DateTime.Today.AddDays(-60);
            frequencyChart = 4;
        }
        else if (selectedTimeIndex == 5)
        {
            startDate = DateTime.Today.AddDays(-30);
            frequencyChart = 5;
        }
        else if (selectedTimeIndex == 6)
        {
            startDate = DateTime.Today.AddDays(-7);
            frequencyChart = 6;
        }
        #endregion

        thresholddouble = Convert.ToDouble(threshold) / 100;
        Grid.Refresh();
        ChartInstance.RefreshAsync();
        dataproductgroup = StokService.GetProductGroupsAnalysis(startDate, endDate);
        dataproductgroupcombobox = StokService.GetProductGroupsComboboxAnalysis(startDate, endDate);
        datachart = StokService.GetProductChart(startDate, endDate, frequencyChart, selectedproductID);
        chartTitle = dataproductgroup.Where(t=>t.ProductGroupID == selectedproductID).Select(t=>t.ProductGroupName).FirstOrDefault()+ " HURDA GRAFİĞİ";
        StateHasChanged();
        //VisibleSpinner = false;
    }

    private void OnDetailButtonClicked(int stationID)
    {
        NavigationManager.NavigateTo("/admin/product-group-analysis/details" + "/" + stationID.ToString() + "/" + startDate.ToString("yyyy, MM, dd") + "/" + endDate.ToString("yyyy, MM, dd")); ;
    }

    private void OnChangeLabelCheck(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        ChartInstance.RefreshAsync();
        if (isLabelsChecked) { dataLabels = true; }
        else { dataLabels = false; }
    }

    #endregion

    


    //public void CellInfoHandler(QueryCellInfoEventArgs<ProductGroupsAnalysis> Args)
    //{
    //    if (Args.Column.Field == "OEE")
    //    {
    //        if (Args.Data.OEE < (decimal)thresholddouble)
    //        {
    //            Args.Cell.AddStyle(new string[] { "background-color: #DF0000; color: white; " });
    //        }
    //        else
    //        {
    //            Args.Cell.AddStyle(new string[] { "background-color: #37CB00; color: white;" });
    //        }
    //    }
    //    StateHasChanged();
    //}

    private List<ComboboxTimePeriods> timeperiods = new List<ComboboxTimePeriods>() {
        new ComboboxTimePeriods(){ TimeID= 1, TimeText= "Yıllık" },
        new ComboboxTimePeriods(){ TimeID= 2, TimeText= "Son 9 Ay" },
        new ComboboxTimePeriods(){ TimeID= 3, TimeText= "Son 6 Ay" },
        new ComboboxTimePeriods(){ TimeID= 4, TimeText= "Son 3 Ay" },
        new ComboboxTimePeriods(){ TimeID= 5, TimeText= "Son 2 Ay" },
        new ComboboxTimePeriods(){ TimeID= 6, TimeText= "Son 1 Ay" },
        new ComboboxTimePeriods(){ TimeID= 6, TimeText= "Son 1 Hafta" }
     };

}
