@page "/admin/machine-analysis/details/{stationID:int}/{startDate:datetime}/{endDate:datetime}"
@layout AdminLayout

@inject IIstasyonDetayService IstasyonDetayService
@inject NavigationManager NavigationManager


<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="200px">
                    <SfCheckBox @bind-Checked="isGridChecked" @onchange="OnCheckedChanged" CssClass="e-customcheck"></SfCheckBox>
                    <label class=FilterLabelTitle><strong>Detay Tablosunu Gizle</strong></label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Makina Adı:</strong></label><label class="FilterLabelTitleValue">&nbsp;@stationName</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Başlangıç Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@startDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Bitiş Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@endDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000; font-size:18px; font-weight:bold" OnClick="@OnBackButtonClicked">Geri</SfButton> <SfSpinner @bind-Visible="VisibleSpinner"> </SfSpinner>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<br />

<SfCard class="Cards">
    <CardHeader>
    </CardHeader>
    <CardContent>
        <SfTab CssClass="default-tab" OverflowMode="@OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" Width="100%">
            <TabAnimationSettings>
                <TabAnimationPrevious Effect="Syncfusion.Blazor.AnimationEffect.FadeIn"></TabAnimationPrevious>
                <TabAnimationNext Effect="Syncfusion.Blazor.AnimationEffect.FadeOut"></TabAnimationNext>
            </TabAnimationSettings>
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Duruş Kodlarına Göre Genel OEE Analiz Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Duruş Kodlarına Göre Genel OEE Analiz Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@datahaltchart" ColumnWidth="@columnwidth2" Name="Duruş Süresi" XName="Code" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@datahalt" @ref="HaltGrid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedHaltAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridAggregates>
                                        <GridAggregate>
                                            <GridAggregateColumns>
                                                <GridAggregateColumn Field="@nameof(StationDetailedHaltAnalysis.Time)" Type="AggregateType.Sum" Format="n0">
                                                    <FooterTemplate>
                                                        @{
                                                            var SumValue = (context as AggregateTemplateContext);
                                                            <div>
                                                                Toplam: @SumValue.Sum (SN.)
                                                            </div>
                                                        }
                                                    </FooterTemplate>
                                                </GridAggregateColumn>
                                            </GridAggregateColumns>
                                        </GridAggregate>

                                    </GridAggregates>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedHaltAnalysis.Code) HeaderText="DURUŞ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedHaltAnalysis.Time) Format="n0" HeaderText="DURUŞ SÜRESİ (SN.)" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        @*<GridColumn Field=@nameof(StationDetailedHaltAnalysis.Total) Format="#######" HeaderText="TOPLAM DURUŞ SÜRESİ (SN.)" TextAlign="TextAlign.Center" Width="120" ></GridColumn>*@
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Ürün Gruplarına/Kodlarına Göre Genel OEE Analiz Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <br />
                        <center>
                            &nbsp;<SfCheckBox @bind-Checked="isProductsChecked" @onchange="OnChangeProductCheck" CssClass="e-customcheck"></SfCheckBox>
                            <label class=FilterLabelTitle><strong>Yarı Mamülleri Göster</strong></label>
                        </center>
                        <br />
                        <br />
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart @ref="ChartInstance" Width="90%" Theme="Theme.Bootstrap5" Title="Ürün Gruplarına/Kodlarına Göre Genel OEE Analiz Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate90">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataproductchart" Name="Performans" XName="ProductGroup" YName="Performance" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataproduct" @ref="ProductGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedProductAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.ProductGroup) Format="#######" HeaderText="STOK GRUBU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        @*<GridColumn Field=@nameof(StationDetailedProductAnalysis.PlannedQuantity) Format="#######" HeaderText="PLANLANAN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.TotalProduction) Format="#######" HeaderText="ÜRETİLEN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.TotalScrap) Format="#######" HeaderText="HURDA ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>*@
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.PlannedUnitTime) Format="#######" HeaderText="PLANLANAN BİRİM SÜRE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.OccuredUnitTime) Format="#######" HeaderText="GERÇEKLEŞEN BİRİM SÜRE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.Performance) Format="#%" HeaderText="PERFORMANS" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Personel İsimlerine Göre Genel OEE Analizi Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Personel İsimlerine Göre Genel OEE Analizi Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate90">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataemployee" ColumnWidth="@columnwidth3" Name="Çalışma Süresi" XName="EmployeeName" YName="OEE" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards" hidden="@isGridChecked">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataemployee" @ref="EmployeeGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedEmployeeAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.EmployeeName) HeaderText="PERSONEL ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Availability) Format="p2" HeaderText="KULLANILABİLİRLİK" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Performance) Format="p2" HeaderText="PERFORMANS" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Quality) Format="p2" HeaderText="KALİTE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.OEE) Format="p2" HeaderText="OEE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>




@code {
    
}
