@page "/admin/machine-analysis/details/{stationID:int}/{startDate:datetime}/{endDate:datetime}"
@layout AdminLayout

@inject GenelOEEDetayService GenelOEEDetayService
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Charts

<style>
    .GridZebra table tbody tr:nth-child(odd) {
        background-color: #B5B5B5;
    }

    .GridZebra table tbody tr:nth-child(n) {
        text-align: center;
        font-weight: bold;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }

    .list {
        float: left;
        line-height: 20px;
        font: 10px;
        min-width: 280px;
    }

    .FilterCard {
        background-color: #f7f7f7;
        border: 1px solid #d6d5d5;
    }

    .Cards {
        border: 1px solid #d6d5d5;
    }

    .e-checkbox-wrapper.e-customcheck:hover .e-frame.e-check {
        background-color: #9C0D0D;
        font: 600;
        font-size: 16px;
        font-weight: bold;
    }

    .FilterLabelTitle {
        color: #830000;
        font-size: 18px;
    }

    .FilterLabelTitleValue {
        font-size: 18px;
    }
</style>

<SfCard class="FilterCard">
    <CardContent>
        <table width="1000px">
            <tr>
                <td width="200px">
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Makina Adı:</strong></label><label class="FilterLabelTitleValue">&nbsp;@stationName</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Başlangıç Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@startDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <label class="FilterLabelTitle"><strong>Bitiş Tarih:</strong></label><label class="FilterLabelTitleValue">&nbsp;@endDate.ToString("dd/MM/yyyy")</label>
                </td>
                <td width="200px">
                    <SfButton IsPrimary="true" CssClass="e-btn e-secondary" style="background-color:#AD0000; font-size:18px; font-weight:bold" OnClick="@OnBackButtonClicked">Geri</SfButton> <SfSpinner @bind-Visible="VisibleSpinner"> </SfSpinner>
                </td>
            </tr>
        </table>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>
<br />
<br />

<SfCard class="Cards">
    <CardHeader>
    </CardHeader>
    <CardContent>
        <SfTab CssClass="default-tab" OverflowMode="@OverflowMode.Scrollable" HeaderPlacement="HeaderPosition.Top" Width="100%">
            <TabAnimationSettings>
                <TabAnimationPrevious Effect="AnimationEffect.FadeIn"></TabAnimationPrevious>
                <TabAnimationNext Effect="AnimationEffect.FadeOut"></TabAnimationNext>
            </TabAnimationSettings>
            <TabItems>
                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Duruş Kodlarına Göre Genel OEE Analiz Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Duruş Kodlarına Göre Genel OEE Analiz Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate45">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@datahaltchart" ColumnWidth="@columnwidth2" Name="Duruş Süresi" XName="Code" YName="Percent" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@datahalt" @ref="HaltGrid" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedHaltAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridAggregates>
                                        <GridAggregate>
                                            <GridAggregateColumns>
                                                <GridAggregateColumn Field="@nameof(StationDetailedHaltAnalysis.Time)" Type="AggregateType.Sum" Format="n0">
                                                    <FooterTemplate>
                                                        @{
                                                            var SumValue = (context as AggregateTemplateContext);
                                                            <div>
                                                                Toplam: @SumValue.Sum (SN.)
                                                            </div>
                                                        }
                                                    </FooterTemplate>
                                                </GridAggregateColumn>
                                            </GridAggregateColumns>
                                        </GridAggregate>

                                    </GridAggregates>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedHaltAnalysis.Code) HeaderText="DURUŞ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedHaltAnalysis.Time) Format="n0" HeaderText="DURUŞ SÜRESİ (SN.)" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        @*<GridColumn Field=@nameof(StationDetailedHaltAnalysis.Total) Format="#######" HeaderText="TOPLAM DURUŞ SÜRESİ (SN.)" TextAlign="TextAlign.Center" Width="120" ></GridColumn>*@
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Ürün Gruplarına/Kodlarına Göre Genel OEE Analiz Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <br />
                        <center>
                            &nbsp;<SfCheckBox @bind-Checked="isProductsChecked" @onchange="OnChangeProductCheck" CssClass="e-customcheck"></SfCheckBox>
                            <label class=FilterLabelTitle><strong>Yarı Mamülleri Göster</strong></label>
                        </center>
                        <br />
                        <br />
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart @ref="ChartInstance" Width="90%" Theme="Theme.Bootstrap5" Title="Ürün Gruplarına/Kodlarına Göre Genel OEE Analiz Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate90">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataproductchart" Name="Performans" XName="ProductGroup" YName="Performance" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataproduct" @ref="ProductGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedProductAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.ProductCode) HeaderText="STOK KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.ProductGroup) Format="#######" HeaderText="STOK GRUBU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        @*<GridColumn Field=@nameof(StationDetailedProductAnalysis.PlannedQuantity) Format="#######" HeaderText="PLANLANAN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.TotalProduction) Format="#######" HeaderText="ÜRETİLEN ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.TotalScrap) Format="#######" HeaderText="HURDA ADET" TextAlign="TextAlign.Center" Width="120"></GridColumn>*@
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.PlannedUnitTime) Format="#######" HeaderText="PLANLANAN BİRİM SÜRE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.OccuredUnitTime) Format="#######" HeaderText="GERÇEKLEŞEN BİRİM SÜRE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedProductAnalysis.Performance) Format="#%" HeaderText="PERFORMANS" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>

                <TabItem>
                    <ChildContent>
                        <TabHeader Text="Personel İsimlerine Göre Genel OEE Analizi Detayları"></TabHeader>
                    </ChildContent>
                    <ContentTemplate>
                        <SfCard class="Cards" style="text-align:center">
                            <CardContent>
                                <SfChart Width="90%" Theme="Theme.Bootstrap5" Title="Personel İsimlerine Göre Genel OEE Analizi Detayları Grafiği">
                                    <ChartTitleStyle Size="22px" Color="black" FontWeight="bold"></ChartTitleStyle>
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelIntersectAction="LabelIntersectAction.Rotate90">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis LabelFormat="p2">
                                        <ChartAxisLabelStyle Size="14px" Color="black" FontWeight="bold" />
                                    </ChartPrimaryYAxis>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartSeriesCollection>
                                        <ChartSeries DataSource="@dataemployee" ColumnWidth="@columnwidth3" Name="Çalışma Süresi" XName="EmployeeName" YName="OEE" Width="1" Fill="darkred" Type="Syncfusion.Blazor.Charts.ChartSeriesType.Column">

                                        </ChartSeries>
                                    </ChartSeriesCollection>
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartZoomSettings EnableSelectionZooming="true"></ChartZoomSettings>
                                </SfChart>

                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                        <SfCard class="Cards">

                            <CardContent>
                                <SfGrid ID="Grid" DataSource="@dataemployee" @ref="EmployeeGrid" AllowPaging="true" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true"
                                        AllowSorting="true" Height="100%" Width="100%" class="GridZebra">
                                    <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="EditMode.Normal"></GridEditSettings>
                                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.FilterBar"></GridFilterSettings>
                                    <GridEvents TValue="StationDetailedEmployeeAnalysis"></GridEvents>
                                    <GridPageSettings PageSizes="true"></GridPageSettings>
                                    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                    <GridColumns>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.EmployeeName) HeaderText="PERSONEL ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Availability) Format="p2" HeaderText="KULLANILABİLİRLİK" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Performance) Format="p2" HeaderText="PERFORMANS" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.Quality) Format="p2" HeaderText="KALİTE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                        <GridColumn Field=@nameof(StationDetailedEmployeeAnalysis.OEE) Format="p2" HeaderText="OEE" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    </GridColumns>
                                </SfGrid>
                            </CardContent>
                            <CardFooter>
                            </CardFooter>
                        </SfCard>
                    </ContentTemplate>
                </TabItem>
            </TabItems>
        </SfTab>
    </CardContent>
    <CardFooter>
    </CardFooter>
</SfCard>




@code {
    List<StationDetailedProductAnalysis> dataproduct = new List<StationDetailedProductAnalysis>();
    List<StationDetailedEmployeeAnalysis> dataemployee = new List<StationDetailedEmployeeAnalysis>();
    List<StationDetailedHaltAnalysis> datahalt = new List<StationDetailedHaltAnalysis>();
    List<StationDetailedProductChart> dataproductchart = new List<StationDetailedProductChart>();
    List<StationDetailedHaltAnalysis> datahaltchart = new List<StationDetailedHaltAnalysis>();

    SfGrid<StationDetailedProductAnalysis> ProductGrid;
    SfGrid<StationDetailedEmployeeAnalysis> EmployeeGrid;
    SfGrid<StationDetailedHaltAnalysis> HaltGrid;

    SfChart ChartInstance;

    bool VisibleSpinner = false;
    private bool isProductsChecked = false;
    int products = 1;
    string stationName = string.Empty;
    double columnwidth1;
    double columnwidth2;
    double columnwidth3;

    [Parameter]
    public DateTime startDate { get; set; }

    [Parameter]
    public DateTime endDate { get; set; }

    [Parameter]
    public int stationID { get; set; }


    protected override void OnInitialized()
    {
        dataproduct = GenelOEEDetayService.GetStationDetailedProductAnalysis(stationID, startDate, endDate);
        dataemployee = GenelOEEDetayService.GetStationDetailedEmployeeAnalysis(stationID, startDate, endDate);
        datahalt = GenelOEEDetayService.GetStationDetailedHaltAnalysis(stationID, startDate, endDate);
        datahaltchart = GenelOEEDetayService.GetStationDetailedHaltAnalysisChart(stationID, startDate, endDate);
        dataproductchart = GenelOEEDetayService.GetStationDetailedProductChart(stationID, startDate, endDate, 1);
        stationName = datahalt.Select(t => t.StationName).FirstOrDefault();
        if (dataemployee.Count() <= 3)
        {
            columnwidth3 = 0.1;
        }
        if (datahaltchart.Count() <= 3)

        {
            columnwidth2 = 0.1;
        }
    }

    private void OnChangeProductCheck(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        if (isProductsChecked) { products = 2; }
        else { products = 1; }
        dataproductchart = GenelOEEDetayService.GetStationDetailedProductChart(stationID, startDate, endDate, products);
        ChartInstance.RefreshAsync();
    }

    private void OnBackButtonClicked()
    {
        this.VisibleSpinner = true;

        NavigationManager.NavigateTo("/admin/overall-oee");
    }
}
