@page "/products"
@layout MainLayout

@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.Product.Services
@using TsiErp.Entities.Entities.Product
@using TsiErp.Entities.Entities.Product.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.ProductGroup.Dtos
@using TsiErp.Entities.Entities.UnitSet.Dtos
@using TsiErp.Business.Entities.ProductGroup.Services
@using TsiErp.Business.Entities.UnitSet.Services

@inherits BaseListPage<SelectProductsDto, ListProductsDto, CreateProductsDto, UpdateProductsDto, ListProductsParameterDto>


@inject IProductsAppService ProductService
@inject IUnitSetsAppService UnitSetsAppService
@inject IProductGroupsAppService ProductGroupsAppService

@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Stok Yönetimi > Ana Kayıtlar" CurrentMenu="Stok Kartları" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" DataSource="@ListDataSource" ColumnMenuItems=@MenuItems ShowColumnMenu="true" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" AllowSelection="true" ShowColumnChooser="true" GridLines="GridLine.Both"
                                AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridEvents ContextMenuItemClicked="@OnContextMenuClick" TValue="ListProductsDto"></GridEvents>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListProductsDto.Code) HeaderText="ÜRÜN KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductsDto.Name) HeaderText="ÜRÜN ADI" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductsDto.SupplyForm) HeaderText="TEMİN ŞEKLİ" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductsDto.ProductGrp) HeaderText="ÜRÜN GRUBU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductsDto.ProductType) HeaderText="TÜR" TextAlign="TextAlign.Center" Width="120"></GridColumn>


                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>



    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Stok Kartları"
         Width="54%"
         Height="74%"
         MinWidth="920px"
         MinHeight="800px"
         HeaderCssClass="HeaderTitleCss">
        <BodyTemplate>

            <DxGridLayout CssClass="TSIGridLayout">
                <Rows>
                    <DxGridLayoutRow Height="13%" />
                    <DxGridLayoutRow Height="10%" />
                    <DxGridLayoutRow Height="12%" />
                    <DxGridLayoutRow Height="40%" />
                </Rows>
                <Columns>
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="38%" />
                    <DxGridLayoutColumn Width="16%" />
                    <DxGridLayoutColumn Width="38%" />
                    <DxGridLayoutColumn Width="4%" />
                </Columns>
                <Items>

                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Stok Kodu: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Code" Placeholder="Stok Kodu Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Stok Açıklaması: </strong></label>
                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.Name" Placeholder="Stok Açıklaması Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>İngilizce Tanım: </strong></label>
                            <SfTextBox @bind-Value="DataSource.EnglishDefinition" Placeholder="İngilizce Tanım Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="2">
                        <Template>
                            <center>
                                <label class="TSIModalLabel"><strong>Aktiflik: </strong></label><br />
                                <SfSwitch @bind-Checked="DataSource.IsActive"></SfSwitch>

                            </center>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3" RowSpan="1">
                        <Template>
                            <br/>
                            <label class="TSIModalLabel"><strong>Açıklama: </strong></label><br />
                            <SfTextBox Multiline=true CssClass="TSIMemoBox100" @bind-Value="DataSource.ProductDescription" Placeholder=" Stok Açıklamasını Yazınız."></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1" ColumnSpan="3">
                        <Template>
                            <SfTab>
                                <TabItems>
                                    <TabItem>
                                        <ChildContent>
                                            <TabHeader Text="Genel Bilgiler"></TabHeader>
                                        </ChildContent>
                                        <ContentTemplate>
                                            <DxGridLayout CssClass="TSIGridLayout">
                                                <Rows>
                                                    <DxGridLayoutRow Height="30%" />
                                                    <DxGridLayoutRow Height="25%" />
                                                    <DxGridLayoutRow Height="25%" />
                                                    <DxGridLayoutRow Height="25%" />
                                                    <DxGridLayoutRow Height="25%" />
                                                </Rows>
                                                <Columns>
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                    <DxGridLayoutColumn Width="4%" />
                                                    <DxGridLayoutColumn Width="22%" />
                                                </Columns>
                                                <Items>

                                                    <DxGridLayoutItem Row="0" Column="0">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Ürün Grup : </strong></label><br />
                                                            <SfComboBox @ref="ProductGroupsComboBox"
                                                                    TValue="string"
                                                                    TItem="ListProductGroupsDto"
                                                                    Placeholder="Ürün Grubu Seçin"
                                                                    CssClass="e-multi-column"
                                                                    Value="@DataSource.ProductGrp"
                                                                    DataSource="@ProductGroupsList"
                                                                    AllowFiltering="true"
                                                                    PopupWidth="700px"
                                                                    PopupHeight="500">

                                                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                                                <ComboBoxTemplates TItem="ListProductGroupsDto">
                                                                    <HeaderTemplate>
                                                                        <table>
                                                                            <tr>
                                                                                <th class="e-text-center">Ürün Grubu Kodu</th>
                                                                                <th class="e-text-center">Ürün Grubu Adı</th>
                                                                            </tr>
                                                                        </table>
                                                                    </HeaderTemplate>
                                                                    <ItemTemplate Context="cmbContext">

                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="e-text-center">@((cmbContext as ListProductGroupsDto).Code)</td>
                                                                                    <td class="e-text-center">@((cmbContext as ListProductGroupsDto).Name)</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </ItemTemplate>
                                                                </ComboBoxTemplates>

                                                                <ComboBoxEvents TValue="string"
                                                                            TItem="ListProductGroupsDto"
                                                                            Filtering="ProductGroupFiltering"
                                                                            ValueChange="ProductGroupValueChangeHandler"></ComboBoxEvents>

                                                            </SfComboBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="2">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Temin Şekli : </strong></label><br />
                                                            <SfNumericTextBox @bind-Value="DataSource.SupplyForm" Placeholder="Temin Şeklini Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="4">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>Stok Boyu : </strong></label><br />
                                                            <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.ProductSize" Placeholder="Stok Boyunu Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="0" Column="6">
                                                        <Template>
                                                            <br />
                                                            <label class="TSIModalLabel"><strong>GTIP: </strong></label>
                                                            <SfTextBox CssClass="TSITxtBox" @bind-Value="DataSource.GTIP" Placeholder="GTIP Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Birim Seti : </strong></label><br />
                                                            <SfComboBox @ref="UnitSetsComboBox"
                                                                    TValue="string"
                                                                    TItem="ListUnitSetsDto"
                                                                    Placeholder="Birim Seti Seçin"
                                                                    CssClass="e-multi-column"
                                                                    Value="@DataSource.UnitSet"
                                                                    DataSource="@UnitSetsList"
                                                                    AllowFiltering="true"
                                                                    PopupWidth="700px"
                                                                    PopupHeight="500">

                                                                <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                                                <ComboBoxTemplates TItem="ListUnitSetsDto">
                                                                    <HeaderTemplate>
                                                                        <table>
                                                                            <tr>
                                                                                <th class="e-text-center">Birim Seti Kodu</th>
                                                                                <th class="e-text-center">Birim Seti Adı</th>
                                                                            </tr>
                                                                        </table>
                                                                    </HeaderTemplate>
                                                                    <ItemTemplate Context="cmbContext">

                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="e-text-center">@((cmbContext as ListUnitSetsDto).Code)</td>
                                                                                    <td class="e-text-center">@((cmbContext as ListUnitSetsDto).Name)</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </ItemTemplate>
                                                                </ComboBoxTemplates>

                                                                <ComboBoxEvents TValue="string"
                                                                            TItem="ListUnitSetsDto"
                                                                            Filtering="UnitSetFiltering"
                                                                            ValueChange="UnitSetValueChangeHandler"></ComboBoxEvents>

                                                            </SfComboBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong> Testere Fire: </strong></label><br />
                                                            <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.SawWastage" Placeholder=" Testere Fireyi Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Stok Türü: </strong></label>
                                                            <SfNumericTextBox @bind-Value="DataSource.ProductType" Placeholder="Stok Türünü Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="1" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Üretici Firma Kodu: </strong></label><br />
                                                            <SfTextBox @bind-Value="DataSource.ManufacturerCode" Placeholder=" Üretici Firma Kodu Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Özellik Seti: </strong></label><br />
                                                            <SfTextBox @bind-Value="DataSource.FeatureSet" Placeholder=" Özellik Seti Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Satış KDV: </strong></label>
                                                            <SfNumericTextBox @bind-Value="DataSource.SaleVAT" Placeholder="Satış KDV Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Satın Alma KDV: </strong></label>
                                                            <SfNumericTextBox @bind-Value="DataSource.PurchaseVAT" Placeholder="Satın Alma KDV Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="2" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>İhracat Kategori No: </strong></label>
                                                            <SfTextBox @bind-Value="DataSource.ExportCatNo" Placeholder="İhracat Kategori Numarasını Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>OemRefNo: </strong></label><br />
                                                            <SfTextBox @bind-Value="DataSource.OemRefNo" Placeholder=" OemRefNo Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>OemRefNo2: </strong></label><br />
                                                            <SfTextBox @bind-Value="DataSource.OemRefNo2" Placeholder=" OemRefNo Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>OemRefNo3: </strong></label><br />
                                                            <SfTextBox @bind-Value="DataSource.OemRefNo3" Placeholder=" OemRefNo Yazınız."></SfTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="3" Column="6">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Planlanan Fire: </strong></label>
                                                            <SfNumericTextBox @bind-Value="DataSource.PlannedWastage" Placeholder="Planlanan Fireyi Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="0">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Kaplama Ağırlığı: </strong></label><br />
                                                            <SfNumericTextBox TValue="decimal" @bind-Value="DataSource.CoatingWeight" Placeholder=" Kaplama Ağırlığını Yazınız."></SfNumericTextBox>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="2">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Onay: </strong></label><br />
                                                            <SfSwitch @bind-Checked="DataSource.Confirmation"></SfSwitch>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                    <DxGridLayoutItem Row="4" Column="4">
                                                        <Template>
                                                            <label class="TSIModalLabel"><strong>Teknik Onay: </strong></label><br />
                                                            <SfSwitch @bind-Checked="DataSource.TechnicalConfirmation"></SfSwitch>
                                                        </Template>
                                                    </DxGridLayoutItem>

                                                </Items>
                                            </DxGridLayout>
                                        </ContentTemplate>
                                    </TabItem>

                                </TabItems>
                            </SfTab>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>

}



