@page "/exchange-rates"
@layout MainLayout

@using Syncfusion.Blazor.Buttons
@using Tsi.Blazor.Component.Core.Components.Commons.Loadings
@using TsiErp.Business.Entities.ExchangeRate.Services
@using TsiErp.Entities.Entities.ExchangeRate
@using TsiErp.Entities.Entities.ExchangeRate.Dtos
@using TsiErp.ErpUI.Pages.Base
@using Tsi.Blazor.Component.Core.Components.Layouts
@using TsiErp.Entities.Entities.Currency.Dtos
@using TsiErp.Business.Entities.Currency.Services

@inherits BaseListPage<SelectExchangeRatesDto, ListExchangeRatesDto, CreateExchangeRatesDto, UpdateExchangeRatesDto, ListExchangeRatesParameterDto>

@inject IExchangeRatesAppService ExchangeRatesService
@inject ICurrenciesAppService CurrenciesAppService


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" RowHeights="@RowHeights("*")">
        <GridLayoutItems>
            <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <TsiBreadCrumb PreviousMenus="Genel Sistem Tanımlamarı" CurrentMenu="Döviz Kuru Tablosu" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">
                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" Toolbar="@ToolBarItems" AllowPdfExport=true  ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="false" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true"
                                AllowExcelExport="true" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" ContextMenuItems="@GridContextMenu">
                                <GridEvents  OnToolbarClick="ToolbarClickHandler"ContextMenuItemClicked="@OnContextMenuClick" TValue="ListExchangeRatesDto"></GridEvents>
                                                               <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>
                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                                <GridPageSettings PageSizes="true"></GridPageSettings>
                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                                <GridColumns>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.CurrencyCode) HeaderText="PARA BİRİMİ KODU" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.Date) HeaderText="TARİH" Format="dd.MM.yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.BuyingRate) HeaderText="ALIŞ KURU" Format="N2"  Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.EffectiveBuyingRate) HeaderText="EFEKTİF ALIŞ KURU" Format="N2" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.SaleRate) HeaderText="SATIŞ KURU" Format="N2" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListExchangeRatesDto.EffectiveSaleRate) HeaderText="EFEKTİF SATIŞ KURU" Format="N2" Type="ColumnType.Number" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Kurlar"
         Width="39%"
         Height="31%"
         MinWidth="740px"
         MinHeight="330px"
         HeaderCssClass="HeaderTitleCss"
         Showing="CrudModalShowing"
         Closing="CrudModalClosing">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="35%" />
                    <DxGridLayoutRow Height="1%" />
                    <DxGridLayoutRow Height="25%" />
                    <DxGridLayoutRow Height="1%" />
                    <DxGridLayoutRow Height="25%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="5%" />
                    <DxGridLayoutColumn Width="41%" />
                    <DxGridLayoutColumn Width="5%" />
                    <DxGridLayoutColumn Width="41%" />
                    <DxGridLayoutColumn Width="5%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Para Birimi Kodu: </strong></label>
                           <SfComboBox @ref="CurrenciesComboBox"
                                    TValue="string"
                                    TItem="ListCurrenciesDto"
                                    Placeholder="Para Birimi Seçin"
                                    CssClass="e-multi-column"
                                    Value="DataSource.CurrencyCode"
                                    DataSource="@CurrenciesList"
                                    AllowFiltering="true"
                                    PopupWidth="700px"
                                    PopupHeight="500">

                                    <ComboBoxFieldSettings Text="Name" Value="Name"></ComboBoxFieldSettings>

                                    <ComboBoxTemplates TItem="ListCurrenciesDto">
                                        <HeaderTemplate>
                                            <table>
                                                <tr>
                                                    <th class="e-text-center">Para Birimi Kodu</th>
                                                    <th class="e-text-center">Para Birimi Adı</th>
                                                </tr>
                                            </table>
                                        </HeaderTemplate>
                                        <ItemTemplate Context="cmbContext">

                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Code)</td>
                                                        <td class="e-text-center">@((cmbContext as ListCurrenciesDto).Name)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ItemTemplate>
                                    </ComboBoxTemplates>

                                    <ComboBoxEvents TValue="string"
                                            TItem="ListCurrenciesDto"
                                            Filtering="CurrencyFiltering"
                                            ValueChange="CurrencyValueChangeHandler"></ComboBoxEvents>
                                </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Tarih: </strong></label>
                           <SfDatePicker @bind-Value="DataSource.Date"></SfDatePicker>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Alış Kuru: </strong></label><br />
                            <SfNumericTextBox TValue="decimal" Placeholder="Alış Kurunu Yazınız." @bind-Value="DataSource.BuyingRate"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Satış Kuru: </strong></label><br />
                            <SfNumericTextBox TValue="decimal" Placeholder="Satış Kurunu Yazınız." @bind-Value="DataSource.SaleRate"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                     <DxGridLayoutItem Row="4" Column="1">
                        <Template>
                            <label class="TSIModalLabel"><strong>Efektif Alış Kuru: </strong></label><br />
                            <SfNumericTextBox TValue="decimal" Placeholder="Alış Kurunu Yazınız." @bind-Value="DataSource.EffectiveBuyingRate"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="4" Column="3">
                        <Template>
                            <label class="TSIModalLabel"><strong>Efektif Satış Kuru: </strong></label><br />
                            <SfNumericTextBox TValue="decimal" Placeholder="Satış Kurunu Yazınız." @bind-Value="DataSource.EffectiveSaleRate"></SfNumericTextBox>
                        </Template>
                    </DxGridLayoutItem>

                </Items>
            </DxGridLayout>
        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="TSISaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="TSICancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}


